<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="about">
        <h6>About</h6>
        <p class="text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium pariatur quaerat, itaque consequuntur quibusdam amet cupiditate eligendi quod esse deleniti ipsam atque animi enim, aspernatur in quam dolores cumque optio suscipit? Molestiae nobis suscipit mollitia facilis molestias illum laboriosam eos harum est quo et explicabo beatae, assumenda labore neque, totam ratione? Eveniet ducimus pariatur qui nihil quaerat, corporis asperiores amet tempore saepe excepturi temporibus tenetur eligendi illum animi nobis atque accusantium aut quibusdam est impedit. Nam officiis reiciendis et omnis sint neque! Ratione quaerat quidem tenetur quae praesentium vitae laborum incidunt suscipit error? In veritatis illo pariatur iusto fugit autem!
        </p>
      </div>
      <div class="quick-links">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a target="_blank" target="_blank" href="https://www.medplusmart.com/diagnostics">About Us</a></li>
          <li><a target="_blank" href="https://www.medplusmart.com/diagnostics">Contact Us</a></li>
          <li>
            <a target="_blank" href="https://www.medplusmart.com/diagnostics"
              >Contribute</a
            >
          </li>
          <li>
            <a target="_blank" href="https://www.medplusmart.com/diagnostics">Privacy Policy</a>
          </li>
          <li><a target="_blank" href="https://www.medplusmart.com/diagnostics">Sitemap</a></li>
        </ul>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row1">
      <div class="copy-right-container">
        <p class="copyright-text">
          Copyright &copy; 2017 All Rights Reserved by
          <a target="_blank" href="#">Scanfcode</a>.
        </p>
      </div>

      <div class="social-icons">
        <ul class="social-icons">
            <li>
              <a target="_blank" class="facebook" href="#"><mat-icon>facebook</mat-icon></a>
            </li>
            <li>
              <a target="_blank" class="twitter" href="#"><mat-icon>facebook</mat-icon></a>
            </li>
            <li>
              <a target="_blank" class="linkedin" href="#"><mat-icon>facebook</mat-icon></a>
            </li>
            <li>
              <a target="_blank" class="dribbble" href="#"><mat-icon>facebook</mat-icon></a>
            </li>
            
        </ul>
      </div>
    </div>
  </div>
</footer>
