table {
    margin-top: 1rem;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

.easy {
    color: green;
}

.medium {
    color: orange;
}

.hard {
    color: red;
}

.tags {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}