<app-login-navbar></app-login-navbar>
<div class="main">
  <div class="sign">
    <form [formGroup]="login">
      <br><br><br>
      <h2>Customer Sign In</h2>
      <div class="input">
        <input id="in" type="text" name="email" placeholder="email" formControlName="email">
          <p style="color: red; text-align: center;" *ngIf="submit && formData['email'].hasError('required')">Email is required</p>
          <p style="color: red; text-align: center;" *ngIf="submit && formData['email'].hasError('email')">Email is invalid</p>
          <br><br>
        <input id="in" type="text" name="password" placeholder="password" formControlName="password"> <br><br><br>
          <p *ngIf="submit && formData['password'].hasError('required')">Password required</p>

        <button type="submit" class="btn" (click)="customerLogin(); submit=true">Login</button>

        <p>{{msg}}</p>
        <div class="check">
          <div class="new">
            <h4>New User?</h4>
            <a routerLink="../customerregister">
              <button class="register">
                Register Now
              </button>
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
