<app-login-navbar></app-login-navbar>
<div class="main">
  <div class="sign">
    <form [formGroup]="login">
      <br><br><br>
      <h2>Customer Sign In</h2>
      <div class="input">
        <input id="in" type="text" name="email" placeholder="email" formControlName="email">
          <br><br>
        <input id="in" type="text" name="password" placeholder="password" formControlName="password"> <br><br><br>
        <button type="submit" class="btn" (click)="customerLogin()">Login</button>
        <p>{{msg}}</p>
        <div class="check">
          <div class="new">
            <h4>New User?</h4>
            <a routerLink="../customerregister">
              <button class="register">
                Register Now
              </button>
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
