body{
    margin-top: 12px;
    background: #ffffff url("payment.jpg") no-repeat right top;
}
.Box{
    width: 65%;
    height: 95vh;
    border:1px solid black;
    margin: auto;
    /* background-color: azure; */
    border-radius: 10px;
    color: #ebebf3;
    background: #ffffff url("account.webp") no-repeat right top;
}

.form{
    margin: 10px;
    color: black;
}

.submit{
    width:100%;
    border-radius: 7px;
    /* background-color: rgb(97, 235, 235); */
}