
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static  'static/css/css1.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
.<div class="navbar">
    <ul class="list1">
        <li>College Management System</li>
        <li> <a href="{% url 'student' %} "> Student login</a> </li>
        <li> <a href="{% url 'staff' %}">  Staff login</a> </li>
        <li>  <a href=""> Hod login </a></li>
    </ul>
</div>
</body>
</html>



{% block content %}

{% endblock %}
