<app-navbar></app-navbar>
<div *ngIf="employeeform" class="editprofile">
    <form [formGroup]="employeeform" (ngSubmit)="editprofile()">
    <label class="label">employee name : </label>
    <input type="text" formControlName="emp_name" ><br>
    <label class="label">employee mobile number : </label>
    <input type="text" formControlName="emp_mobile" ><br>
    <label class="label">employee email : </label>
    <input type="text" formControlName="emp_email"><br>
    <label class="label">employee role : </label>
    <input type="text" formControlName="emp_role" ><br>
    <label class="label">employee password : </label>
    <input type="text" formControlName="emp_password"><br>
    <label class="label">Fcility ID  : </label>
    <input type="text" formControlName="facility_id"><br>
    <button>submit</button>
    </form>
    </div>