
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        align-items: center;
        font-size: 50px;

    }
    form{
        align-items: center;
    }
</style>

<body>
    <h2>url shortner</h2>
    <form  id="form">
        {% csrf_token %}
        <input type="text" required id="link" name="link" placeholder="Enter url here">
        <button id="submit" name="submit" type="submit">submit</button>
    </form>
    <h3></h3>
    <script type="text/javascript">
        $(document).on('submit','#form',function(e){
            e.preventDefault();
            $.ajax({  
                type:'POST',
                url:'create',
                data:{
                    link:$('#link').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(data){
                     $('h3').html("localhost:8000/"+data)
                }
            });

        });
    </script>
</body>

</html>