<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    {% include 'nav.html'%}
</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>

{% include 'sample.html' %}
{% block content %}
name-{{name}} <br>
list elements are-
{% for i in data %}
{{i}}
{% endfor %}
<br>
{% if name == "shyam" %}
gender -{{Gender}} <br>
{% endif %}
reversed elements are -
{% for i in data reversed %}
{{i}}
{% endfor %}
<br>
{% comment %}
{% include 'basic.html' %}
{% endcomment %}
<br>

{% for key, value in context.items %}
    {{ key }}: {{ value }}<br>
{% endfor %}

length 0f dictionary of context -{{ context | length }}<br>
length 0f  list in context.data list -{{ context.data | length }}
<br>
<h2>length of name - </h2>{{ context.name | length }}
<h2>length of list-</h2>  {{ context.data | length }}
<h2>name is in uppercase-</h2> {{ context.name | upper }}
<h2>name is in lowercase-</h2>  {{ context.name | lower }}<br>
<h2>wordcount of name-</h2> {{ context.name | wordcount }}<br>
<h2>context title-</h2> {{ context | title }}<br>
<h2>slugify of context- </h2> {{ context | slugify }}<br>
<h2>joining of context dictionary-</h2> <p> {{ context| join:"/" }}</p>
<h2>joining of context.data list-</h2> {{ context.data| join:"//" }}





{{ context.data | length }}
{{ context.name | length }}<br>

<ul>
{% for athlete in context.data %}
    <li>{{ athlete.0 }}</li>
{% empty %}
    <li>Sorry, no athletes in this list.</li>
{% endfor %}
</ul>


{% endblock %}






</body>
</html>