<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<header class="header">
        <div class="container">
            <h1 class="logo">My Company</h1>
            <nav class="navbar">
				<a th:href="@{/Main}">Home</a>
                <a th:href="@{/about}">About</a>
                <a href="#services">Services</a>
                <a href="#contact">Contact</a>
            </nav>
        </div>
    </header>
</body>
</html>