<mat-checkbox>Check out<mat-checkbox>
<mat-card>
  <mat-card-title>Greeting Card</mat-card-title>
  <mat-card-subtitle>Hello</mat-card-subtitle>
  <mat-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit numquam explicabo </mat-card-content>
  <img mat-card-image src="https://rukminim1.flixcart.com/image/416/416/kg6vfrk0/card/9/h/w/1-gft00333-greeting-giftics-original-imafwhqh6zjggegf.jpeg?q=70">
  <mat-card-actions>

    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>

  </mat-card-actions>
  <mat-card-footer>Like</mat-card-footer>
</mat-card>
