<mat-card>
  <mat-card-title>Doctor's Registration Form</mat-card-title>
<div class="container">
  <form [formGroup]="formdoc" (ngSubmit)="saveDetails(formdoc)">
     <mat-form-field appearance="standard">
         <mat-label>Name</mat-label>
          <input matInput maxlength="15" inputmode="text" placeholder="Type name" formControlName="name" #nameInput>
          <mat-hint>Mini character : {{ nameInput.value.length }}/10</mat-hint>
          <mat-error>Name is required</mat-error>
          <mat-error *ngIf="formdoc.controls['name'].errors?.['minlength']">
              Please enter more than 10 character
          </mat-error>
      </mat-form-field>
     <mat-form-field appearance="standard">
        <mat-label>Contact Number</mat-label>
        <input matInput maxlength="10" inputmode="tel" placeholder="Type phone no" formControlName="phone_no" #phonenoInput>
        <mat-hint>Mini character : {{phonenoInput.value.length }}/10</mat-hint>
        <mat-error>phone no is required</mat-error>
        <mat-error *ngIf="formdoc.controls['phone_no'].errors?.['minlength']">
            Please enter 10 Number
        </mat-error>
    </mat-form-field>
    <div class="example-container">
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Age</mat-label>
        <input matInput type="number" class=""  formControlName="age" placeholder="0">
        <span matSuffix>years</span>
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Years Of Experience</mat-label>
        <input matInput type="number" class=""  formControlName="experience" placeholder="0">
        <span matSuffix>years</span>
      </mat-form-field>
    </div>

     <mat-form-field appearance="legacy" style="margin-left: 20% ;" >
          <mat-label >Email Address:</mat-label>
          <input matInput type="email" formControlName="email" placeholder="Your email" >
          <mat-icon matSuffix>mail_outline</mat-icon>
          <mat-hint>Input the fully qualified email address</mat-hint>
          <mat-error *ngIf="formdoc.controls['email'].errors?.['required']">Email is required</mat-error>
          <mat-error *ngIf="formdoc.controls['email'].errors?.['pattern']">Please enter valid email</mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" style="margin-left: 2% ;" >
          <mat-label>Address:</mat-label>
          <textarea matInput placeholder="address" formControlName="address"></textarea>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Qualifications</mat-label>
        <input matInput maxlength="15" inputmode="text" placeholder="Type your salary id if any" formControlName="qualification">
    </mat-form-field>

      <div style="margin-top:10px;">
          <div style="margin-right:3%; color:#6b6b6b;">
              <mat-label>Gender</mat-label>
          </div>
          <mat-radio-group formControlName="gender">
              <mat-radio-button value="M">Male</mat-radio-button>
              <mat-radio-button value="F">Female</mat-radio-button>
          </mat-radio-group>
      </div>
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
      </div>

      <div mat-dialog-actions align="end">
        <div class="example-button-row">
          <button mat-raised-button color="primary"  routerLink="/newuser">Back</button>
        </div>
        <router-outlet></router-outlet>
          <button mat-raised-button color="primary" type="submit" [disabled]="!formdoc.valid">Submit</button>
      </div>

  </form>

  <div>{{ formdoc.value | json }}</div>
</div>
</mat-card>
