<app-cheader></app-cheader>
<ul>
    <li *ngFor="let object of proposalDetails">
        <div>
            <table>
                <tr>
                    <th>PROPOSAL ID : </th>
                    <th class="tabledata">{{ object.proprosal_id}}</th>

                </tr>
                <tr>
                    <td>FREELANCER ID :</td>
                    <td class="tabledata">{{object.freelancer_id}}</td>
                </tr>
                <tr>
                    <td>JOB ID :</td>
                    <td class="tabledata">{{object.job_id}}</td>
                </tr>
                <tr>
                    <td>BIDDING AMOUNT : </td>
                    <td class="tabledata">$ {{ object.requried_pay }}</td>

                </tr>
                <tr>
                    <td>SKILLS :</td>
                    <td class="tabledata"> {{ object.skills}}</td>
                </tr>
                <tr>
                    <td>COVER LETTER :</td>
                    <td class="tabledata"> {{ object.cover_letter}}</td>

                </tr>
                <div *ngIf="object.proprosal_status==='accepted'">
                <tr>
                    <td>PROPROSAL STATUS  :</td>
                    <td style="color:green;">{{ object.proprosal_status | uppercase }}</td>
                </tr>
                </div>

            </table>
            <div *ngIf="object.proprosal_status==='rejected'">
                <button type="button" (click)="CreateContract(object)">ACCEPT
                    PROPOSAL</button> &nbsp; <button type="button">REJECT PROPOSAL</button>
            </div>
        </div>

    </li>
</ul>

<app-cfooter></app-cfooter>