<app-cheader></app-cheader>
<div class="main">
    <div class="nodata" *ngIf="proposalDetails==''" style="background-color: white;">

        <img src="https://cdn.dribbble.com/users/2394319/screenshots/4773525/media/3abebd7f14032c54245cb54cf48d17a3.png?compress=1&resize=800x600&vertical=top"
            alt="">
        <h4>No proposals found </h4> <br>
        <!-- <h5>To post a job now <a href="" routerLink="../post_a_job">click here</a> </h5> -->

    </div>
    <ul *ngIf="proposalDetails">
        <li *ngFor="let object of proposalDetails">
            <div>
                <table>
                    <tr>
                        <th class="tablehead">PROPOSAL ID : </th>
                        <th class="tabledata">{{ object.proprosal_id}}</th>

                    </tr>
                    <tr>
                        <td class="tablehead">FREELANCER ID :</td>
                        <td class="tabledata">{{object.freelancer_id}}</td>
                    </tr>
                    <tr>
                        <td class="tablehead">JOB ID :</td>
                        <td class="tabledata">{{object.job_id}}</td>
                    </tr>
                    <tr>
                        <td class="tablehead">BIDDING AMOUNT : </td>
                        <td class="tabledata">$ {{ object.requried_pay }}</td>

                    </tr>
                    <tr>
                        <td class="tablehead">SKILLS :</td>
                        <td class="tabledata"> {{ object.skills}}</td>
                    </tr>
                    <tr>
                        <td class="tablehead">COVER LETTER :</td>
                        <td class="tabledata"> {{ object.cover_letter}}</td>

                    </tr>

                    <div *ngIf="object.proprosal_status==='accepted'">
                        <tr>
                            <td class="tablehead">PROPROSAL STATUS :</td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <td style="color:green;">{{ object.proprosal_status | uppercase }}</td>
                        </tr>
                    </div>

                </table>
                <div *ngIf="object.proprosal_status==='pending for approval'">
                    <button type="button" (click)="CreateContract(object)">ACCEPT
                        PROPOSAL</button> &nbsp; <button type="button" (click)="rejectProposal(object)">REJECT
                        PROPOSAL</button>
                </div>
            </div>

        </li>
    </ul>
</div>

<app-cfooter></app-cfooter>