<app-navbar></app-navbar>
<div class="body">
  <div class="main">
<form [formGroup]="loginForm" class="form-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
            <br><br>
            <small>{{errorMessage}}</small>
            
      <small *ngIf="formNotValid"
        >Please Fill All required details</small
      >
    </mat-card-header>
    <br/>
    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>username</mat-label>
            <input formControlName="username" matInput placeholder="username" />
          </mat-form-field>
          <small
            class="text-danger"
            *ngIf="
              loginForm.get('username')?.invalid &&
              loginForm.get('username')?.touched
            "
            >username is required</small
          >
        </div>
      </div>

      <div class="col-md-6">
        <mat-form-field class="full-width" appearance="outline">
          <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput placeholder="password" />
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 
            'visibility_off'}}</mat-icon>
          <mat-label>password</mat-label>
        </mat-form-field>

        <small
          class="text-danger"
          *ngIf="
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched
          "
          >password is required</small
        >
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button (click)="submitLogin()" mat-raised-button="" color="primary">
        Login
      </button>
      <button  routerLink="../registerstudent" mat-raised-button="" color="primary" >
        New user? create an account
      </button>
    </mat-card-actions>
  </mat-card>
</form>
</div>
</div>