.full-width {
    width: 100%;
}

.top-padding {
    padding-top: 3px;
}
.body{
   
    height: 52.4rem;
    width: 100%;
    background-color: grey;
    background-image: url("src\assets\images\image5.png");
    background-size:cover;
    background-repeat: no-repeat;
}


.form-container {

    margin:auto;
    width: 25rem;
  
    
}

.field {
    
    width: 20rem;
    
}
.mat-card{
  
    background-color: rgb(228, 234, 235);

}
.main{
    /* margin-top: 100px; */
    /* margin-left: 70px;
    margin-right: 100px; */
   
    padding-top: 15rem;
   
  
  }
  small{
    color: red;
  }
  