<app-navbar></app-navbar>
<div class="find">
  <div class="search">
    <!-- <div class="date">

      <input
        type="date"
        #fromDate
      />
      <input
        type="date"
        #toDate
      />
      <button type="button" (click)="checkDate(fromDate.value, toDate.value)"
        class="btn btn-outline-primary"
        placeholder="Check">
      </button>


    </div> -->

    <div class="input-group">
      <!-- <input
        type="search"
        #search
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
      /> -->
      <!-- <button
        type="button"
        class="btn btn-outline-primary"
        (click)="searchVehicle(search.value)"
      >
        search
      </button> -->
        <input
        [(ngModel)]="text" (input)="searchVehicle()"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
      />
    </div>
  </div>
  <div class="select" style="padding-top: 10px">
    Filter :
    <select name="sort" id="" (change)="sort($event)">
      <option value="">All</option>
      <option value="Car">Car</option>
      <option value="Bike">Bike</option>
    </select>
  </div>
</div>

<div class="main"  *ngIf="response.length==0">
  <h1 style="text-align:center;">No result found</h1>
</div>

<div *ngIf="response.length>0" class="main row m-auto mt-3 mb-5 pb-3 pt-3">
  <div *ngFor="let vehicle of response" class="subDiv col-12 col-sm-7 col-md-4 col-lg-3 mb-3">
    <div class="">
      <div class=" img">
        <img
          src="{{ vehicle.image }}"
          width="100%"
          height="200"
          alt="ldasjvb"
        />
      </div>
      <h4 style="color:brown">{{ vehicle.brand }}</h4>
      <p style="color:green" class="card-text">
        {{ vehicle.model }}
      </p>
      <p><b> Rs {{ vehicle.price_day }} per Day</b></p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button
            type="button"
            (click)="bookVehicle(vehicle.vehicle_no)"
            class="btn btn-warning"
          >
            Book
          </button>
        </div>
      </div>
    </div>
  </div>
</div>





