<form action="{% url 'students:filterByBranch' %}" method="POST">
    {% csrf_token %}
    <select name="branch_selected">
        <option value="Mechanical Engineering">Mechanical Engineering</option>
        <option value="Civil Engineering">Civil Engineering</option>
        <option value="Electrical Engineering">Electrical Engineering</option>
        <option value="Computer science">Computer Science Engineering</option>
        <option value="Information Technology">IT Engineering</option>
    </select>
    <input type="submit" value="filter">
</form>

<form action="{% url 'students:searchByID' %}" method="POST">
    {% csrf_token %}
    <label for="student_id">Search By Student ID</label>
    <input type="text", name="student_id">
    <input type="submit", value="Search">
</form>
<table border="1" >
    <tr>
        <th>Student's Full Name</th>
        <th>Branch</th>
        <th>Date of Birth</th>
        <th>More Details</th>
        <th>Edit Student Details</th>
    </tr>
    {% for student in students %}
    <tr>
        <td>{{student.first_name}} {{student.last_name}}</td>
        <td>{{student.branch}}</td>
        <td>{{student.date_of_birth}}</td>
        <td><a href="{% url 'students:studentDetails' student.id %}">Click Here!</a></td>
        <td><a href="">Edit Details</a></td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'students:form' %}">Add Student+</a>