/AreaCalculator.class
/Barking.class
/Comparision.class
/DigitSum.class
/EqualSumChecker.class
/MethodChallenge.class
/MinuteToYearAndDayCalculator.class
/TeenNumberCheck.class
/Typeconversion.class
/UsingAsciiValues.class
/speedConverter.class
