/IdentifyPalindrome.class
/SumEvenDigits.class
/HasSameLastDigit.class
/PrintFactors.class
/GetGreatestCommonDivisor.class
/hasSharedDigit.class
/HasSharedDigit.class
/IsPerfectNumber.class
/NumberToWords.class
