.searchbar{
    width: 250px;
}
#profilepic{
    width: 250px;
    height: 250px;
}
.search{
    display: flex;
    flex-direction: column;
}
.btnele{
    border:0ch;
    width: 220px;
    /* height: 0px; */
}
.navbarmain{
    position: relative;
}
.names{
  margin-left: 76%;
  position: fixed;
}