<mat-toolbar color="primary">
    <span>My App</span>
    <a routerLink="/homepage" style="text-decoration:none; color:white"><button  mat-button class="example-icon favorite-icon">
        Home
      </button></a>
    <a routerLink="/about" style="text-decoration:none; color:white"><button  mat-button class="example-icon favorite-icon">
        Orders
    </button></a>
    <a routerLink="/about" style="text-decoration:none; color:white"><button  mat-button class="example-icon favorite-icon">
        Cart
    </button></a>
    <a routerLink="/about" style="text-decoration:none; color:white"><button  mat-button class="example-icon favorite-icon">
        About
    </button></a>
    <a routerLink="/contact" style="text-decoration:none; color:white"><button  mat-button class="example-icon favorite-icon">
        Contact
    </button></a>
    <span class="example-spacer"></span>
    <a routerLink="/login" style="text-decoration:none; color:white"><button  mat-raised-button class="example-icon favorite-icon" color="warn">
        Login
    </button></a>
    <a routerLink="" style="text-decoration:none; color:white"><button  mat-raised-button class="example-icon favorite-icon" color="warn">
        Logout
    </button></a>
  </mat-toolbar>