<form class="container" formGroupName="profileForm">
    <div class="form-outline">
        <label class="form-label" for="typeText">Full Name</label>
        <input type="text" id="typeText" class="form-control" />
    </div>
    <div class="form-outline">
        <label class="form-label" for="typeText">Text input</label>
        <input type="text" id="typeText" class="form-control" />
    </div>
    <div class="form-outline">
        <input type="text" id="form16" class="form-control" data-mdb-showcounter="true" maxlength="20" />
        <label class="form-label" for="form16">Example label</label>
        <div class="form-helper"></div>
      </div>
    <div class="form-outline">
        <label class="form-label" for="typeText">Text input</label>
        <input type="text" id="typeText" class="form-control" />
    </div>
    <div class="form-outline">
        <label class="form-label" for="typeText">Text input</label>
        <input type="text" id="typeText" class="form-control" />
    </div>
    <div class="form-outline">
        <label class="form-label" for="typeText">Text input</label>
        <input type="text" id="typeText" class="form-control" />
    </div>
</form>