<section class="body">
  <h1>PROBLEMS</h1>
  <div class="tbl-header">

<table id="dtBasicExample" cellpadding="0" cellspacing="0" border="0">
    <thead>
      <tr>
        <th class="th-sm">Problem
  
        </th>
        <th clickable (click)="sort_based_on_diff()" class="th-sm">Difficulty
          <i *ngIf="sortBasedOnDifficulty == 0" class="bi bi-filter-square"></i>
          <i *ngIf="sortBasedOnDifficulty == 1" class="bi bi-sort-up-alt"></i>
          <i *ngIf="sortBasedOnDifficulty == -1" class="bi bi-sort-down"></i>
        </th>
        <th clickable (click)="sort_based_on_acc()" class="th-sm">Accuracy
          <i *ngIf="sortBasedOnAccuracy == 0" class="bi bi-filter-square"></i>
          <i *ngIf="sortBasedOnAccuracy == -1" class="bi bi-sort-down"></i>
          <i *ngIf="sortBasedOnAccuracy == 1" class="bi bi-sort-up-alt"></i>
        </th>
        <th class="th-sm">Likes Ratio
  
        </th>
      </tr>
    </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr clickable *ngFor="let problem of problems">
        <td clickable (click)="getProblem(problem.problem_id)">{{ problem.problem_name }}</td>
        <td class="easy" *ngIf="problem.difficulty_level === 0">Easy</td>
            <td class="medium" *ngIf="problem.difficulty_level === 1">Medium</td>
            <td class="hard" *ngIf="problem.difficulty_level === 2">Hard</td>
        <td>{{ problem.accuracy }}%</td>
        <td *ngIf="problem.likes > 0">{{ (problem.likes / (problem.likes + problem.dislikes)) * 100}}%</td>
        <td *ngIf="problem.likes == 0">0%</td>
      </tr>
  </table>
</div>
</section>