<table id="dtBasicExample" class="table table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">Problem
  
        </th>
        <th clickable (click)="sortProblems()" class="th-sm">Difficulty
  
        </th>
        <th class="th-sm">Accuracy
  
        </th>
        <th class="th-sm">Likes Ratio
  
        </th>
      </tr>
    </thead>
    <tbody>
      <tr clickable *ngFor="let problem of problems">
        <td clickable (click)="getProblem(problem.problem_id)">{{ problem.problem_name }}</td>
        <td class="easy" *ngIf="problem.difficulty_level === 0">Easy</td>
            <td class="medium" *ngIf="problem.difficulty_level === 1">Medium</td>
            <td class="hard" *ngIf="problem.difficulty_level === 2">Hard</td>
        <td>{{ problem.accuracy }}%</td>
        <td *ngIf="problem.likes > 0">{{ (problem.likes / (problem.likes + problem.dislikes)) * 100}}%</td>
        <td *ngIf="problem.likes == 0">0%</td>
      </tr>
  </table>