.container{
  width: 100%;
  /* background-color: pink; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.example-spacer {
    flex: 1 1 auto;
  }

  li{
    list-style-type: none;
    float: left;
  }

  .login{
    display: flex;
    float: right;
  }

  .main-content{
    display: flex;
    float: left;
  }
  
  li{
    list-style-type: none;
  }

  .top-menu{
    /* background-color: pink; */
    height: 3.2em;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .left-content{
    display: flex;
  }

  .right-content{
    /* background-color: pink; */
    height: 3.2em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a{
    text-decoration: none;
    color: inherit;
  }

  a:hover{
    text-decoration: underline;
    color: inherit;
  }

  button{
    font-size: 14pt;
  }

  .item:hover{
    height: 3.4em;
    text-decoration: underline;
    background-color: black;
    font-size: 14pt;
  }

  .mat-icon-button:hover{
    text-decoration: underline;
    background-color: black;
    font-size: 14pt;
  }