  
<mat-toolbar color="primary">
  <div class="container">

  <div class="left-content">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Welcome</span>
    <span class="example-spacer"></span>
  </div>

    <div class="top-menu">
      <li><button mat-button class="item"><mat-icon routerLink="/">home</mat-icon></button></li>
      <li><button mat-button routerLink="/allstudent" class="item">Student</button></li>
      <li><button mat-button routerLink="/allfaculty" class="item">Teacher</button></li>
      <li><button mat-button class="item">About Us</button></li>
      <li><button mat-button class="item">Contact Us</button></li>
      
    </div>

    <div class="right-content">
    <button mat-icon-button>
    <mat-icon (click)="openSigninDialog()">person</mat-icon>
    </button>

    <button mat-button (click)="openSigninDialog()" class="item">Sign in</button>

    <button mat-button [matMenuTriggerFor]="menu" class="item">Signup</button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openFacultySignup()">Teacher</button>
      <button mat-menu-item (click)="openStudentSignup()">Student</button>
    </mat-menu>
  </div>
</div>
  </mat-toolbar>


<!-- <app-user-login></app-user-login> -->

<!-- <app-signup></app-signup> -->

<!-- <app-feedbackbystudent></app-feedbackbystudent> -->

<!-- <app-feedbackbyfaculty></app-feedbackbyfaculty> -->

<!-- <app-showfaculty></app-showfaculty> -->

<br><br>
<!-- <button mat-icon-button  color="warn" [routerLink]="['/allstudent']">Faculty</button><br><br>

<button mat-icon-button  color="warn" [routerLink]="['/allfaculty']">Faculty</button><br><br> -->

<!-- <div>
<app-showstudent></app-showstudent>
</div> -->

<div class="main-content">
  <router-outlet></router-outlet>
</div>


<!-- <div>
  <app-showfaculty></app-showfaculty>
</div> -->
