<div class="navigation" > 
    <p class="logo">Granite Mart</p>
    <ul >
    </ul>
</div>
<p id="title">Granite Mart</p>
<div class="dataTable">
    <h1 class=".heading">AdminLogin</h1>
    <form [formGroup]="adminLogin">

        <table align="center">
            <tr class="row"><td>UserName: </td><td><input type="text" formControlName="username"></td></tr><br>
            <tr class="row"><td>Password: </td><td><input type="password" formControlName="password"></td></tr><br>
            <tr class="row"><td></td><td><input class="save" type="reset">&nbsp;&nbsp;<button class="save" (click)="login()">login</button></td></tr>
        </table>
        <p>Are You admin?<span><a [routerLink]="['/customerLogin']">Customer Login</a></span></p>

    </form>
</div>