<app-fheader></app-fheader>
<div class="main">
    <h4 style="text-transform: uppercase;text-align:center;background-color: white;">your contract's details</h4>
    <div class="nodata" *ngIf="arr==''"  style="background-color: white;">
        <img src="https://cdn.dribbble.com/users/2394319/screenshots/4773525/media/3abebd7f14032c54245cb54cf48d17a3.png?compress=1&resize=800x600&vertical=top"
            alt="">
        <h4>No contract details found </h4> <br>
        <h5>To find a job now <a href="" routerLink="../jobs">click here</a> </h5> or <br> <br>
        <button type="button" style="background-color:black;color:white" onclick="history.back()">Go Back</button>

    </div>
    <ul>
        <li *ngFor="let item of arr">
            <table>
                <tr>
                    <th> CONTRACT ID : </th>
                    <th class="tabledata">{{ item.contract_id }}</th>

                </tr>
                <tr>
                    <td>CLIENT ID :</td>
                    <td class="tabledata">{{item.client_id}}</td>
                </tr>
                <tr>
                    <td>PROPOSAL ID : </td>
                    <td class="tabledata"> {{ item.emp_proposal_id }}</td>

                </tr>
                <tr>
                    <td>PROJECT DEADLINE :</td>
                    <td class="tabledata"> {{ item.project_deadline}}</td>
                </tr>
                <tr>
                    <td>CONTRACT AMOUNT :</td>
                    <td class="tabledata">$ {{ item.contract_amount}}</td>
                </tr>
                <tr>
                    <td>PROJECT STATUS :</td>
                    <td *ngIf="item.project_status==='pending'" style="color: orange;" class="tabledata"> {{
                        item.project_status | uppercase}}</td>
                    <td *ngIf="item.project_status==='completed'" style="color: green;" class="tabledata"> {{
                        item.project_status | uppercase}}</td>



                </tr>
                <div class="completed" *ngIf="item.project_status=='completed'">
                    <h5 *ngIf="!item.flag">please provide feedback for client </h5>

                    <button type="button" *ngIf="!item.flag" (click)="display(item)">click here</button>
                </div>
                <div class="feedbackresponse" style="margin-left: 100px;" *ngIf="item.feedback && !item.flag">
                    <br> <br>
                    <p style="text-align: center;text-transform: uppercase;">Already Rated</p>
                    <label for="rating">Rating : </label> &nbsp;
                    <ngb-rating [(rate)]="item.feedback.rating" id="rating" style="font-size:30px;color: yellow;"
                        [max]="5" [readonly]="true" style="font-size:30px;color: yellow;"></ngb-rating>
                    <p *ngIf="item.feedback.feedback">feedback : {{ item.feedback.feedback }}</p>
                </div>

                <div class="feedback" *ngIf="item.flag">
                    <div class="open" *ngIf="item.flag" style="margin-left: -10px;">
                        <p style="text-align: center;text-transform: uppercase;"> feedback form</p>
                        Rate for client:
                        <ngb-rating [(rate)]="currentRate" [max]="5" (rateChange)="ratechange(currentRate)"
                            style="font-size:30px;color: yellow;"></ngb-rating> <br>
                        <form (submit)="feedbackSumbit(item.contract_id)">
                            <p>Feedback : </p>
                            <textarea type="textarea" id="feedback" rows="6" cols="50"
                                [formControl]="feedback"></textarea>
                            <br>
                            <button type="submit" value="submit">submit</button>&nbsp;
                            <button type="button" (click)="display1(item)">close</button>
                        </form>
                    </div>

                </div>
            </table>


        </li>
    </ul>




</div>
<app-ffooter></app-ffooter>