.bod{
    width: 100%;
    background-color: red;
}

.bo{
    width: 100vw;
    background-color: red;
}
.test{
    width: 600px;
    height: 600px;
    background-color: aqua;
}

.per{
    width: 100%;
    background-color: red;
}


.vw{
    width: 100%;
    background-color: red;
}