<!-- <div class="row">
  <app-card *ngFor="let tour of toursList" [tourItem]="tour" class="col-12 col-xs-7 col-sm-6 col-md-4 col-lg-3">
  </app-card>
</div> -->

<section class="speciality mx-auto" id="speciality">
  <h1 class="text-center text-primary heading text-uppercase" *ngIf="tourType == ''">All Tours</h1>
  <h1 class="text-center text-primary heading text-uppercase" *ngIf="tourType == 'snow'">Snow Adventure Tours</h1>
  <h1 class="text-center text-primary heading text-uppercase" *ngIf="tourType == 'forest'">Forest Adventure Tours</h1>
  <h1 class="text-center text-primary heading text-uppercase" *ngIf="tourType == 'sea'">Water Adventure Tours</h1>
  <!-- <h1 class="heading"> our <span data-testid='speciality-heading'>speciality</span> </h1> -->
  <div class="box-container">
    <!-- <app-card *ngFor="let tour of toursList" [tourItem]="tour" class="box">
    </app-card> -->
    <div class="box" *ngFor="let tour of toursList" >
      <img class="image"
        [src]="tour.image" alt="" />
      <div class="content">
        <!-- <img src="" alt="" /> -->
        <h3 class="text-warning">{{tour.tour_name}}</h3>
        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore neque amet ipsa tenetur
          voluptates aperiam tempore libero labore aut.</p> -->
        <p class="text-light">{{(tour.description).substring(0, 50) }}...</p>
        <a class="btn_orange" (click) = "goToTourPage(tour)">see more</a>
      </div>
    </div>
  </div>
</section>



