.home-page{
    height: 70%;
    width: 100%;
    /* background-color: lightblue; */
   
}
.bottom{
    height: 110vh;
    width: 100%;
    /* background-color: rgba(5, 5, 5, 0.2); */
    margin-top: 20px;
    /* padding: 20px; */
    padding-left: 30px;
}
.section{
    
    display:flex;
    flex-direction: row;

}

.cards{
    height: 40vh;
    width: 45%;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    margin-right: 40px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    

}