<div class="home-page shadow-lg" >
    <img [src]= "element" style="width: 700px;height:500px; border-radius: 10px;">

    <div class="bottom">
        <div class="section">
            <div class="cards shadow-lg" >
                <h1 style="color: black;font-family:fantasy;font-weight: bold;text-align: center;font-size: 35px;">Consumer Banking</h1>
                <p style="color: grey;font-family:fantasy;font-weight: bold;font-size: 20px;line-height: 35px;margin-top: 20px;">Key areas of consideration for banking individual retail customers, including lending, privacy, financial inclusion and customer trends.</p>
            </div>
            <div class="cards shadow-lg" >
                <h1 style="color: black;font-family:fantasy;font-weight: bold;text-align: center;font-size: 35px;">Commercial Banking</h1>
                <p style="color: grey;font-family:fantasy;font-weight: bold;font-size: 20px;line-height: 35px;margin-top: 20px;">
                    Find resources on commercial banking topics like C&I loans, small business, CRE, ag banking and more.</p>
                

            </div>
        </div>    
        <div class="section">
            <div class="cards shadow-lg" >
                <h1 style="color: black;font-family:fantasy;font-weight: bold;text-align: center;font-size: 35px;">Payments</h1>
                <p style="color: grey;font-family:fantasy;font-weight: bold;font-size: 20px;line-height: 35px;margin-top: 20px;">
                    ABA’s expertise, resources and products help you offer payments solutions that meet the speed and security your customers demand.</p>
            </div>
            <div class="cards shadow-lg" >
                <h1 style="color: black;font-family:fantasy;font-weight: bold;text-align: center;font-size: 35px;">Technology</h1>
                <p style="color: grey;font-family:fantasy;font-weight: bold;font-size: 20px;line-height: 35px;margin-top: 20px;">
                    ABA offers resources to help banks balance the need for safety and security with the customer experience that consumers expect.</p>
            </div>
        </div>   

    </div>

</div>