
<button routerLink="../addVehicle" class="d-block ms-auto">Add Vehicle</button>

<table *ngIf="pageItems" class="table table-bordered">
  <tr *ngFor="let vehicle of pageItems" >
    <td>{{vehicle.vehicle_number}}</td>
    <td><button (click)="editTour(vehicle.id)" class="border-0 bg-light"><i class="fa-solid fa-pen text-primary"></i></button></td>
    <td><button (click)="deleteTour(vehicle.id)" class="border-0 bg-light"><i class="fa-solid fa-trash text-danger"></i></button></td>
   </tr>
</table>


<div class="text-center">
  <button (click)="changePage(-1)" class="border-0 bg-light"><i class="fa-solid fa-angle-left"></i></button>
  page {{page}} of {{totalPages}}
  <button (click)="changePage(1)" class="border-0 bg-light"><i class="fa-solid fa-angle-right"></i> </button>
</div>
