
<div class="card">
    <div class="content">
        <form [formGroup]="create_admin_login_form" class="form-container" (ngSubmit)="submit()">
            <div class="ac1">

                <mat-card-header>
                    <mat-card-title>Admin Login</mat-card-title>
                    <small *ngIf="formNotValid" class="text-danger msgg">Please fill all required details</small>
                </mat-card-header>
                <mat-card-content>
                
                    <div class="ip">
                        <mat-form-field class="full-width" appearance="outline">
                            <input formControlName="user_phone" class="userinput" matInput placeholder="mobile_number">
                        </mat-form-field>
                        <small class="text-danger msgg"
                            *ngIf="create_admin_login_form.get('user_phone')?.invalid  && create_admin_login_form.get('user_phone')?.touched ">This
                            field is required</small>
                    </div>
                    <div class="ip">
                        <mat-form-field class="full-width" appearance="outline">
                            <input type="password" class="userinput" formControlName="user_password" matInput
                                placeholder="password">
                        </mat-form-field>
                        <small class="text-danger msgg"
                            *ngIf="create_admin_login_form.get('user_password')?.invalid  && create_admin_login_form.get('user_password')?.touched ">Password
                            should contain atleast 8 letters</small>
                    </div>
                    <h1 class="text-danger msgg" *ngIf="servererror">{{servererror}}</h1>
                </mat-card-content>
                <mat-card-actions>
                    <button type="submit" class="me-5" mat-raised-button="" color="primary">login</button>
                    <button type="button" routerLink="../signup" mat-raised-button="" color="primary">
                        Don't have an account? Signup
                    </button>
                </mat-card-actions>
            </div>
        </form>
    </div>
</div>
