.logo{
 padding-left: 4em;
 float : left;
 height:150px;
width:400px;}

.main-heading{
text-align: center;
font-size:82px;
//color:white;

}
.logo2{
position: absolute;
 top:85px;
 right:70px;
width:100px;}

.new-logo-img{
width:30px;
}
h{
font-size:32px;
 font-weight: bold;
  font-style:italic;
  color :blue;}

.Moving-navigation {
      position: relative;
      animation: slide 10s linear infinite; /* animation name, duration, speed, and repeat */
      white-space: nowrap;
    }
    @keyframes slide {
      0% {
        left: 100%;
      }
      100% {
        left: -100%;
      }
    }

 .floating-box {
   margin:100px;
   padding:0px;
   width:1800px;
     position: relative;
     bottom: 20px;
     top:0px;
     left:50px:
     right: 80px;
     background-color: #FFFF;
     color: white;
     padding: 15px 20px;
     border-radius: 12px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
     cursor: pointer;
     z-index: 1000;
     font-size:11px;
     color:black;
     height:700px;

   }



   .floating-box2{
   margin:0px;
   padding:20px;
    border-radius: 5px;
   width:1760px;
   background-color: #7b2fc0;
   height:35px;
   font-weight: bold;
   color:white;
    font-size:28px;
   }
floating-box3{

   border-radius: 50px;
    width:100px;
  background:#FFFFF;
  position: relative;
  left:600px;
  }
 .Submit{
 color:white;
 padding:20px;
 border-radius: 50px;
     width:300px;
     font-size:32px;
 background:green;}

.text-fields{
display:flex;
gap:100px;}

.Name{
width:470px;
font-size:32px;}

.required{
color: red;
    font-weight: bold;}


  input {
      padding: 8px;
      margin: 5px 0;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size:32px;
      width: 290px;
    }

    input[type="submit"] {
      background-color: #28a745;
      color: white;
      cursor: pointer;
    }
   .Branch{
   font-size:32px;
   }

   .inter-text-fields{
   ;
   gap:75px;
   display:flex;
   }

   .text-fields2{
   margin:0px;
   padding:opx;
   gap:0px;
   font-size:24px;}

floating-box3{
background:pink;

 float :right;

  }

