<p>vehicles-view works!</p>

<div class="dataTable">
    <p class="heading">Vehicle Details</p>

        <table align="center">
            <tr class="row">
                <td>vehicle_no: </td>
                <td>{{vehicle_data.vehicle_no}}</td>
            </tr>
            <tr class="row">
                <td>model </td>
                <td>{{vehicle_data.model}}</td>
            </tr>
            <tr class="row">
                <td>owner_name: </td>
                <td>{{vehicle_data.owner_name}}</td>
            </tr>
            <tr class="row">
                <td>permit_range: </td>
                <td>{{vehicle_data.permit_range}}</td>
            </tr>
            <tr class="row">
                <td>load_capacity: </td>
                <td>{{vehicle_data.load_capacity}}</td>
            </tr>
            <tr class="row">
                <td>fuel_efficiency: </td>
                <td>{{vehicle_data.fuel_efficiency}}</td>
            </tr>
           
        </table>

</div>