[MESSAGES CONTROL]

disable=missing-function-docstring, missing-function-docstring, useless-super-delegation, missing-module-docstring, missing-class-docstring, missing-class-docstring, line-too-long, too-few-public-methods, invalid-name, unused-argument, trailing-whitespace
