<div class="back-img">
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-sm-7">
              <h1 class="ban-headline">
                Online Housing Community Management System
              </h1>
              <br />
              <p>
                We help to provide services like instant maintenance bill
                generation, smart notification through mobile apps, pay
                maintenance bills by CC / DC / NB, Alert reminder on outstanding
                dues, Instant notices &amp; circulars, fully integrated
                accounting system with automated trial balance
                <a href="https://mysocietyclub.com/offer/software-free-2020">
                  many more…</a
                >
              </p>

              <!-- <div class="row">
                <div class="col-sm-4">
                  <button
                    type="button"
                    class="btn btn-primary show-society-register-form"
                  >
                    SCHEDULE DEMO
                  </button>
                </div>

                <div class="col-sm-4" id="goog">
                  <img
                    src="https://mysocietyclub.com/assets/images/newimg/google-review.jpg"
                    alt="Google Review"
                    class="img-responsive"
                  />
                </div>
              </div> -->

              <!-- <img
                style="margin-top: 20px"
                src="https://mysocietyclub.com/assets/images/newimg/logo.png"
                alt="Payment Wallets"
                class="img-responsive"
              /> -->
            </div>

            <div class="col-sm-5">
              <img
                alt="Customer reviews of Housing Society Management Software"
                style="padding-top: 80px"
                class="img-responsive"
                src="https://mysocietyclub.com/assets/images/newimg/123-compressor.png"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- review -->

<div class="testimonial text-center">
  <div class="container-fluid d-flex flex-row justify-content-center">
    <div class="align-class">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            *ngFor="let item of reviews"
            data-target="#carouselExampleIndicators"
            data-slide-to="item"
          ></li>
          <!-- <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li> -->
        </ol>

        <div class="row">
          <h3 class="page-title text-center top-heading">WHAT THEY SAY</h3>

          <b
            ><h2 class="page-title text-center top-heading">Testimonials</h2></b
          >

          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="cold-flex flex-row justify-content-center">
                <div class="ms-shadowbox bg">
                  <br />
                  <img
                    style="border: none"
                    width="40px"
                    height="50px"
                    src="https://mysocietyclub.com/assets/images/Testimonials/comm.png"
                    alt="Customer reviews of Housing Society Management Software"
                    class="img-responsive center-block"
                  />
                  <br />
                  <p>
                    <i>{{ reviews[0].title }}</i>
                  </p>
                  <img
                    width="60px"
                    height="80px"
                    src="https://mysocietyclub.com/assets/images/Testimonials/test-2.png"
                    alt="Customer reviews of Housing Society Management Software"
                    class="img-circle center-block"
                  /><br />

                  <p style="padding-top: 10px">
                    <i><b>Israr Ahmad Shaikh</b></i>
                  </p>

                  <p>
                    <i>Shree Sunder Kamla Nagar CHS</i>
                    <i> Kingcircle, Mumbai</i>
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="cold-flex flex-row justify-content-center">
                <div class="ms-shadowbox bg">
                  <br />
                  <img
                    style="border: none"
                    width="40px"
                    height="50px"
                    src="https://mysocietyclub.com/assets/images/Testimonials/comm.png"
                    alt="Customer reviews of Housing Society Management Software"
                    class="img-responsive center-block"
                  />
                  <br />
                  <p>
                    <i
                      >"The software is very user-friendly and nicely designed.
                      They seem to have thought of every issue that a housing
                      society can possibly come across! I am extremely happy
                      with the billing and accounting aspects. The offline
                      support is also excellent."</i
                    >
                  </p>

                  <img
                    width="60px"
                    height="80px"
                    src="https://mysocietyclub.com/assets/images/Testimonials/test-6.png"
                    alt="Customer reviews of Housing Society Management Software"
                    class="img-circle center-block"
                  />

                  <p style="padding-top: 10px">
                    <i><b>Shridhar Kshirsagar</b></i>
                  </p>

                  <p>
                    <i>Matruchhaya Heritage CHS Ltd</i>
                    <i> Kalamboli, Navi mumbai</i>
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="cold-flex flex-row justify-content-center">
                <div class="ms-shadowbox bg">
                  <br />
                  <img
                    style="border: none"
                    width="40px"
                    height="50px"
                    src="https://mysocietyclub.com/assets/images/Testimonials/comm.png"
                    alt="Customer reviews of Housing Society Management Software"
                    class="img-responsive center-block"
                  />
                  <br />
                  <p>
                    <i
                      >"User friendly website and the services provided by
                      MySocietyClub is excellent and very economical. Must be
                      useful for all cooperative societies. All your accounting
                      job easily taken care by MySocietyClub, Must subscribe."
                    </i>
                  </p>
                  <img
                    width="60px"
                    height="80px"
                    src="https://mysocietyclub.com/assets/images/Testimonials/test-1.png"
                    alt="Customer reviews of Housing Society Management Software"
                    class="img-circle center-block"
                  /><br />

                  <p>
                    <i><b>Anand Shivasharan</b></i>
                  </p>

                  <p><i>Chembur Abhay CHS</i> <i> Tilak Nagar, Mumbai</i></p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="cold-flex flex-row justify-content-center">
                <div class="ms-shadowbox bg">
                  <br />
                  <img
                    style="border: none"
                    width="40px"
                    height="50px"
                    src="https://mysocietyclub.com/assets/images/Testimonials/comm.png"
                    alt="Customer reviews of Housing Society Management Software"
                    class="img-responsive center-block"
                  />
                  <br />
                  <p>
                    <i
                      >"We started using MySocietyClub last six month. Now our
                      Society is totally online and functioning digitally. It’s
                      user friendly interface make housing society work easier
                      and hassle free. Good luck to MySocietyClub team.""</i
                    >
                  </p>
                  <img
                    width="60px"
                    height="80px"
                    src="https://mysocietyclub.com/assets/images/Testimonials/test-2.png"
                    alt="Customer reviews of Housing Society Management Software"
                    class="img-circle center-block"
                  /><br />

                  <p style="padding-top: 10px">
                    <i><b>Israr Ahmad Shaikh</b></i>
                  </p>

                  <p>
                    <i>Shree Sunder Kamla Nagar CHS</i>
                    <i> Kingcircle, Mumbai</i>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span> -->
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span> -->
        </a>
      </div>
    </div>
  </div>
</div>
