
<h2>Hollywood</h2>
<div class="movies">
    <ul *ngFor="let m of hmovies,index as i">
      <!-- <li (click)="moviepage()">{{m.name}}</li> -->
      
      <mat-card class="example-card">
        <mat-card-subtitle>Movies</mat-card-subtitle>
        <mat-card-title>{{m}}</mat-card-title>
        <mat-card-content>
          <p>{{ longText }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button class="btn" mat-button >View</button>
          <button class="btn" mat-button>Book</button>
        </mat-card-actions>
      </mat-card>
      <mat-divider></mat-divider>
    </ul>
  </div>
