<app-cheader></app-cheader>
<h2 style="text-align: center;height: 25px;font-size: 25px;text-transform: capitalize;">welcome {{ parse_data.client_name  }} </h2>

<div class="welcome">
    <ul>
        <div class="row m-auto one">
            <li class="col-5 m-5 bg-light" ><a routerLink="./post_a_job"> <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSodWbUZBd0VkTPOs3D0JzvfFABH0nXyghvyw&usqp=CAU"
                        alt="" height="250px" width="250px"  > <h5>post a job</h5> </a></li>
            <li class="col-5 m-5 bg-light"><a routerLink="./freelancer_proposals"> <img src="https://static.thenounproject.com/png/4540481-200.png"
                        alt="" height="250px" width="250px"> <h5>your jobs</h5> </a></li>
            <li class="col-5 m-5 bg-light"><a routerLink="./fee_payment_details"> <img
                        src="https://www.clipartmax.com/png/middle/311-3112909_payment-method-method-plan-icon-icon.png"
                        alt="" height="250px" width="250px"> <h5>Your Payment Details</h5> </a></li>
            <li class="col-5 m-5 bg-light"><a routerLink="./ccontract_details"> <img src="https://cdn-icons-png.flaticon.com/128/2666/2666523.png"
                        alt="" height="250px" width="250px"><h5> Your Contract Details</h5> </a></li>
        </div>

    </ul>
</div>

<app-cfooter></app-cfooter>