<p>register-employee works!</p>
{{ designationControl.value }}
{{ branchControl.value }}
<form [formGroup]="employeeRegisterForm" class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register Employee</mat-card-title>
      {{errorMessage}}
      <mat-card-title *ngIf="formNotValid"
        >please Fill All required details</mat-card-title
      >
    </mat-card-header>
    <br />
    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input formControlName="username" matInput placeholder="username" />
          </mat-form-field>
          <small
            class="text-danger"
            *ngIf="
              employeeRegisterForm.get('username')?.invalid &&
              employeeRegisterForm.get('username')?.touched
            "
            >username is required</small
          >
        </div>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input
            formControlName="first_name"
            matInput
            placeholder="first_name"
          />
        </mat-form-field>
        <small
          *ngIf="
            employeeRegisterForm.get('first_name')?.invalid &&
            employeeRegisterForm.get('first_name')?.touched
          "
          >field is required</small
        >
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input formControlName="last_name" matInput placeholder="last_name" />
        </mat-form-field>

        <small
          class="text-danger"
          *ngIf="
            employeeRegisterForm.get('last_name')?.invalid &&
            employeeRegisterForm.get('last_name')?.touched
          "
          >field is required</small
        >
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input formControlName="email" matInput placeholder="email" />
        </mat-form-field>
        <small
          class="text-danger"
          *ngIf="
            employeeRegisterForm.get('email')?.invalid &&
            employeeRegisterForm.get('email')?.touched
          "
          >enter valid mail address</small
        >
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input
            formControlName="mobile_number"
            matInput
            placeholder="mobile_number"
          />
        </mat-form-field>
        <small
          class="text-danger"
          *ngIf="
            employeeRegisterForm.get('mobile_number')?.invalid &&
            employeeRegisterForm.get('mobile_number')?.touched
          "
          >enter valid mobile number</small
        >
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input formControlName="age" matInput placeholder="age" />
        </mat-form-field>
        <small
          class="text-danger"
          *ngIf="
            employeeRegisterForm.get('age')?.invalid &&
            employeeRegisterForm.get('age')?.touched
          "
          >hello</small
        >
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input formControlName="address" matInput placeholder="address" />
        </mat-form-field>

        <small
          class="text-danger"
          *ngIf="
            employeeRegisterForm.get('address')?.invalid &&
            employeeRegisterForm.get('address')?.touched
          "
          >hello</small
        >
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input formControlName="pincode" matInput placeholder="pincode" />
          <small
            class="text-danger"
            *ngIf="
              employeeRegisterForm.get('pincode')?.invalid &&
              employeeRegisterForm.get('pincode-')?.touched
            "
            >hello</small
          >
        </mat-form-field>
      </div>
      <!-- additional fields -->

      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input formControlName="password" matInput placeholder="password" />
        </mat-form-field>
        <small
          class="text-danger"
          *ngIf="
            employeeRegisterForm.get('password')?.invalid &&
            employeeRegisterForm.get('password')?.touched
          "
        >
          password should contain atleast 8 characters
        </small>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input formControlName="qualification" matInput placeholder="qualification"/>
        </mat-form-field>
        <small
          class="text-danger"
          *ngIf="
            employeeRegisterForm.get('qualification')?.invalid &&
            employeeRegisterForm.get('qualification')?.touched
          "
        >
          password should contain atleast 8 characters
        </small>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input formControlName="salary" matInput placeholder="salary"/>
        </mat-form-field>
        <small
          class="text-danger"
          *ngIf="
            employeeRegisterForm.get('salary')?.invalid &&
            employeeRegisterForm.get('salary')?.touched
          "
        >
          password should contain atleast 8 characters
        </small>
      </div><div class="col-md-6">
        <mat-form-field class="full-width">
          <input formControlName="years_of_experience" matInput placeholder="years_of_experience"/>
        </mat-form-field>
        <small
          class="text-danger"
          *ngIf="
            employeeRegisterForm.get('years_of_experience')?.invalid &&
            employeeRegisterForm.get('years_of_experience')?.touched
          "
        >
          password should contain atleast 8 characters
        </small>
      </div>

      
      <!-- select -->
      <div class="col-md-6">
        <h4>mat select</h4>
        <mat-form-field appearance="fill">
          <mat-label>Designation</mat-label>
          <mat-select [formControl]="designationControl" required>
            <mat-option>--</mat-option>
            <mat-option
              *ngFor="let designation of designations"
              [value]="designation"
            >
              {{ designation }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="designationControl.hasError('required')"
            >Please choose an Designation</mat-error
          >
          <mat-hint>{{ designationControl.value }}</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <h4>mat select</h4>
        <mat-form-field appearance="fill">
          <mat-label>Branch</mat-label>
          <mat-select [formControl]="branchControl" required>
            <mat-option>--</mat-option>
            <mat-option
              *ngFor="let branch of branches"
              [value]="branch['branch_id']"
            >
              {{ branch["branch_name"] }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="branchControl.hasError('required')"
            >Please choose an Designation</mat-error
          >
          <mat-hint>{{ branchControl.value }}</mat-hint>
        </mat-form-field>
      </div>
      <!-- <div class="col-md-6">
        <h4>mat select</h4>
        <mat-form-field appearance="fill">
          <mat-label>Status</mat-label>
          <mat-select [formControl]="branchControl" required>
            <mat-option>--</mat-option>
            <mat-option
              *ngFor="let branch of branches"
              [value]="branch['branch_id']"
            >
              {{ branch["branch_name"] }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="branchControl.hasError('required')"
            >Please choose an Designation</mat-error
          >
          <mat-hint>{{ branchControl.value }}</mat-hint>
        </mat-form-field>
      </div> -->
    </mat-card-content>
    <mat-card-actions>
      <button (click)="submitRegister()" mat-raised-button="" color="primary">
        Register
      </button>
    </mat-card-actions>
  </mat-card>
</form>
