
<div class="grid">
    <ul>
      <li>
        <button routerLink="./createemployee"><img style="opacity: 0.5;"
            src="https://media.istockphoto.com/vectors/person-icon-add-contact-person-add-friend-add-user-icon-vector-vector-id1160176778?k=20&m=1160176778&s=612x612&w=0&h=Hxzw-dryy1CDzdWHHQKP8VGb5rJUBNZI2BU5yKPH7sg="
            alt="">
          <h3 style="color:#454545;"> Create Employee Profile</h3>
        </button>
  
  
      </li>

      <li>
        <button href="" routerLink="./managercomplaints"><img style="opacity: 0.5;"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtA19lyXP7iHsb66-GDFZurVg7dpJ15T2zdA&usqp=CAU"
            alt="">
          <h3 style="color:#454545;">Your Tasks</h3>
        </button>
      </li>
      <li>
        <button href="" routerLink="./createadevice"><img style="opacity: 0.5;"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJ1rReeW-_BBlYKOjPY0CyZz4sr9PPD_FW0Y5Mmf9l7YVrOSPYxZMAiOx63p1ch-7JV9Q&usqp=CAU"
            alt="">
          <h3 style="color:#454545;">create a device </h3>
        </button>
      </li>
  
      <li>
        <button href="" routerLink="../editprofile"><img style="opacity: 0.5;"
            src="https://static.vecteezy.com/system/resources/previews/000/367/333/non_2x/edit-profile-vector-icon.jpg"
            alt="">
          <h3 style="color:#454545;">Edit Profile</h3>
        </button>
      </li>
    </ul>
  </div>

