<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<h3>medplus</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">phone_number</th>
      <th scope="col">email_id</th>
      <th scope="col">role</th>
      <th scope="col">salary</th>
    </tr>
  </thead>

  <tbody>
    {% for emp in emps %}
    <tr>
      <td>{{emp.name}}</td>
      <td>{{emp.phone_number}}</td>
      <td>{{emp.email_id}}</td>
      <td>{{emp.role}}</td>
      <td>{{emp.salary}}</td>
    </tr>
    {% endfor  %}
  </tbody>

</table>
</body>
</html>