body {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
button {
    grid-column: span 2;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.error {
    color: red;
    grid-column: span 2;
}

.hidden {
    display: none;
}

tr.fade-out {
    transition: opacity 0.4s;
    opacity: 0;
}