<h1 class="text-danger text-center" *ngIf="upcomingBookingList?.length == 0 && closedBookingList?.length == 0"> No Bookings yet!!! Start booking now... </h1>
<div class="container d-flex align-items-center justify-content-between mb-3" *ngIf="upcomingBookingList?.length > 0">
  <h1 class="text-uppercase text-primary">Upcoming Trips</h1>
  <button class="btn btn-primary" (click)="open(content)">Rate Us </button>
</div>
<div class="container" *ngIf="upcomingBookingList">
  <div class="row border pt-2 pb-2 mb-3" *ngFor="let booking of upcomingBookingList">
    <div class="col-4">
      <img [src]="booking.tourid.image" alt="tour_image" width="100%" height="100%" />
    </div>
    <div class="col-8">
      <div class="row text-start">
        <div class="mb-2 col-12 text-uppercase">{{booking.tourid.tour_name}}</div>
        <div class="mb-2 col-5 fw-bold">{{booking.tourid.tour_from}} Tour</div>
        <div class="mb-2 col-2">---></div>
        <div class="mb-2 col-5 fw-bold">{{booking.tourid.tour_to}} Tour</div>
        <div class="mb-2 col-12">Transaction Id: {{booking.paymentid.transaction_id}}</div>
        <div class="mb-2 col-5 ">Trip Date: {{(booking.tourid?.start_date).split('T')[0]}}</div>
        <div class="mb-2 col-2 "></div>
        <div class="mb-2 col-5 ">Time: {{(booking.tourid?.start_date).split('T')[1]}}</div>
        <div class="mb-2 col-5 ">Total Price: {{booking.paymentid.total_price}}</div>
        <div class="mb-2 col-2 "></div>
        <div class="mb-2 col-5 ">Number of Tourists: {{booking.no_of_people}}</div>
        <!-- <div class="mb-2 col-6"><button class="">cancel</button></div> -->
        <div class="mb-2 col-6"><button class="" (click)="navigateToBooking(booking.id)">view details</button></div>
        <!-- <div class="mb-2 col-6"><button class="" (click)="openBooking(booking)">view details</button></div> -->
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="closedBookingList && closedBookingList.length > 0">
  <h1 class="text-uppercase text-primary">Previous Trips</h1>
  <div class="row border pt-2 pb-2 mb-3"
   *ngFor="let booking of closedBookingList"
   [ngStyle]="{'background-color': booking.isCancelled ? '#aaabad' : 'transparent'}">
    <div class="col-4">
      <img [src]="booking.tourid.image" alt="tour_image" width="100%" height="100%" />
    </div>
    <div class="col-8">
      <div class="row text-start">
        <div class="mb-2 col-12 text-uppercase">{{booking.tourid.tour_name}}</div>
        <div class="mb-2 col-5 fw-bold">{{booking.tourid.tour_from}} Tour</div>
        <div class="mb-2 col-2">---></div>
        <div class="mb-2 col-5 fw-bold">{{booking.tourid.tour_to}} Tour</div>
        <div class="mb-2 col-12">Transaction Id: {{booking.paymentid.transaction_id}}</div>
        <div class="mb-2 col-5 ">Trip Date: {{(booking.tourid?.start_date).split('T')[0]}}</div>
        <div class="mb-2 col-2 "></div>
        <div class="mb-2 col-5 ">Time: {{(booking.tourid?.start_date).split('T')[1]}}</div>
        <div class="mb-2 col-5 ">Total Price: {{booking.paymentid.total_price}}</div>
        <div class="mb-2 col-2 "></div>
        <div class="mb-2 col-5 ">Number of Tourists: {{booking.no_of_people}}</div>
        <div class="mb-2 col-6 text-danger" *ngIf="booking.isCancelled">cancelled</div>
        <div class="mb-2 col-6"><button class="" (click)="navigateToBooking(booking.id)">view details</button></div>
        <!-- <div class="mb-2 col-6"><button class="" (click)="openBooking(booking)">view details</button></div> -->
      </div>
    </div>
  </div>
</div>



<!-- booking details view modal -->
<!-- <ng-template #booking let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Feedback Update</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">

          <label> Rating: </label> <br>
          <ngb-rating [max]="5" [(rate)]="rating" [readonly]='false' class="rating"></ngb-rating>
          <hr>
          <label for="message">Feedback:</label>
          <textarea name="message" rows="4" style="width: 100%;" (change)="updateMessage($event)"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template> -->

<!-- rating modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Feedback Update</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">

          <label> Rating: </label> <br>
          <ngb-rating [max]="5" [(rate)]="rating" [readonly]='false' class="rating"></ngb-rating>
          <hr>
          <label for="message">Feedback:</label>
          <textarea name="message" rows="4" style="width: 100%;" (change)="updateMessage($event)"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
