.login-box {
  width: 600px;
  margin: 100px auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(117, 5, 117);
  background-color: rgb(120, 15, 180);
  text-align: center;
}

/* .login-box h3 {
  font-size: 14px;
  margin-bottom: 2px;
  color: #300606;
} */



.login-box button {
  width: 50%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #0056b3;
}





.registration-border{
  width: 600px;
  margin: 50px auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgb(221, 191, 238);
  text-align: left;
}

/* .registration-border{
     width: 500px;
  margin: 10px auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(29, 27, 27, 0.1);
  background-color: #5d3774;
  text-align: left;

} */
.inputs-gap{
  display: flow-root;
  
  margin: 5px;
   width: 90%;
    height: 30px;
    border-radius: 5px;
    text-align:left ;
}
/* .form{
   display: flex;
} */

.nav-link {
  color: #6E7AE0;
  display: flex;
}

     
.red-star {
  color: red;
  position: relative;
  margin-left: 5px;
 top: 0px;
  font-size: 10px;
  font-weight: bold;
  
}


.submit-button{

font-size: 24PX;
  position: relative;
  left: 250px;
  color: red;
   background-color: #675274;
}

.error-message{
  color: red;
  font-size: 14px;
  margin-top: 0px;
  text-align: center ; 
}