<div class="buttons">
    <button mat-button color="primary" id="payButton" class="proceed" [disabled]="this.pay">Proceed to Payment</button>
    <button mat-button color="primary" class="goback" [routerLink]="['']">Back</button>

</div>

<h1 class="top" >Seat Selection Section</h1>
<form id="form" class="top" [formGroup]="Number">
<mat-form-field appearance="fill">
        <mat-label >Select the number of seats</mat-label>
        <mat-select (ngModelChange)="generateRows()" formControlName="Seat" style="color:white ;">
          <mat-option value=1>1</mat-option>
          <mat-option value=2>2</mat-option>
          <mat-option value=3>3</mat-option>
        </mat-select>
      </mat-form-field>
<!-- <button mat-button id="btn" type="submit" (click)="generateRows()" onclick="disable()">click to view seats</button> -->
</form>
<h3  class="top">selected seats-</h3>
<div class="selectedseats" >
<h4  class="top" *ngFor="let i of selectedSeatsN">{{i}}&nbsp;  </h4></div>


<p class="status" > Available Seats({{(hallData.baseprice|currency:"₹")}})--><button class="statusbtn" style="height:20px;width:20px;background-color: green;"></button><br>Booked Seats--><button style="height:20px;width:20px;background-color: red;"></button></p>

<div id="seating" [hidden]="this.hidden">
  <h2 class="screen" >Screen</h2>
  <div *ngFor="let j of cols,index as l">
  <div class="seats" *ngFor="let i of rows,index as k">
    <button  id="{{l}}{{k}}"  class="seats"  [style.background]="this.selectedSeatsN.includes(l.toString()+k.toString())?'red':'green'" (click)="selectseats(l,k)" ></button>
  </div>
</div>
</div>

