
<div class="d-flex flex-row">
<div>
<form [formGroup]="CustomerAccountCreate" (ngSubmit)="createAccount()">
    <label for="name" > Customer Name </label>
    <br>
   <input type="text" id = "name" formControlName= "customer_name"> 
   <br>
   <br>

   <label for="number"> Phone Number </label>
    <br>
   <input type="text" id = "number" formControlName= "phone_number"> 
   <br>
   <br>

   <label for="email">  Email </label>
    <br>
   <input type="text" id = "email" formControlName= "customer_email"> 
   <br>
   <br>

   <label for="password"> Password </label>
    <br>
   <input type="text" id = "password" formControlName= "customer_password"> 
   <br>
   <br>

   <label for="address"> Address </label>
    <br>
   <input type="text" id = "address" formControlName= "customer_address"> 
   <br>
   <br>

   <button type= "submit" >Submit</button>

   <div class="divsize">

    <h1 style="color: red;font-size: 15px;">{{status}}</h1>
   </div>


</form>
</div>
<div class="ml-5">
    <form [formGroup]="accountCreate" (ngSubmit)="addingAccount()">
        <label for="name" > Account number </label>
        <br>
       <input type="numbers" id = "name" formControlName= "account_number"> 
       <br>
       <br>
    
       <label for="Number"> Amount </label>
        <br>
       <input type="number" id = "Number" formControlName= "amount"> 
       <br>
       <br>
        
       <!-- <label for="number"> Account Type </label>
       <br>
      <input type="text" id = "number" formControlName= "account_type"> 
      <br>
      <br> -->
       <select class="options-style" formControlName="account_type">
        <option selected disabled> Select type of Account</option>
        <option value = "savings">Savings Account</option>
        <option value = "current">Current Account</option>
             </select>
       <br>
       <br>
    
       <label for="password"> Customer Id </label>
        <br>
       <input type="number" id = "password" formControlName= "customer"> 
       <br>
       <br>
    
       <button type= "submit" >Submit</button>
    
       <div class="divsize">

        <h1 style="color:green;font-size: 15px;">{{accountstatus}}</h1>
       </div>
    </form>
    </div>
</div>
