.divsize{
    height: 50px;
    width: 230px;
    padding: 10px;
    background-color: #c5eded;
}
.options-style{
    height:40px;
    width:200px;
    font-size:15px;
    border-radius:10px;
    color:#000000
;
}
 form ,label{
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(0, 2, 9);


 }

button{
    height: 30px;
    width: 80px;
    background: linear-gradient(to right,red, yellow) ;
    border-radius: 5px;
}
.margin{
    margin: 30px;
}