
<div class="container-fluid">
    <h1>Schedule a Movie</h1>
    <form [formGroup]="hall" (ngSubmit)="OnSubmit()">
        <!-- {{hall.value | json}} -->
        <div class="form-group">
            <label>Date</label>
            <input type="date" class="form-control" formControlName="Date"  >
            <mat-error *ngIf="hall.get('Date')?.touched && hall.get('Date')?.hasError('required')">Enter date</mat-error>

        </div>

        <div class="form-group" style="margin-bottom:20px">
            <label>Hall ID</label>
            <input type="number" #Hall_id class="form-control" name="Hall_id" id="Hall_id" name="Hall_id" formControlName="Hall_id">
            <mat-error *ngIf="hall.get('Hall_id')?.touched && hall.get('Hall_id')?.hasError('required')">Enter hall id</mat-error>

        </div>
        <div class="form-group" style="margin-bottom:20px">
            <label>Total Seats</label>
            <input type="number" #T_No_Of_Seats class="form-control" name="T_No_Of_Seats" id="T_No_Of_Seats" name="T_No_Of_Seats" formControlName="T_No_Of_Seats" ngModel>
            <mat-error *ngIf="hall.get('T_No_Of_Seats')?.touched && hall.get('T_No_Of_Seats')?.hasError('required')">Enter movie name</mat-error>

        </div>
        <div class="form-group">
            <label>StartTime</label>
            <input type="time" class="form-control" formControlName="startTime" name="startTime" >
            <mat-error *ngIf="hall.get('startTime')?.touched && hall.get('startTime')?.hasError('required')">Enter movie language</mat-error>

        </div>
        <mat-divider></mat-divider>
        <mat-label>EndTime</mat-label>
        <input type="time" class="form-control" formControlName="endTime" name="endTime" >
        <mat-error *ngIf="hall.get('endTime')?.touched && hall.get('endTime')?.hasError('required')">Enter movie release date</mat-error>

        <div class="form-group">
            <label>Movie ID</label>
            <input type="text" class="form-control" name="Movie_id" formControlName="Movie_id">
            <mat-error *ngIf="hall.get('Movie_id')?.touched && hall.get('Movie_id')?.hasError('required')">Enter movie reviews</mat-error>
        </div>
        <button type="submit"  mat-button mat-dialog-close > Submit </button> 
        
    </form>

</div>
