<app-admin-dashboard *ngIf="isAdmin=='True'"></app-admin-dashboard>
<app-customer-dashboard *ngIf="isAdmin=='False'"></app-customer-dashboard>
hello, welcome back &nbsp;{{customer_data.customer_name}}<br>

<div class="dataTable">
    <h2 class="heading"> User Profile</h2>
    <table>
        <tr class="row"><td>Name :</td> <td>{{customer_data.customer_name}}</td></tr><br>
        <tr class="row"><td>Username :</td> <td>{{customer_data.username}}</td></tr><br>
        <tr class="row"><td>Password: </td><td>{{customer_data.password}}</td></tr><br>
        <tr class="row"><td>Contact: </td><td>{{customer_data.phone}}</td></tr><br>
        <tr class="row"><td>Email id:</td> <td>{{customer_data.email}}</td></tr><br>
        <tr class="row"><td>Address : </td><td>{{customer_data.address}}</td></tr><br>
        <button id="update" (click)="update(customer_data.username)">Edit Profile</button>
    </table>

</div>
