table {
    width: 100%;
  }

  .questiontable{
    /* margin-top: 8rem;
    margin-left: 12rem;
    margin-right: 12rem; */
    margin: 12rem;
    width:auto;
  }

.mat-header-cell{
    text-align : center;
}
.mat-cell{
    text-align: center;
}
/* th,tr{
    
    background-color:rgb(250, 237, 220);
} */

th{
    color:black;
    font-size: 0.8rem;
}
.nabButton{
    /* margin: 10px; */
    color:white;
    /* margin-top: 45px; */
    background-color: rgb(24, 172, 59);
    size:10px;
}
.head{
  
    background-color: blue;
      color: white;
      padding:0.5rem;
      text-align: center;
      border-radius: 5px;
      font-size: large;
  }