<div class="main">
  <form [formGroup]="vehicle" (submit)="add_vehicle()">

    <div class="sign"><br><br><br>
      <h2>Enter your Vehicle details</h2>
        <div class="input">
          <div>
            <input id="in" type="text" name="name" placeholder="Vehicle Number" formControlName="vehicle_no">
          </div><br>
          <div>
            Select Vehicle type: <select name="" id="" formControlName="type">
              <option value="Car">Car</option>
              <option value="Bike">Bike</option>
            </select>
          </div><br>
          <div>
            <input id="in" type="text" name="brand" placeholder="Vehicle brand" formControlName="brand">
          </div><br>
          <div>
            <input id="in" type="text" name="model" placeholder="model" formControlName="model">
          </div><br>
          <div>
            Upload Vehicle image:<input id="in" type="file" name="image" placeholder="Upload Vehicle picture" formControlName="image">
          </div><br>
          <div>
            <input id="in" type="text" name="owner_id" placeholder="Enter your ID" formControlName="owner_id">
          </div><br>
          <div>
            <input id="in" type="text" name="price_km" placeholder="Price/km" formControlName="price_km" z>
          </div><br>
          <div>
            <input id="in" type="text" name="price_hour" placeholder="Price/hour" formControlName="price_km">
          </div><br>
          <div>
            <input id="in" type="text" name="price_day" placeholder="Price/day" formControlName="price_day">
          </div><br>
          <input type="submit" value="Submit">
        </div><br>


    </div>
  </form>
</div>
