<app-admin-dashboard *ngIf="isAdmin=='True'"></app-admin-dashboard>
<p id="heading">Delivery Details</p>
<div class="container" >
    <table class="dataTable" align="center">
        <tr class="row">
            <th>OrderId</th>
            <td>
                <p>{{order_data.order_id.order_id}}</p>
            </td>
        </tr>
        <!-- <tr class="row">
            <th>Item</th>
            <td>
                <p>{{order_data.contains_id.item_id.item_name}}</p>
            </td>
        </tr> -->
        <!-- <tr class="row">
            <th>Store</th>
            <td>
                <p>{{order_data.contains_id.store_id.store_name}}</p>
            </td>
        </tr>
        <tr class="row">
            <th>Price</th>
            <td>
                <p>{{order_data.contains_id.price}}/-</p>
            </td>
        </tr> -->
        <tr class="row">
            <th>Order Time</th>
            <td>
                <p>{{order_data.order_id.order_time}}/-</p>
            </td>
        </tr>
        <tr class="row">
            <th>Delivery Address</th>
            <td>
                <p>{{order_data.order_id.delivery_address}}</p>
            </td>
        </tr>
        <tr class="row">
            <th>vehicle no</th>
            <td>
                <p>{{order_data.vehicle_id.vehicle_no}}</p>
            </td>
        </tr>
        <tr class="row">
            <th>Driver Name</th>
            <td>
                <p>{{order_data.driver_id.employee_name}}</p>
            </td>
        </tr>
        <tr class="row"><td></td><td><button (click)="gohome()" style="width:100%;height:3em"> go to items</button></td></tr>
        <br><br>
    </table>
    
</div>