<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="navigation"> 
        <p class="logo">Granite Mart</p>
        <ul>
            <li class="navigateto" *ngIf="loginValue=='false'"><a [routerLink]="['/customerLogin']">Login</a></li>
            <li class="navigateto" *ngIf="loginValue=='true'"><a (click)="logout()">logout</a></li>
            <li class="navigateto"><a (click)="profile()">profile</a></li>
            <li class="navigateto"><a (click)="cart()">cart</a></li>
            <li class="navigateto"><a [routerLink]="['/itemsList']">items</a></li>
            <li class="navigateto"><a [routerLink]="['/orderList']">my orders</a></li>
        </ul>
       
    </div>
</body>
</html>
