<p>vehicles-register works!</p>
<div class="dataTable">
    <p class="heading">Employee Registration</p>

    <form [formGroup]="vehicleReg">
        <table align="center">
            <tr class="row">
                <td>vehicle_no: </td>
                <td><input type="text" formControlName="vehicle_no"></td>
            </tr>
            <tr class="row">
                <td>model </td>
                <td><input type="text" formControlName="model"></td>
            </tr>
            <tr class="row">
                <td>owner_name: </td>
                <td><input type="text" formControlName="owner_name"></td>
            </tr>
            <tr class="row">
                <td>permit_range: </td>
                <td><select formControlName="permit_range ">
                        <option>State Permit</option>
                        <option>National Permit</option>
                    </select></td>
            </tr>
            <tr class="row">
                <td>load_capacity: </td>
                <td><input type="number" formControlName="load_capacity"></td>
            </tr>
            <tr class="row">
                <td>fuel_efficiency: </td>
                <td><input type="number" formControlName="fuel_efficiency"></td>
            </tr>
            <tr class="row">
                <td></td>
                <td><input class="save" type="reset">&nbsp; &nbsp;<button class="save"
                        (click)="register()">save</button></td>
            </tr>
        </table>
    </form>
</div>