.container{
  background-color: rgb(224, 242, 250);
  margin-bottom: 20px;
  min-height: 71vh;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
.info{
  display: flex;
}

.form{
  display: flex;
  justify-content: space-around;
}

/* .booking{
  /* width: 300px;

  background-image: linear-gradient(to right, rgba(61, 26, 26, 0), rgb(245, 190, 190));

} */
