<div class="container">
  <div>
      <mat-toolbar color="accent">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span>{{updateBtn}} for Student</span>
    <span class="example-spacer"></span>
    <div>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="openLoginDialog()" [disabled]="isReadOnly" mat-dialog-close>
      <mat-icon>person</mat-icon>
      
    </button>
    <button mat-button (click)="openLoginDialog()" [disabled]="isReadOnly" mat-dialog-close>Sign in</button>
    </div>

  </mat-toolbar>
</div>
      
    <div mat-dialog-content class="content-box">
      <form class="example-form" [formGroup]="studentSignupFormModel" method="POST">

        <mat-form-field appearance="outline">
          <mat-label>User Type</mat-label>
          <mat-select formControlName="user_type">
            <mat-option *ngFor="let user of usersList" [value]="user.userValue">
              {{user.users}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
        <br>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Ron" formControlName="first_name">
          </mat-form-field>
        <br>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Weasly" formControlName="last_name">
          </mat-form-field>
        <br>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput type="email" placeholder="weasly@gmail.com" formControlName="stud_username" [readonly] = "isReadOnly">
          </mat-form-field>
        <br>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
        <br>

          <!-- <mat-label>Select Gender</mat-label><br>  <br> -->
          <mat-radio-group aria-label="Select gender" formControlName="gender">
            <mat-radio-button *ngFor="let gen of gender" [value]="gen.value">{{gen.viewValue}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button>

          </mat-radio-group>

          <br><br>
          <mat-form-field appearance="outline">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="sDOB" formControlName="date_of_birth">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="sDOB"></mat-datepicker-toggle>
            <mat-datepicker #sDOB></mat-datepicker>
          </mat-form-field>
          <br><br>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Father Name</mat-label>
            <input matInput placeholder="Weasly" formControlName="father_name">
          </mat-form-field>
          <br>
        <mat-form-field appearance="outline">
            <mat-label>Select Class</mat-label>
            <mat-select formControlName="class_code">
              <mat-option *ngFor="let class of allClasses" [value]="class.class_code">
                {{class.class_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Roll No(Numeric Only)</mat-label>
            <input matInput placeholder="Roll No" type="number" formControlName="roll_no">
          </mat-form-field>
          
        </form>
      </div>
      <div mat-dialog-action [align]="'end'" class="buttons">
        <button mat-raised-button (click)="registerNewStudent()">{{updateBtn}}</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-raised-button color="warn" mat-dialog-close>Close</button>
      </div>
    </div>
