<mat-toolbar color="primary">
    <span>My App</span>
    <a routerLink="/homepage" style="text-decoration:none; color:white"><button mat-button
            class="example-icon favorite-icon">
            Home
        </button></a>
    <a routerLink="/about" style="text-decoration:none; color:white"><button mat-button
            class="example-icon favorite-icon">
            About
        </button></a>
    <a routerLink="/contact" style="text-decoration:none; color:white"><button mat-button
            class="example-icon favorite-icon">
            Contact
        </button></a>
    <span class="example-spacer"></span>
    <a routerLink="/login" style="text-decoration:none; color:white"><button mat-raised-button
            class="example-icon favorite-icon" color="warn">
            Login
        </button></a>
    <a routerLink="" style="text-decoration:none; color:white"><button mat-raised-button
            class="example-icon favorite-icon" color="warn">
            Logout
        </button></a>
</mat-toolbar>






<!--###################################################--->

<mat-grid-list cols="5" rowHeight="2:2">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="5" rowHeight="2:2">
    <mat-grid-tile>
        <img src="https://www.netmeds.com/images/product-v1/600x600/45278/p_650_tablet_10s_0_2.jpg" alt="P 650 Tablet 10'S" width="200" height="600">
    </mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="5" rowHeight="2:2">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="5" rowHeight="2:2">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>
</mat-grid-list>
  


