<mat-toolbar color="primary">
    <span>My App</span>
    <a routerLink="/homepage" style="text-decoration:none; color:white"><button mat-button
            class="example-icon favorite-icon">
            Home
        </button></a>
    <a routerLink="/about" style="text-decoration:none; color:white"><button mat-button
            class="example-icon favorite-icon">
            About
        </button></a>
    <a routerLink="/contact" style="text-decoration:none; color:white"><button mat-button
            class="example-icon favorite-icon">
            Contact
        </button></a>
    <span class="example-spacer"></span>
    <a routerLink="/login" style="text-decoration:none; color:white"><button mat-raised-button
            class="example-icon favorite-icon" color="warn">
            Login
        </button></a>
    <a routerLink="" style="text-decoration:none; color:white"><button mat-raised-button
            class="example-icon favorite-icon" color="warn">
            Logout
        </button></a>
</mat-toolbar>






<!--###################################################--->

<mat-grid-list cols="4" rowHeight="2:2">
    <mat-grid-tile>
        <img src="https://www.netmeds.com/images/product-v1/600x600/45278/p_650_tablet_10s_0_2.jpg" alt="P 650 Tablet 10'S" width="350" height="300">
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="https://cdn.shopify.com/s/files/1/0272/4714/9155/products/Pilex-forte.jpg?v=1622097422" alt="P 650 Tablet 10'S" width="350" height="300">
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="https://wellonapharma.com/admincms/product_img/product_resize_img/hydrochlorothiazide-tablets_1618896267.jpg" alt="P 650 Tablet 10'S" width="350" height="300">
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="https://onemg.gumlet.io/l_watermark_346,w_480,h_480/a_ignore,w_480,h_480,c_fit,q_auto,f_auto/cropped/srnymujjigczuqxzn8y7.jpg" alt="P 650 Tablet 10'S" width="350" height="300">
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="4" rowHeight="2:2">
    <mat-grid-tile>
        <img src="https://www.netmeds.com/images/product-v1/600x600/45278/p_650_tablet_10s_0_2.jpg" alt="P 650 Tablet 10'S" width="350" height="300">
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="https://cdn.shopify.com/s/files/1/0272/4714/9155/products/Pilex-forte.jpg?v=1622097422" alt="P 650 Tablet 10'S" width="350" height="300">
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="https://wellonapharma.com/admincms/product_img/product_resize_img/hydrochlorothiazide-tablets_1618896267.jpg" alt="P 650 Tablet 10'S" width="350" height="300">
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="https://onemg.gumlet.io/l_watermark_346,w_480,h_480/a_ignore,w_480,h_480,c_fit,q_auto,f_auto/cropped/srnymujjigczuqxzn8y7.jpg" alt="P 650 Tablet 10'S" width="350" height="300">
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="4" rowHeight="2:2">
    <mat-grid-tile>
        <img src="https://www.netmeds.com/images/product-v1/600x600/45278/p_650_tablet_10s_0_2.jpg" alt="P 650 Tablet 10'S" width="350" height="300">
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="https://cdn.shopify.com/s/files/1/0272/4714/9155/products/Pilex-forte.jpg?v=1622097422" alt="P 650 Tablet 10'S" width="350" height="300">
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="https://wellonapharma.com/admincms/product_img/product_resize_img/hydrochlorothiazide-tablets_1618896267.jpg" alt="P 650 Tablet 10'S" width="350" height="300">
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="https://onemg.gumlet.io/l_watermark_346,w_480,h_480/a_ignore,w_480,h_480,c_fit,q_auto,f_auto/cropped/srnymujjigczuqxzn8y7.jpg" alt="P 650 Tablet 10'S" width="350" height="300">
    </mat-grid-tile>
</mat-grid-list>

<footer>
     <div class="footer-top">
        <div class="footer-logo">
            <img src="https://play-lh.googleusercontent.com/ZY5euxdIf-ZRWP-uFUGrx1fqk1euuMgtWOxonSSyx9JcgqbH6JZKI2qngRKoqj2w-yM=w480-h960" alt="Netmeds.com, India ki Online Pharmacy" width="100" height="70">
        </div>
        <div class="footer-txt"> Netmeds.com is one of India’s most trusted pharmacies, dispensing quality medicines at reasonable prices to over 7 million happy customers – PAN India.
        </div>
    </div>
    <div class="footer-container">
        <ul>
            <li> <h2>Company</h2> </li>
            <li><a href="#">About MyApp</a></li>
            <li><a href="#">Customers Speak</a></li>
            <li><a href="#">In the News</a></li>
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <ul>
            <li> <h2>Shopping</h2> </li>
            <li><a href="#">Browse by Manufacturers</a></li>
            <li><a href="#">Health Articles</a></li>
            <li><a href="#">Offers / Coupons</a></li>
            <li><a href="#">FAQs</a></li>
        </ul>
        <ul>
            <li> <h2>Business</h2> </li>
            <li><a href="#">Franchise</a></li>
        </ul>
        <ul>
            <li> <h2>CATEGORIES</h2> </li>
            <li><a href="#">Ayush</a></li>
            <li><a href="#">Devices</a></li>
            <li><a href="#">Family Care</a></li>
            <li><a href="#">Fitness</a></li>
            <li><a href="#">Lifestyle</a></li>
            <li><a href="#">Personal care</a></li>
            <li><a href="#">Treatments</a></li>
        </ul>
        <ul>
            <li> <h2>Social</h2> </li>
            <li><a href="#" target="_blank">Patients Alike</a></li>
            <li><a href="https://www.facebook.com">Facebook</a></li>
            <li><a href="https://twitter.com">Twitter</a></li>
            <li><a href="https://in.linkedin.com">LinkedIn</a></li>
            <li><a href="https://www.youtube.com">Youtube</a></li>
            <li><a href="#">Refer &amp; Earn</a></li>
        </ul>
        <div class="subscribe">
            <h2>SUBSCRIBE TO OUR NEWSLETTER</h2> Get a free subscription to our health and fitness tip and stay tuned to our latest offers
            <form id="newsletter-validate-detail" name="" method="post" novalidate="novalidate">
                <div class="control">
                    <input name="newsletter_email" type="email" maxlength="50" class="Required-newsletter-email validate-newsletter-emailid" id="newsletter_email" placeholder="Enter your email address">
                    <button title="Go" type="submit">Submit</button>
                </div>
                <div class="newsletter_error">

                </div> <div class="loaded"></div>
                <div class="load-out" style="display: none;">

                </div> </form> <div class="clearfix">

                </div>
                <div class="app-store">
                    <a class="store-icon" href="https://play.google.com" rel="noopener" title="Download MyApp for Android from Play Store" target="_blank"  style="padding-right:5px"> <img src="https://www.netmeds.com/assets/gloryweb/images/icons/play_store.png" alt="Download MyApp for iOs from App Store" title="Download <My>App for iOs from App Store" width="150"> </a>
                    <a class="store-icon" href="https://itunes.apple.com" title="Download MyApp for iOs from App Store" rel="noopener" target="_blank"> <img src="https://www.netmeds.com/assets/gloryweb/images/icons/app_store.png" alt="Download MyApp for iOs from App Store" title="Download MyApp for iOs from App Store" width="150"> </a>
                </div>
                <div class="clearfix">

                </div>
                <div class="app-div">
                    <a href="#"> Download App</a>
                </div>
            </div>
        </div> 
</footer>