<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>graniteMart</title>
</head>
<body>
    <form action="{% url 'registercustomer' %}" method="POST">
        {% csrf_token %}
        {% for data in form %}
            {{data.label}}
            {{data}}<br>
        {% endfor %}
        Fullname : <input type="text" name="custname" placeholder="Enter FullName"><br>
        Phone : <input type="tel" name="phone" placeholder="Enter Phone"><br>
        Email : <input type="email" name="email" placeholder="Email Address"><br>
        Address : <textarea name="address" rows="3" cols="15"></textarea><br>
        <input type="reset">
        <input type="submit"> <br>

        already have an account ? <a href="{% url 'custlogin' %}">log in</a>
    </form>
</body>
</html>