<mat-toolbar>
  <mat-icon routerLink="" class="icon">home</mat-icon>
  <span>Diagnostics </span>
  <span class="example-spacer"></span>
  <!-- right side -->
  <button routerLink="../about" class="nabButton" mat-button >About</button>
  <button routerLink="../customer/booking" class="nabButton" mat-button >Book Appointment</button>
  <button routerLink=""  class="nabButton" mat-button >View Appointments</button>
  <button routerLink="../users/login" class="nabButton" mat-button >Login</button>
  <mat-icon class="icon">account_circle</mat-icon>
</mat-toolbar>
