<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>variables</title>
</head>
<body>
    {% filter upper %}
    <h1>The users data</h1>
    <ul>
        {% if data1 %}
        {% for da in data1 reversed %}
        <li style="background-color:{% cycle 'lightgreen' 'pink' %}">
            <p>{{ da.first_name|add:"-first name"}}</p>
            <p>{{ da.last_name|add:"-last name" }}</p>
        </li>
        {% endfor %}
        {% else %}
        <h1>No data in the database</h1>
        {% endif %}
        
    </ul>
    {% endfilter %}


    
</body>
</html>