/BucketCount.class
/EvenDigitSum.class
/FlourPack.class
/GreatestCommonDivisor.class
/InputCalculator.class
/LargestPrimeFactor.class
/NumberDigitsManipulation.class
/Palindrome.class
/PerfectNumber.class
/PrintFactors.class
/QuarterOfMonth.class
/SameLastDigit.class
/SharedDigit.class
/SquareStar.class
/SumOfDigit.class
/UserInputChallenge.class
/WhileStep1.class
/WhileStep2.class
