<div class="container">
  <div class="row">
    <div class="col p-2">
      <div class="card" style="width: 20rem">
        <div class="card-body">
          <h5 class="card-title">Sahithi</h5>
          <h6 class="card-subtitle mb-2 text-muted">a@gmail.com</h6>
          <button class="btn btn-primary" (click)="updateProfile()">Update Profile</button>
        </div>
      </div>
    </div>

    <div class="col p-2">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">My Bills</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            See all Bills in one place
          </h6>
          <button class="btn btn-primary" (click)="showBills()">Bills</button>
        </div>
      </div>
    </div>
    <div class="col p-2">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Add Review</h5>
          <h6 class="card-subtitle mb-2 text-muted">Reviews</h6>
          <button class="btn btn-primary" (click)="addReview()">Add</button>
        </div>
      </div>
    </div>
  </div>
</div>
