<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 th:text="'Welcome '+${name}">Welcome Rennaiah 1</h1>
    <h1 th:text="'Name : '+${name}"></h1>
    <h1 th:text="'Age : '+${age}"></h1>
    <h1 th:text="'School Type : '+${stype}"></h1>
    <h1 th:text="'School name : '+${sname}"></h1>
    <h1 th:text="'Marks obtained : '+${marks}"></h1>
</body>
</html>