
<div class="body"><form [formGroup]="ClientRegistrationForm"  class="example-form">
    <div class="card1">
    <mat-card class="card2">
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
            {{errorMessage}}
            <mat-card-title  *ngIf="formNotValid" class="error-message">please Fill All required details</mat-card-title>
        </mat-card-header>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Username</mat-label>
            <input (input)="ClientRegistrationForm.controls.username.setValue(ClientRegistrationForm.controls.username.value.toLowerCase())" formControlName="username" matInput placeholder="Enter your Username" />
            <small class="text-danger" *ngIf="ClientRegistrationForm.get('username')?.invalid  && ClientRegistrationForm.get('username')?.touched " >username is required</small>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>First Name</mat-label>
            <input formControlName="first_name" matInput placeholder="Enter you First Name" />
            <small class="text-danger" *ngIf="ClientRegistrationForm.get('first_name')?.invalid  && ClientRegistrationForm.get('first_name')?.touched " >First Name is required</small>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input formControlName="last_name" matInput placeholder="last_name" />
            <small class="text-danger" *ngIf="ClientRegistrationForm.get('last_name')?.invalid  && ClientRegistrationForm.get('last_name')?.touched " >Last Name is required</small>

        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input (input)="ClientRegistrationForm.controls.email.setValue(ClientRegistrationForm.controls.email.value.toLowerCase())" formControlName="email" matInput placeholder="Enter your Email id" />
            <small class="text-danger" *ngIf="ClientRegistrationForm.get('email')?.invalid  && ClientRegistrationForm.get('email')?.touched " >Email is required</small>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <small class="text-danger" *ngIf="ClientRegistrationForm.get('Password')?.invalid  && ClientRegistrationForm.get('Password')?.touched " >Password is required</small>
        </mat-form-field>
        <!-- <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Password again</mat-label>
            <input matInput placeholder="Password" [type]="view ? 'password' : 'text'"  formControlName="confirmpassword"  (change)="onChange($event)">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <small class="text-danger" *ngIf="ClientRegistrationForm.get('Password')?.invalid  && ClientRegistrationForm.get('Password')?.touched " >Password is required</small>
        </mat-form-field> -->
        <!-- <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="confirmpassword" [type]="hide ? 'password' : 'text'" formControlName="confirmpassword" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <small class="text-danger" *ngIf="ClientRegistrationForm.get('Password')?.invalid  && ClientRegistrationForm.get('Password')?.touched " >Password is required</small>
        </mat-form-field> -->
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Mobile Number</mat-label>
            <input (keypress)="keyPress($event)" minlength=10 maxlength=10 formControlName="Client_contact_number" matInput placeholder="Place enter your Contact NUmber" />
        </mat-form-field>
        <mat-card-actions>
            <button (click) = "onRegisterSubmit()" mat-raised-button="" color="primary" style="margin-left: 205px;">
             Register
            </button>
        </mat-card-actions>
        <p style="text-align: center;">Already have an account?<a routerLink = '../login'>login</a></p>
    </mat-card>
    </div>
</form>
</div>