.body{
    background-color: black;
}
table {
    width: 100%;
  }
  .column-name{
    color: black;
    font-size: 15px;
    text-align: center;
   }
  .icon-name{
    color : black;
    background-color: white;
    margin: none;
   
  }
  .icon-name button{
    color: black;
    background-color: #eb008b;
    margin: none;
    border: none;
  }

  button{
    border: none;
    background-color: white;
  }
  .add{
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
  }
.add button{
    background-color: #eb008b;
    
}
.column-value{
  text-align: center;
}
.search-bar{
  background-color: white;
}
.search-bar{
  display: flex;
  justify-content: center;
  padding-top: 2%;

}