<div class="top" >
    <div class="left" >
    <button class="btn" mat-button color="primary" (click)="goback()">Back</button>
<h1><b>{{movies.Movie_name}}</b></h1>
<!-- <h4>Hello {{userData.User_name}}</h4> -->
<form [formGroup]="getDate">
    <h4>Pick a date!</h4>
    <input class="dateinput"type="date" min={{this.sdate}} formControlName="date" (change)="check()">
    <!-- <button class="btn" mat-button color="primary" type="submit" (click)="check()">start booking for {{movies.Movie_name}}!! </button>  -->
</form>
    </div>
    <div class="right">
        <img src="{{movies.Movie_poster}}" alt="poster unavailable" height="200px" width="100vw">
    </div>
</div>
<input [(ngModel)]="text1" (input)="search()" placeholder="search by theatre name">
<div class="nodata" *ngIf="!data">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTx-IWZyD_Nm6PWsdDzY8cerKQTmdplpLJfsw&usqp=CAU" alt="No Image">
</div>
<table *ngIf="data" >
    <tr>
        <th>Theatre Name</th>
        <th>Theatre Location</th>
        <th>Screen Number</th>
        <th>Movie Time</th>
        <th>Remaining Seats</th>
        <th>Book</th>
    </tr>
    <tr  *ngFor="let s of theatrelist, let i= index">
        <td>{{s.Theatre_name}}</td>
        <td>{{s.Theatre_location}}</td>
        <td>{{s.Hall_no}}</td>
        <td>{{s.startTime}}</td>
        <td>{{s.seats}}</td>
        <td><button mat-stroked-button color="primary"(click)=OpenSeatNo(s.Hall_id,s.startTime)>book</button></td>
    </tr>
</table>
