<div *ngIf="feedback" class="row">
  <div class="story shadow">
      <figure class="story-shape">
          <img src={{feedback.user_id.image}} alt="person on tour" class="story-img">
          <figcaption class="story-caption">{{feedback.user_id.name}}</figcaption>
      </figure>
      <div class="story-text">
          <h3 class="feedback_heading">
            {{feedback.user_id.name | uppercase}}
          </h3>
          <p >{{feedback.comment}}</p>
          <ngb-rating [max]="5" [(rate)]="feedback.rating" [readonly]="true" class="feedback_rating mt-3"></ngb-rating>
          <h3 class="mt-3" >{{feedbackDate}}</h3>
      </div>
  </div>
</div>
