<app-admin-navbar></app-admin-navbar>

<div class="sear">
    <mat-form-field class="example-form-field" appearance="outline" style="width:400px">
      <input matInput type="search"  placeholder="Search" >
    </mat-form-field>
  </div>
<div class="coursetable">

    <!-- <button (click)="add()" class="add"> Add Course</button>
    <h1 *ngIf="!(v)"
    >No Data Found</h1
  > -->
  <button class="add"> Add Teacher</button>
    <div class="head">Teachers</div>
  <table mat-table [dataSource]="teachers" class="mat-elevation-z8">
  
    
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef> User Id </th>
        <td mat-cell *matCellDef="let row"> {{row.user}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="user__username">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let row"> {{row.user__username}} </td>
      </ng-container>
      <ng-container matColumnDef="user__first_name">
        <th mat-header-cell *matHeaderCellDef> firstname </th>
        <td mat-cell *matCellDef="let row"> {{row.user__first_name}} </td>
      </ng-container>
      <ng-container matColumnDef="user__last_name">
        <th mat-header-cell *matHeaderCellDef> lastname </th>
        <td mat-cell *matCellDef="let row"> {{row.user__last_name}} </td>
      </ng-container>
      <ng-container matColumnDef="user__email">
        <th mat-header-cell *matHeaderCellDef> email </th>
        <td mat-cell *matCellDef="let row"> {{row.user__email}} </td>
      </ng-container>
      <!-- <ng-container matColumnDef="user__password">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let row"> ********</td>
      </ng-container> -->
      <ng-container matColumnDef="user__mobile_no">
        <th mat-header-cell *matHeaderCellDef> mobile </th>
        <td mat-cell *matCellDef="let row"> {{row.user__mobile_no}} </td>
      </ng-container>
      <!-- <ng-container matColumnDef="user__address">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let row"> {{row.user__address}} </td>
      </ng-container> -->
      <ng-container matColumnDef="qualification">
        <th mat-header-cell *matHeaderCellDef> Qualification </th>
        <td mat-cell *matCellDef="let row"> {{row.qualification}} </td>
      </ng-container>
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>Position</th>
        <td mat-cell *matCellDef="let row"> {{row.position}} </td>
      </ng-container>


  
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
          <td mat-cell *matCellDef="let row">
           
            <button mat-icon-button color="primary" ><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
            <!-- <button mat-icon-button color="primary" ><mat-icon>remove_red_eye</mat-icon></button> -->

            <!-- <button>Details</button> -->
          </td>
        </ng-container>
    
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
  
    
    </table>
    <!-- <mat-paginator 
                [pageSizeOptions]="[2,5, 10, 25, 100]"
                aria-label="Select page of users">
  </mat-paginator> -->
  </div>