<!-- <h1 *ngFor="let student of allstudent">{{student.first_name}}</h1> -->
<h1>Faculty Details</h1>


<div class="data-container">

<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. MedPlus" #input>
</mat-form-field>

<div class="mat-elevation-z8" class="displaydata">
<table mat-table [dataSource]="allfaculty" class="mat-elevation-z8" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
  
    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="facul_username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.facul_username}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
      <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="date_of_birth">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of Birth </th>
      <td mat-cell *matCellDef="let element"> {{element.date_of_birth | date:'dd-MMM-yyyy'}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="qualification">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Qualification </th>
      <td mat-cell *matCellDef="let element"> {{element.qualification}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="experience">
      <th mat-header-cell *matHeaderCellDef> Experience </th>
      <td mat-cell *matCellDef="let element"> {{element.experience}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="joining_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Joining Date </th>
      <td mat-cell *matCellDef="let element"> {{element.joining_date | date:'dd-MMM-yyyy'}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Department </th>
      <td mat-cell *matCellDef="let element"> {{element.department}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="main_subject">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Main Subject </th>
      <td mat-cell *matCellDef="let element"> {{element.main_subject}} </td>
    </ng-container>

    <!-- User type Column -->
    <ng-container matColumnDef="user_type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> User Type </th>
      <td mat-cell *matCellDef="let row"> {{row.user_type}} </td>
    </ng-container>


    <!-- Fruit Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit/Delete </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button  color="primary" (click)="editFacultyDetails(row)">
      <mat-icon>edit</mat-icon>
      </button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button mat-icon-button  color="warn" (click)="deleteFacultyDetails(row.facul_username)">
      <mat-icon>delete_outline</mat-icon> 
      </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
  
  </div>