<mat-toolbar class="toolbar">
    <mat-toolbar-row class="toolbar1">
      <span>SALON</span>
      <span class="sp" routerLink = '../employee/profile'><mat-icon>account_circle</mat-icon></span>
    </mat-toolbar-row>
  
    <mat-toolbar-row class="toolbar2">
      <span class="sp1"><a routerLink = '../employee/services'>SERVICES</a></span>
      <span class="sp1"><a routerLink = '../employee/appointments'>APPOINTMENTS</a></span>
      <span class="sp1"><a routerLink = '../employee/reviews'>REVIEWS</a></span>
    </mat-toolbar-row>
  
</mat-toolbar>