<body><div class="bg">
  <mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <span>My App</span>
    <a routerLink="/homepage" style="text-decoration:none; color:white"><button  mat-button class="example-icon favorite-icon">
      Home
    </button></a>
    <a routerLink="/employee" style="text-decoration:none; color:white">  <button mat-button class="example-icon favorite-icon">
      Employee
    </button></a>
    <a routerLink="/customer" style="text-decoration:none; color:white"><button mat-button class="example-icon favorite-icon" >
      Customer
    </button></a>
    <a routerLink="/doctor" style="text-decoration:none; color:white"><button  mat-button class="example-icon favorite-icon" >
      Doctor
    </button></a>
    <a routerLink="/drug" style="text-decoration:none; color:white"><button mat-button class="example-icon ">
      Drug
    </button></a>
  <span class="example-spacer"></span>

  <a routerLink="/login" style="text-decoration:none; color:white"><button mat-raised-button color="warn" class="example-icon favorite-icon">
    Login
  </button></a>
  <button mat-raised-button color="warn" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      Logout
    </button>
</mat-toolbar>
</div>
</body>