<div class="credit">
<h1 style="color: black;font-family:'Times New Roman', Times, serif;font-weight: bold;margin-top: 20px;text-align: center;">Create Credit Card</h1>

<form [formGroup]="CreditCardForm" (ngSubmit)="CreditCard()">
    
    <input type="email" placeholder="Email" formControlName = 'customer_email'>
    <br><br>
    <input type="text" placeholder="Card Number" formControlName = 'card_number'>
    <br><br>
    <input type="text" placeholder="Card Amount" formControlName = 'card_amount'>
    <br><br>
    <input type="text" placeholder="CVV" formControlName = 'cvv'>
    <br><br>
    <input type="text" placeholder="Expiry Date" formControlName = 'expire_date'>
    <br><br>
    <p [ngStyle]="{'color': response === 'Created' ? 'green':'red'}">{{response}}</p>
    <button type = "submit">Submit</button>
    
       
</form>
</div>