<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span><h3>@l Hospital Management</h3></span>

      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" align="margin-right">
        <mat-icon >menu</mat-icon>
      </button> -->
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span></span>
      <span class="example-spacer"></span>
      <button mat-button routerLink="/newuser">New User</button>
      <button mat-button routerLink="/login">Log In</button>
      <button mat-button routerLink="/appointment">Book Appointment</button>
      <button mat-button routerLink="/slot">Slots</button>
    </mat-toolbar-row>
  </mat-toolbar>
</p>

