<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h3> {{count}}</h3>
<h1> The uppercase is == {{count | upper}}</h1>
<br>
<h1> The Slugified content is == {{count | slugify}}</h1>
<br>
<h1>The Length is == {{count | length}}</h1>
<br>
<h1>The joined content is == {{count | join:"//"}}</h1>
<br>
<h1>After Adding the content is == {{count | add:"Praesent libero. Sed cursus ante dapibus diam."}}</h1>


</body>
</html>