<mat-toolbar >
    <mat-toolbar-row class="toolbar1">
      <span>SALON</span>
      <span class="sp"><a routerLink = '../client'>SIGN IN</a></span>
    </mat-toolbar-row>
  
    <mat-toolbar-row class="toolbar2">
      <span class="icon-name"><button class="icon-name" routerLink="../home"><mat-icon>home</mat-icon></button></span>
      <span class="sp1"><a routerLink = '../services'>SERVICES</a></span>
      <span class="sp1"><a routerLink = '../branch'>SALON LOCATOR</a></span>
      <span class="sp1"><a (click)="alertmessage()" routerLink = '../register' >BOOK AN APPOINTMENT</a></span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
  
</mat-toolbar>
<div class="body">
  <div class="content-home">
  <strong><p>"Hair care is important for not only our appearance, but also for our overall hygiene.</p>
    <p> healthy hair allows us to look our best and ensure our hair and scalp is healthy.</p>
    <p> It is important to visit a reputable salon and utilize quality hair care products to ensure your hair is as healthy as possible.</p>
    <p>look of hair is important to many and has a significant impact on our self-esteem. </p>
    <p> highlighted in a survey that states a staggering 88% of women say that their hair is related to their self-confidence."</p>
  </strong></div>
</div>
