<mat-toolbar >
    <mat-toolbar-row class="toolbar1">
      <span>SALON</span>
      <span class="sp"><a routerLink = '../register'>SIGN IN</a></span>
    </mat-toolbar-row>
  
    <mat-toolbar-row class="toolbar2">
      <span class="sp1"><a routerLink = '../services'>SERVICES</a></span>
      <span class="sp1"><a routerLink = '../branch'>SALON LOCATOR</a></span>
      <span class="sp1"><a routerLink = '../register'>BOOK AN APPOINTMENT</a></span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
  
</mat-toolbar>
