<mat-toolbar>
  <mat-icon routerLink="" class="icon">home</mat-icon>
  <h1 routerLink="">DIAGNOSTICS </h1>
  <span class="example-spacer"></span>
  <!-- right side -->
  <button routerLink="../admin/display-appointments" class="nabButton" mat-button >Admin</button>
  <button (click)="navigateCustomer()" class="nabButton" mat-button >Book Appointment</button>
  <button routerLink="../customer/view-appointments" class="nabButton" mat-button >View Appointments</button>
  <button *ngIf="loggedIn" routerLink="../logout" class="nabButton" mat-button >Logout</button>
  <button *ngIf="!loggedIn"  routerLink="../login" class="nabButton" mat-button >Login</button>
  <mat-icon class="icon">account_circle</mat-icon>
</mat-toolbar>