<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Book</title>
</head>
<body>
<a style="background-color : blue; color:white; padding:5px; border-radius:10px;" th:href="@{/home}">Home</a>
	<br>
    <h2>Search Book By ID</h2>

    <form th:action="@{/members/search}" method="post">
        <label for="memberId">Member ID:</label>
        <input type="number" name="memberId" required />
        <button type="submit">Search</button>
    </form>

    <div th:if="${error}" style="color:red; margin-top:10px;">
        <p th:text="${error}"></p>
    </div>


</body>
</html>
