<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <script src="{% static 'test_api/js/dom.js'%}" defer></script>
    <link rel="stylesheet" href="{% static 'test_api/css/stylelib.css' %}">
</head>
<body>
    <div class="table">
        <div class="form">
            <h2>Users</h2>
            <form method="post" id="userForm">
                
                <div class="form-group">
                    <label for="name"><p>Name<sup style="color: red;">*</sup></p></label>
                    <input id="name" name="name" required>
                </div>
<!--                <img src = "http://10.129.241.242:8001/static/blog/Butterfly.jpeg">-->
                <div class="form-group">
                    <label for="age"><p>Age<sup style="color: red;">*</sup></p></label>
                    <input id="age" name="age" type="number" required>
                </div>

                <div class="form-group">
                    <label for="email"><p>Email<sup style="color: red;">*</sup></p></label>
                    <input id="email" name="email" type="email" required>
                </div>

                <div class="form-group">
                    <label for="phone"><p>Phone Number<sup style="color: red;">*</sup></p></label>
                    <input id="phone" name="phone" required>
                </div>

                <!-- <div class="form-group">
                    <label for="branch">Branch</label><br>
                    <div class="btns">
                        <input type="radio" id="cse" name="branch" value="CSE">
                        <label for="cse">CSE</label>
                        <input type="radio" id="ece" name="branch" value="ECE">
                        <label for="ece">ECE</label>
                        <input type="radio" id="eee" name="branch" value="EEE">
                        <label for="eee">EEE</label>
                    </div>
                </div> -->

                <div class="form-group">
                    <label><p>Branch<sup style="color: red;">*</sup></p></label>
                    <div class="btns">
                        <label><input type="radio" name="branch" value="CSE" checked> CSE</label>
                        <label><input type="radio" name="branch" value="ECE"> ECE</label>
                        <label><input type="radio" name="branch" value="EEE"> EEE</label>
                    </div>
                </div>

                <!-- <div class="form-group">
                    <label for="languages">Languages</label><br>
                    <div class="btns">
                        <input type="checkbox" id="english" name="language" value="English">
                        <label for="english">English</label>
                        <input type="checkbox" id="hindi" name="language" value="Hindi">
                        <label for="hindi">Hindi</label>
                        <input type="checkbox" id="telugu" name="language" value="Telugu">
                        <label for="telugu">Telugu</label>
                    </div>
                </div> -->
                <div class="form-group">
                    <label for="languages"><p>Languages<sup style="color: red;">*</sup></p></label>
                    <div class="check">
                        <label><input type="checkbox" name="language" value="English"> English</label>
                        <label><input type="checkbox" name="language" value="Hindi"> Hindi</label>
                        <label><input type="checkbox" name="language" value="Telugu"> Telugu</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="state"><p>State<sup style="color: red;">*</sup></p></label>
                    <select id="state" name="state">
                        <option value="">Select State</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="city"><p>City<sup style="color: red;">*</sup></p></label>
                    <select id="city" name="city">
                        <option value="">Select City</option>
                    </select>
                </div>

                <button type="submit" class="submit-buttons">Submit</button>
            </form>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Name<br><input id="name-search" class="search"></th>
                    <th>Age<br><input id="age-search" class="search"></th>
                    <th>Email<br><input id="email-search" class="search"></th>
                    <th>Phone<br><input id="phone-search" class="search"></th>
                    <th>Branch<br><input id="branch-search" class="search"></th>
                    <th>Languages<br><input id="lang-search" class="search"></th>
                    <th>State<br><input id="state-search" class="search"></th>
                    <th>City<br><input id="city-search" class="search"></th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</body>
</html>
