<div class="buttons">
    <button mat-button color="primary" class="proceed" (click)="DeductSeats()">Proceed to Payment</button>
    <button mat-button color="primary" class="goback" (click)="goBack()">Back</button>

</div>
<!-- <p>seats works!</p>
<p>number of seats={{seats}}</p>
<p>the hall id ={{hallid}}</p>
<p>rows={{hallData.rows}}</p>
<p>cols={{hallData.cols}}</p> -->
<h1 style="text-align:center;">Seat Selection Section</h1>
<form id="form" style="text-align:center;" [formGroup]="Number" (ngSubmit)="RecordSeats()">
<mat-form-field appearance="fill">
        <mat-label >Select the number of seats</mat-label>
        <mat-select formControlName="Seat" style="color:white ;">
          <mat-option value=1>1</mat-option>
          <mat-option value=2>2</mat-option>
          <mat-option value=3>3</mat-option>
        </mat-select>
      </mat-form-field>
<button mat-button id="btn" type="submit" (click)="generateRows()" onclick="disable()">click to view seats</button>
</form>
<h3  style="text-align:center;">selected seats-</h3>
<div style="color:white;display: flex;margin-left: 40vw;">
<h4  style="text-align:center;" *ngFor="let i of test">{{i}}&nbsp;  </h4></div>

<h4 style="background-color: gray;text-align: center;width:34vw;margin-left: 33vw;">Screen</h4>
<p style="text-align:center"> Lounge Seats({{(hallData.baseprice*0.75|currency:"₹")}})-->&nbsp;<button style="height:20px;width:20px;background-color: rgb(243, 207, 198);"></button>
Gold Seats({{(hallData.baseprice|currency:"₹")}})-->&nbsp;<button style="height:20px;width:20px;background-color:rgb(255, 182, 193);"></button>
Premium Seats({{(hallData.baseprice*1.5|currency:"₹")}})-->&nbsp;<button style="height:20px;width:20px;background-color: rgb(255, 105, 180);"></button></p>


