<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>CrudOperationsServlets</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.xhtml</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.xhtml</welcome-file>
	</welcome-file-list>
	
	<servlet>
	<servlet-name>register</servlet-name>
	<servlet-class>tarun.InsertUser</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>register</servlet-name>
	<url-pattern>/register</url-pattern>
	</servlet-mapping>
	 
	<servlet>
	<servlet-name>getAllUsers</servlet-name>
	<servlet-class>tarun.Display</servlet-class>
	</servlet>
	<servlet-mapping>
	
	<servlet-name>getAllUsers</servlet-name>
	<url-pattern>/getAllUsers</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
	<servlet-name>delete</servlet-name>
	<servlet-class>tarun.Delete</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>delete</servlet-name>
	<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
	<servlet-name>update</servlet-name>
	<servlet-class>tarun.Update</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>update</servlet-name>
	<url-pattern>/update</url-pattern>
	</servlet-mapping>
</web-app>
