<!-- <div *ngIf="response">
  <li >{{response}}&nbsp;</li>
</div>
 -->
 <app-navbar></app-navbar>
<div class="container">

  <div class="details">
    <div class="name">{{ data.name }} </div>
    <div class="name">{{ data.email }} <button>Update</button></div>
    <div class="name">{{ data.contact_no}}<button>Update</button></div>
    <div class="name">{{ data.dl_no}}<button>Update</button></div>
    <div class="name">{{ data.address }}<button>Update</button></div>
  </div>
  <div class="edit">
    <button> Edit your profile</button>
  </div>
</div>

