<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
variables
<br>
{{ var1 }}
<br>
tags
<br>
 {% comment %} this is a comment tag
{% endcomment %}
for loop
{% for ele in list1 %}
<h1> {{ ele }} </h1>
{% endfor %}
<br>
{% if list1.1 == 2 %}
if condition is working
{% endif %}
<br>

date tag
<br>
It is {% now "D d M Y" %}


</body>
</html>