.full-width {
    width: 100%;
    margin: 2%;
}

.top-padding {
    padding-top: 3px;
}

.form-container {
    margin: 0 auto;
    width: 30%;
}
.body{
    margin-top: 80px;
}
small{
    color:red;
}
