.full-width {
    width: 100%;
    margin: 2%;
}

.top-padding {
    padding-top: 3px;
}

.form-container {
    margin: auto;
    width: 28rem;
}
.body{
    margin-top: 14rem;
}
small{
    color:red;
}
