<p>add-course works!</p>

<form [formGroup]="courseAddingForm" class="form-container">
    <mat-card class="card-container">
      <mat-card-header>
        <mat-card-title>Register Course</mat-card-title>
        <br>
        <small *ngIf="formNotValid"
          >please fill all the required details</small
        >
      </mat-card-header>
      <br />
      <mat-card-content>
  
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input formControlName="course_name" matInput placeholder="course name" />
          </mat-form-field>
          <br>
          <small
            class="text-danger"
            *ngIf="
            courseAddingForm.get('course_name')?.invalid &&
            courseAddingForm.get('course_name')?.touched
            "
            >enter course name</small
          >
        </div>

        <div class="col-md-6">
            <mat-form-field class="full-width">
              <input formControlName="total_marks" matInput placeholder="total Marks" />
            </mat-form-field>
            <br>
            <small
              class="text-danger"
              *ngIf="
              courseAddingForm.get('course_name')?.invalid &&
              courseAddingForm.get('course_name')?.touched
              "
              >enter marks</small
            >
          </div>
        <!-- select -->
     
  
        
      </mat-card-content>
      <mat-card-actions>
        <button (click)="addCourse()" mat-raised-button="" color="primary">
          Register
        </button>
      </mat-card-actions>
    </mat-card>
  </form>