
<div class="top">  <mat-toolbar>
    <div>Welcome Owner</div>
    <div class="options">
    <button mat-raised-button color="primary" class="b1" routerLink="../food">Food</button>
    <button mat-raised-button color="primary" class="b1" routerLink="../menublock">Menu</button>
    <button mat-mini-fab color="primary" class="b1">ME</button></div>
  </mat-toolbar>
</div>
<div class="main">
    <div class="orders_received block">
        <h2>Orders Received</h2>
    </div>
    <div class="orders block">
            <h2>Orders Accepted</h2>
    </div>




</div>


