{% extends 'shop/basic.html' %}
{% block title %} Title Of About {% endblock %}
  {% block body %}
<div class="jumbotron">
  <h1 class="display-4">My Shopping App</h1>
  <p class="lead">My Shopping App is an
    Indian multinational technology company which focuses on
    e-commerce, cloud computing, digital streaming, and artificial
    intelligence. It has been referred to as "one of the most
    influential economic and cultural forces in the world,"[5]
    and is one of the world's most valuable brands.[6] It is one
    of the Big Five American information technology companies,
    alongside Alphabet, Apple, Meta, and Microsoft.

    Amazon was founded by Jeff Bezos from his garage in Bellevue,
    Washington,[7] on July 5, 1994. Initially an online marketplace
    for books, it has expanded into a multitude of product
    categories: a strategy that has earned it the moniker
    The Everything Store.[8] It has multiple subsidiaries
    including Amazon Web Services (cloud computing), Zoox
    (autonomous vehicles), Kuiper Systems (satellite Internet),
    and Amazon Lab126 (computer hardware R&D). Its other
    subsidiaries include Ring, Twitch, IMDb, and Whole Foods
    Market. Its acquisition of Whole Foods in August 2017 for
    US$13.4 billion substantially increased its footprint as a
    physical retailer.[9] </p>
</div>
{% endblock %}