<h1 class="text-center text-primary fs-2 mb-5"> Checkout </h1>

<div class="row" *ngIf="tourObject">
  <div class="col-12 col-md-5  text-dark m-auto mb-4">
    <img [src]="tourObject.image" alt="tour_image" width="100%">
    <p class="text-uppercase text-center fs-5">{{tourObject.tour_name}}</p>
  </div>
  <div class="col-12 col-md-6 text-dark ms-auto me-auto">
    <div class="d-flex justify-content-between">
      <p>Price for each person: </p>
      <p>{{ tourObject.price }}</p>
    </div>
    <div class="d-flex justify-content-between">
      <p>Total number of people: </p>
      <p>{{tourists.length}}</p>
    </div>
    <div class="d-flex justify-content-between">
      <p>coupon applied : </p>
      <p *ngIf="coupon">{{coupon.couponcode}} <button class="border-0 bg-light" (click)="updateCoupon(null)" ><i class="fa-solid fa-xmark text-danger"></i></button></p>
    </div>
    <div class="d-flex justify-content-between">
      <p>discount : </p>
      <p>{{discount}}</p>
    </div>
    <div class="d-flex justify-content-between">
      <p>total price : </p>
      <p>{{(tourObject.price - discount) * tourists.length}}</p>
    </div>
  </div>

  <!-- <div class="col-12 text-center mt-5">
    <form [formGroup]="CouponForm" (ngSubmit)="updateCouponCode()" *ngIf="!coupon">
      <mat-form-field class="" appearance="fill">
        <mat-label>COUPON CODE: </mat-label>
        <input type="text" name="couponCode" matInput formControlName="couponCode" placeholder="couponCode"
          class=""/>
          <mat-error *ngIf="formObj['couponCode'].hasError('required')">couponCode is required</mat-error>
        </mat-form-field>
        <button mat-raised-button class="text-success border-0">apply</button>
      </form>
      <p class="text-danger" *ngIf="error">{{error}}</p>
  </div> -->

  <div *ngFor="let coupon of tourObject.coupons" class="col-10 col-md-8 mb-4 border m-auto p-3">
    <div class="d-flex justify-content-evenly">
      <p class="fw-bold me-5">{{coupon.couponcode}}</p>
      <p >discount: {{coupon.discount * 100}}%</p>
      <p class="text-uppercase ms-5 border p-1 bg-primary text-light" (click)="updateCoupon(coupon)" style="cursor: pointer;">apply</p>
    </div>
    <p class="text-center">{{coupon.description}}</p>
  </div>

</div>


<mat-vertical-stepper linear #stepper>
  <!-- <div class="text-danger" *ngIf="submit && tourists.length == 0">Atleast one tourist should be added </div> -->
  <mat-step [stepControl]="TouristForm" errorMessage="Tourist details is required." [editable]='editable' style="font-size: 3rem;">
      <form [formGroup]="TouristForm">
        <ng-template matStepLabel class=""><span class="font_size_style">Fill out Tourists details</span></ng-template>
        <div formArrayName="tourists">
          <div *ngFor="let tourist of tourists.controls; let i=index">
            <div [formGroupName]="i" class="">
              <div class="">{{i+1}}:</div>
              <mat-form-field appearance="fill" class="me-1 ">
                <mat-label>Name </mat-label>
                <input type="text" matInput formControlName="name"/>
              </mat-form-field>
              <mat-form-field appearance="fill" class="me-1 ">
                <mat-label>Age </mat-label>
                <input type="number" matInput formControlName="age">
              </mat-form-field>

              <mat-form-field appearance="fill" class="me-1 ">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender" >
                  <mat-option *ngFor="let gender of Gender" [value]="gender.value">
                    {{gender.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <button (click)="removeTourist(i)">Remove</button>
            </div>

            <span class="text-danger me-5" *ngIf="submit && tourist.get('name')?.hasError('required')">Name is required</span>
            <span class="text-danger me-5" *ngIf="submit && tourist.get('age')?.hasError('required')">Age is required</span>
            <span class="text-danger me-5" *ngIf="submit && tourist.get('gender')?.hasError('required')">Gender is required</span>
          </div>
        </div>

        <p>
          <button type="button" (click)="addTourist()" style="font-size: 1rem;">Add Tourist</button>
        </p>
        <mat-error *ngIf="submit && TouristForm.get('tourists')?.hasError('required')">Atleast One Tourist is required</mat-error>
        <div>
          <button mat-button matStepperNext (click)="submit=true" >Next</button>
        </div>
      </form>
  </mat-step>
  <mat-step [stepControl]="paymentFormGroup" errorMessage="Payment type is required." [editable]='editable'>
    <form [formGroup]="paymentFormGroup">
      <ng-template matStepLabel><span class="font_size_style">Payment</span>  </ng-template>
      <mat-radio-group aria-label="paymentType" formControlName="payment_type" class="d-flex flex-column" [required]="true">
        <mat-radio-button *ngFor="let payment of paymentTypes" [value]="payment.value">{{payment.viewValue}} </mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="nextsubmit && paymentFormGroup.get('payment_type')?.hasError('required')">payment_type is required</mat-error>


      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="nextsubmit=true; onSubmit();">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel> <span class="font_size_style">Done</span> </ng-template>
    <p>Payment Successful.</p>
    <p>click on below button to see your bookings</p>
    <div>
      <!-- <button mat-button matStepperPrevious>Back</button> -->
      <button mat-button routerLink="../../bookings">click here</button>
    </div>
  </mat-step>
</mat-vertical-stepper>








<!--
<mat-stepper linear #stepper>
  <mat-step [stepControl]="TouristForm" errorMessage="Tourist details is required." [editable]='editable'>
      <form [formGroup]="TouristForm">
        <ng-template matStepLabel>Fill out Tourists details</ng-template>
        <div formArrayName="tourists">
          <div *ngFor="let tourist of tourists.controls; let i=index">
            <div [formGroupName]="i" class="row">
              <div class="col-2">{{i+1}}:</div>
              <mat-form-field appearance="fill" class="me-1 col-3">
                <mat-label>Name </mat-label>
                <input type="text" matInput formControlName="name"/>
              </mat-form-field>
              <mat-form-field appearance="fill" class="me-1 col-3">
                <mat-label>Age </mat-label>
                <input type="number" matInput formControlName="age">
              </mat-form-field>

              <mat-form-field appearance="fill" class="me-1 col-3">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender" >
                  <mat-option *ngFor="let gender of Gender" [value]="gender.value">
                    {{gender.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <button (click)="removeTourist(i)">Remove</button>
            </div>

            <span class="text-danger" *ngIf="tourist.get('name')?.hasError('required')">Name is required</span>
            <span class="text-danger" *ngIf="tourist.get('age')?.hasError('required')">Age is required</span>
            <span class="text-danger" *ngIf="tourist.get('gender')?.hasError('required')">Gender is required</span>
          </div>
        </div>

        <p>
          <button type="button" (click)="addTourist()">Add</button>
        </p>
        <mat-error *ngIf="submit && TouristForm.get('tourists')?.hasError('required')">Atleast One Tourist is required</mat-error>
        <div>
          <button mat-button matStepperNext (click)="submit=true" >Next</button>
        </div>
      </form>
  </mat-step>
  <mat-step [stepControl]="paymentFormGroup" errorMessage="Payment type is required." [editable]='editable'>
    <form [formGroup]="paymentFormGroup">
      <ng-template matStepLabel> Payment </ng-template>
      <mat-radio-group aria-label="paymentType" formControlName="payment_type" class="d-flex flex-column" [required]="true">
        <mat-radio-button *ngFor="let payment of paymentTypes" [value]="payment.value">{{payment.viewValue}} </mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="paymentFormGroup.get('payment_type')?.hasError('required')">payment_type is required</mat-error>


      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="onSubmit()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>Payment Successful.</p>
    <p>click on below button to see your bookings</p>

    <div>

      <button mat-button routerLink="../../bookings">click here</button>
    </div>

  </mat-step>
</mat-stepper> -->
