
.example-spacer {
    flex: 1 1 auto;
}
.title{
    color: white;
    font-size: 3rem;
}
.icon{
    margin: 2rem;
    transform: scale(1.5);
    cursor: pointer;
    color:white;
}
.nabButton{
    margin-right: 1rem;
    color:white;
    margin-top: 3.5rem;
    background-color: red;
}
.mat-toolbar{
    background-color: rgb(2, 2, 16);
    height: 7rem;
}