<div class="jumbotron">
    <div class="container text-center">
      <h1>WELCOME TO THE BEST CODING PLATFORM</h1>     
      <p>solve challenges and be on the top</p>
      <button type="button" class="btn btn-primary" routerLink="/login" *ngIf="!service.doLogin()">Get Started</button>
    </div>
  </div>
    
  <div class="container-fluid bg-3 text-center">    
    <h3>Problems</h3><br>
    <div class="container allproblems">
        <div class="problemRow" style="display: flex; justify-content: space-between;">
            <div class="problem">
              <a routerLink="/problems/category/array">Array</a>
            </div>
            <div class="problem">
              <a routerLink="/problems/category/string">String</a>
            </div>
            <div class="problem">
              <a routerLink="/problems/category/greedy">Greedy</a>
            </div>
            <div class="problem">
              <a routerLink="/problems/category/1">Array</a>
            </div>
            <div class="problem">
              <a routerLink="/problems/category/1">Array</a>
            </div>
        </div><br>
        <div class="problemRow" style="display: flex; justify-content: space-between;">
            <div class="problem">
              <a routerLink="/problems/category/1">Array</a>
            </div>
            <div class="problem">
              <a routerLink="/problems/category/1">Array</a>
            </div>
            <div class="problem">
              <a routerLink="/problems/category/1">Array</a>
            </div>
            <div class="problem">
              <a routerLink="/problems/category/1">Array</a>
            </div>
            <div class="problem">
              <a routerLink="/problems/category/1">Array</a>
            </div>
        </div><br>
        <div class="problemRow" style="display: flex; justify-content: space-between;">
            <div class="problem">
              <a routerLink="/problems/category/1">Array</a>
            </div>
            <div class="problem">
              <a routerLink="/problems/category/1">Array</a>
            </div>
            <div class="problem">
              <a routerLink="/problems/category/1">Array</a>
            </div>
            <div class="problem">
              <a routerLink="/problems/category/1">Array</a>
            </div>
            <div class="problem">
              <a routerLink="/problems/category/1">Array</a>
            </div>
        </div><br>
        <div class="problemRow" style="display: flex; justify-content: space-between;">
            <div class="problem">
              <a routerLink="/problems/category/array">Array</a>
            </div>
            <div class="problem">
              <a routerLink="/problems/category/1">Array</a>
            </div>
            <div class="problem">
              <a routerLink="/problems/category/1">Array</a>
            </div>
            <div class="problem">
              <a routerLink="/problems/category/1">Array</a>
            </div>
            <div class="problem">
              <a routerLink="/problems/category/1">Array</a>
            </div>
        </div><br>
        <div class="problemRow" style="display: flex; justify-content: space-between;">
            <div class="problem">
              <a routerLink="/problems/category/1">Array</a>
            </div>
            <div class="problem">
              <a routerLink="/problems/category/1">Array</a>
            </div>
            <div class="problem">
              <a routerLink="/problems/category/1">Array</a>
            </div>
            <div class="problem">
              <a routerLink="/problems/category/1">Array</a>
            </div>
            <div class="problem">
              <a routerLink="/problems/category/1">Array</a>
            </div>
        </div><br>
    </div>
  </div><br>
  
  <footer class="container-fluid text-center">
    <p>made with <span>&#10084;</span> by sairam</p>
  </footer>