<p>attempt-exam works!</p>

<div >
    <div>

        <div>

            <div>
                <div>

                    <h2>Exam Details :</h2>
                    <p>
                        </p><ul >
                            <li>Course : {{i}}</li>
                            <li>Total Questions :{{h.length}} </li>
                            <li>Total Marks : {{j}} </li>
                        </ul>
                    <p></p>



                    <h2>Rules :</h2>
                    <p>
                        </p><ul style="list-style:decimal;">
                            <li>All questions are MCQ (multiple choice question)</li>
                            <li><span class="text-danger">Only one choice is correct among the given.</span></li>
                            
                            <li>Try to answer ASAP.</li>
                            <li>If you PRESS refresh or go back to the previous page, there will be a new question for you and the question you were on will be counted as number of attempts.</li>
                            <li>Questions are presented randomly.</li>
                            <li>You will be able to view marks immediately once after you submit the answer.</li>
                        </ul>
                    <p><br></p>
                  

                    <button routerLink="../takeexam">Enter Exam</button>
                    <br><br>
                </div>  
                <div>Best Of Luck, Students!</div>  
                
            </div>  
        </div>  

    </div>
</div>