/MysqlCallback.class
/MysqlCallbackHandler.class
/OpenidConnectAuthenticationCallback.class
/OpenidConnectIdTokenFromFileCallbackHandler.class
/UsernameCallback.class
/WebAuthnAuthenticationCallback.class
