<div class="search">
    <div>
        <input type="text" name="" id="">
        <button type="button" class="btn-primary search-btn">
            <i class="bi bi-search"></i>
        </button>
    </div>
</div>
<div class="categories">
    <p>Categories</p>
    <div class="category">
        <p>Artificial Intelligence</p>
        <!-- <p *ngIf="tagsCount['Artificial intelligence']">({{ tagsCount["Artificial intelligence"] }})</p> -->
        <!-- <p *ngIf="!tagsCount['Artificial intelligence']">(0)</p> -->
    </div>
    <hr>
    <div class="category">
        <p>Block Chain</p>
        <!-- <p *ngIf="tagsCount['block chain']">({{ tagsCount["block chain"] }})</p> -->
        <!-- <p *ngIf="!tagsCount['block chain']">(0)</p> -->
    </div>
    <hr>
    <div class="category">
        <p>Data Structures</p>
        <!-- <p *ngIf="tagsCount['data structures']">({{ tagsCount["data structures"] }})</p> -->
        <!-- <p *ngIf="!tagsCount['data structures']">(0)</p> -->
    </div>
    <hr>
    <div class="category">
        <p>Devops</p>
        <!-- <p *ngIf="tagsCount['devops']">({{ tagsCount["devops"] }})</p> -->
        <!-- <p *ngIf="!tagsCount['devops']">(0)</p> -->
    </div>
    <hr>
    <div class="category">
        <p>Game Development</p>
        <!-- <p *ngIf="tagsCount['game development']">({{ tagsCount["game development"] }})</p> -->
        <!-- <p *ngIf="!tagsCount['game development']">(0)</p> -->
    </div>
    <hr>
    <div class="category">
        <p>Mobile Development</p>
        <!-- <p *ngIf="tagsCount['mobile development']">({{ tagsCount["mobile development"] }})</p> -->
        <!-- <p *ngIf="!tagsCount['mobile development']">(0)</p> -->
    </div>
    <hr>
    <div class="category">
        <p>Web Development</p>
        <!-- <p *ngIf="tagsCount['web development']">({{ tagsCount["web development"] }})</p> -->
        <!-- <p *ngIf="!tagsCount['web development']">(0)</p> -->
    </div>
</div>