<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
<servlet-name>SumServlet</servlet-name>
<servlet-class>com.example.SumServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>SumServlet</servlet-name>
<url-pattern>/Sum</url-pattern>
</servlet-mapping>



<servlet>


<servlet-name>InsertServlet</servlet-name>
<servlet-class>com.example.InsertServlet</servlet-class>

<init-param>
<param-name>UserName</param-name>
<param-value>Kanishka</param-value>
</init-param>

<init-param>
<param-name>DatabaseName</param-name>
<param-value>sys</param-value>
</init-param>

<init-param>
<param-name>Password</param-name>
<param-value>Kanishka123#</param-value>
</init-param>

</servlet>
<servlet-mapping>
<servlet-name>InsertServlet</servlet-name>
<url-pattern>/Insert</url-pattern>
</servlet-mapping>

</web-app>