<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<form action="#" th:action="@{/}" th:object="${personForm}" method="post" >

Enter your Name:<input type="text" th:field="*{name}">
<h1 th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</h1>
Enter your Age:<input type="text" th:field="*{age}">
<h1 th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</h1>

<button type="submit">Submit</button>

</form>
</body>
</html>