<div class="container"><h1 class="name">{{message}}</h1>

    <label for="" class="label">Username:</label><p class="heading">{{username}}</p>
    <label for="" class="label">Address:</label><p class="heading">{{add1}}</p>
    <label for="" class="label">Area:</label><p class="heading">{{add2}}</p>
    <label for="" class="label">City:</label><p class="heading">{{city}}</p>
    <label for="" class="label">State:</label><p class="heading">{{state}}</p>
    <label for="" class="label">Code:</label><p class="heading">{{code}}</p>
    <label for="" class="label">Phone:</label><p class="heading">{{phone}}</p>
    
    
    
    <button mat-stroked-button color="primary" (click)="editProfile()">Edit Account</button>
    <button mat-stroked-button color="warn" (click)="deleteProfile()">Delete Account</button>
    
    </div>