body{
    position:absolute;
    left:-0.5%;
    background-image: url('/assets/images/granite_bg.jpg');
    /* background-image: linear-gradient(red,silver); */
    height:65rem;
    width:100%;
    overflow: hidden;
    background-repeat:round;
    scrollbar-width: none;  /* Firefox */
}
