<app-admin-dashboard *ngIf="isAdmin=='True'"></app-admin-dashboard>
<app-customer-dashboard *ngIf="isAdmin=='False'"></app-customer-dashboard>
<p id="heading">Order List</p>
<div class="container">
    <table class="dataTable" align="center" >
        <tr class="row" >
            <th>OrderId</th>
            <th>Item</th>
            <th>Store</th>
            <th>Price</th>
            <th>Delivery Address</th>
        </tr>
        <br><br>
        <tr class="Row" *ngFor="let i of orderList" (click)="view(i.order_id.order_id)">
            <td><p>{{i.order_id.order_id}}</p></td>
            <td><p>{{i.contains_id.item_id.item_name}}</p></td>
            <td><p>{{i.contains_id.store_id.store_name}}</p></td>
            <td><p>{{i.contains_id.price}}/-</p></td>
            <td><p>{{i.order_id.delivery_address}}</p></td>
        </tr>
    </table>
</div>