<nav class="navbar navbar-dark navbar-expand-lg bg-primary">
  <a class="navbar-brand" [routerLinkActive]="['home-active']" routerLink="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="navbar-without-title">
      <div class="collapse navbar-collapse nav-start" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
              <a class="navbar-brand" [routerLinkActive]="['active']" routerLink="/problems">Problems</a>
              </li>
              <li class="nav-item active">
                  <a class="navbar-brand" [routerLinkActive]="['active']" routerLink="blogs">Blogs</a>
              </li>
          </ul>
      </div>
      <div class="collapse navbar-collapse nav-end" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li *ngIf="is_staff" class="nav-item active">
                <a title="Notifications" href=""><i class="bi bi-bell navbar-brand"></i></a>
              </li>
              <li class="nav-item active">
                  <a title="Streak" class="navbar-brand" href="#"><i class="bi bi-fire"></i></a>
              </li>
              <li class="nav-item active">
                  <a title="Profile" class="navbar-brand" [routerLinkActive]="['active']" [routerLink]="['/profile', username]"><i class="bi bi-person-fill"></i></a>
              </li>
              <li class="nav-item active" *ngIf="!service.doLogin()">
                  <a class="navbar-brand" [routerLinkActive]="['active']" routerLink="/register">Register</a>
              </li>
              <li class="nav-item active" *ngIf="service.doLogin()">
                <a class="navbar-brand" (click)="service.logOut()" [routerLinkActive]="['active']" routerLink="/register">Logout</a>
            </li>
          </ul>
      </div>
  </div>
</nav>