table {
    width: 100%;
  }

  .questiontable{
    margin-top: 8rem;
    margin-left: 12rem;
    margin-right: 12rem;
    width:auto;
  }

.mat-header-cell{
    text-align : center;
}
.mat-cell{
    text-align: center;
}
/* th,tr{
    
    background-color:rgb(250, 237, 220);
} */

th{
    color:black
}

.head{
  background-color: blue;
  color: white;
  padding:0.5rem;
  text-align: center;
  border-radius: 5px;
  font-size: large;
}
.add{
  background-color: rgb(9, 9, 249);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: large;
  border: none;
  display: inline;
  margin-bottom: 1rem;
}

.sear{
    display:flex;
    justify-content: center;
    margin-top:3rem;
    height: 1rem;
  }