<p>store-view works!</p>
<div class="dataTable">
    <p class="heading">Store Details</p>
        <table align="center">
            <tr class="row">
                <td>Store Id: </td>
                <td>{{store_data.store_id}}</td>
            </tr>
            <tr class="row">
                <td>Store Name:</td>
                <td>{{store_data.store_name}}</td>
            </tr>
            <tr class="row">
                <td>Established Year: </td>
                <td>{{store_data.store_established_year}}</td>
            </tr>
            <tr class="row">
                <td>Store Description </td>
                <td>{{store_data.store_store_description}}</td>
            </tr>
            <tr class="row">
                <td>Contact: </td>
                <td>{{store_data.contact}}</td>
            </tr>
            <tr class="row">
                <td>Website: </td>
                <td>{{store_data.website}}</td>
            </tr>
            <tr class="row">
                <td>Address: </td>
                <td>{{store_data.address}}</td>
            
        </table>
</div>