.main{
    margin:10rem;
    display: flex;
    justify-content: center;
    margin-top: 15rem;
    
}
.part1{
    background-color:rgba(8, 50, 66, 0.9);
    color: white;
    text-align: center;
    margin: auto;
    width: 22rem;
    padding: 1rem;
    size: 2rem;
    padding-top: 2rem;
    
    border-radius: 1rem;
    
}
h1,h3{
    font-size: 2rem;
    font-family: fantasy;

}
.part3{
    background-color:rgba(10, 11, 12, 0.9);
    color: white;
    text-align: center;
    margin: auto;
    width: 22rem;
    padding: 1rem;
    size: 20rem;
    padding-top: 2rem;
    
    border-radius: 1rem;
}
.part2{
    background-color:rgb(215, 59, 32);
    color: white;
    text-align: center;
    margin: auto;
    width: 22rem;
    padding: 1rem;
    size: 20rem;
    padding-top: 2rem;
    
    border-radius: 1rem;
}