<!-- <p>teacher-homepage works!</p> -->
<app-teacher-navbar></app-teacher-navbar>
<div class="main">

    <div class="part3">
        <h3>Registered Students</h3>
        <h3><mat-icon>person_outline</mat-icon>&nbsp;{{k}}</h3>

        
    </div>

    <div class="part1">

        <h3>Available Exams</h3>
        <h3><mat-icon>library_books</mat-icon>&nbsp;{{j}}</h3>

    </div>
   
    <div class="part2">

        <h3>Total Questions</h3>
        <h3><mat-icon>question_answer</mat-icon>&nbsp;{{i}}</h3>

    </div>
</div>



