<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if age >= 18 %}
    major
    {% else %}
    minor
    {% endif %}
    {% include 'index1.html' %}
    {% comment %}
    This is my phone number
    {% endcomment %}
    {% for i in ph_no %}
    {{i}}
    {% endfor %}<br>
    {{cnt|upper}}<br>
    {{cnt|wordcount}}<br>
    {{cnt|title}}<br>
    {{cnt|slugify}}<br>
    {{cnt|length}}<br>
    {{cnt|join:"$"}}




</body>
</html>