{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>temp5 page</title>

    <link href="{% static 'jangoapp2/CSS/style.css' %}" rel="stylesheet">

    <script src="{% static 'jangoapp2/js/script.js' %}" type="text/javascript"></script>

</head>
<body>
    <img src="{% static 'jangoapp2/Images/image1.jpeg' %}" alt="'image">
    <div class="e1">
        <h1>welcome boom!!!!!!!!!</h1>
    </div>
</body>
</html>