<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>temp2 page</title>
</head>
<body>
    <p> my name is {{name}}</p>
    <p> i am {{age}}</p>
    <p>btech in {{dept.0}}</p>
    <p>inter in {{dept.1}}</p>
    <p>ssc in {{dept.2}}</p>
    <p>btech id is {{id.btech}}</p>
    <P>inter id is {{id.inter}}</P>
    <P>ssc id is {{id.ssc}}</P>
    <p>{{series.1}}</p>
</body>
</html>