<div class="toolbar">
<mat-toolbar class="toolbar">
    <mat-toolbar-row class="toolbar1">
      <span>SALON</span>
      <span class="sp"></span>
    </mat-toolbar-row>
  
    <mat-toolbar-row class="toolbar2">
      <span class="icon-name"><button class="icon-name" routerLink="../admin/home"><mat-icon>home</mat-icon></button></span>
      <span class="sp1"><a routerLink = '../admin/services'>SERVICES</a></span>
      <span class="sp1"><a routerLink = '../admin/branch'>SALON LOCATOR</a></span>
      <span class="sp1"><a routerLink = '../admin/appointment'>APPOINTMENTS</a></span>
    </mat-toolbar-row>
  
</mat-toolbar>
</div>