<form (submit)="loginSubmit()" [formGroup]="login">
  <section class="vh-100" style="background-color: #000000;">

    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <h1 style="color: rgb(0, 169, 113);">Login </h1> <br>
              <h5 id="invaild"> </h5>
              <div class="form-outline mb-4">
                <input type="email" id="typeEmailX-2" formControlName="email_id" name="login_id"
                  class="form-control form-control-lg" required />
                <label class="form-label" for="typeEmailX-2">Email id</label> <br>
                <b><small [ngStyle]="{'color': '#F24C4C'}" *ngIf="email && email.invalid && email.touched;">Invalid
                    Email Id </small></b>
              </div>

              <div class="form-outline mb-4">
                <input type="password" id="typePasswordX-2" formControlName="password" name="password"
                  class="form-control form-control-lg" required />
                <label class="form-label" for="typePasswordX-2">Password</label> <br>
                <b><small [ngStyle]="{'color': '#F24C4C'}"
                    *ngIf="password && password.invalid && password.touched;">Invalid password</small></b>

              </div>
              <label for="form-select">Login as</label>
              <select name="dropdown" formControlName="user_type" class="form-select"
                aria-label="Default select example" required>
                <!-- <option [ngValue]="null" disabled>Login As</option> -->
                <option *ngFor="let country of user_type" [ngValue]="country.id">{{country.name}}</option>
              </select>
              <br>
              <b><small [ngStyle]="{'color': '#F24C4C'}" *ngIf="country && country.invalid && country.touched;">this
                  field is required</small></b>

              <br>
              <button class="btn btn-primary btn-lg btn-block" [disabled]="login.invalid" type="submit">Login</button>
              <!-- <div class="onload" style="display:block;margin-left: 40%;">
                <mat-spinner></mat-spinner>
              </div> -->
              <p class="text-center text-muted mt-5 mb-0">Don't have an account? <a href="" routerLink=".."
                  class="fw-bold text-body"><u>Register here</u></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>