<!-- <p>display-course works</p> -->
<app-teacher-navbar></app-teacher-navbar>

<div class="sear">
<mat-form-field class="example-form-field" appearance="outline" style="width:400px">
  <input matInput type="search"  placeholder="Search" [(ngModel)]="text" (input)="onSearchText()">
</mat-form-field>
</div>

<div class="coursetable">

  <button (click)="add()" class="add"> Add Course</button>
  <h1 *ngIf="!(v)"
  >No Data Found</h1
>
  <div class="head">Available Courses</div>
<table mat-table [dataSource]="courses" class="mat-elevation-z8">

  <ng-container matColumnDef="s.no">
    <th mat-header-cell *matHeaderCellDef>S.no </th>
    <td mat-cell *matCellDef="let question; let i=index"> {{i+1}} </td>
  </ng-container>

  
    <ng-container matColumnDef="course_name">
      <th mat-header-cell *matHeaderCellDef> Course Name </th>
      <td mat-cell *matCellDef="let element"> {{element.course_name}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="total_marks">
      <th mat-header-cell *matHeaderCellDef> Total Marks </th>
      <td mat-cell *matCellDef="let element"> {{element.total_marks}} </td>
    </ng-container>

    

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
        <td mat-cell *matCellDef="let row">
         
          <button mat-icon-button color="primary" (click)="updateCourse(row.id)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button color="warn" (click)="deleteCourse(row.id)"><mat-icon>delete</mat-icon></button>
          <!-- <button mat-icon-button color="primary" ><mat-icon>remove_red_eye</mat-icon></button> -->
        </td>
      </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  
  </table>
  <!-- <mat-paginator 
              [pageSizeOptions]="[2,5, 10, 25, 100]"
              aria-label="Select page of users">
</mat-paginator> -->
</div>


