<mat-sidenav-container class="tp-container">
  <mat-sidenav class="sidenav" mode="side" opened>
    <div>
      <button routerLink="../admin/display-appointments" class="nabButton" mat-button>Appointments</button>
    </div>
    <div>
      <button routerLink="../admin/display-branches" class="nabButton" mat-button>Branches</button>
    </div>
    <div>
      <button routerLink="../admin/dislplay-employees" class="nabButton" mat-button>Employees</button>
    </div>
    <div>
      <button routerLink="../admin/display-customers" class="nabButton" mat-button>Customers</button>
    </div>
    <!-- <div>
      <button routerLink="../admin/display-labs" class="nabButton" mat-button>Labs</button>
    </div> -->
    <!-- <div>
      <button routerLink="../admin/display-bills" class="nabButton" mat-button>Bills</button>
    </div> -->
    
  </mat-sidenav>
</mat-sidenav-container>
