<style>
    table,th, tr, td{
    border:2px solid blue;
    }
    a{
        text-decoration:none;
            align-content:center;
    }
</style>

<table>
    <tr>
        <th>Cutomer ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Address</th>
    </tr>
    {% for i in det %}
    <tr>
        <td>{{i.cust_id}}</td>
        <td>{{i.first_name}}</td>
        <td>{{i.last_name}}</td>
        <td>{{i.contact}}</td>
        <td>{{i.email}}</td>
        <td>{{i.address}}</td>
    </tr>
    {% endfor %}

</table>
<br>
<a href="add_customer_details">Add Customer</a>
<a href="delete_customer">Delete Customer</a>
<br>
<br>

<p style="color:Blue; font-size:larger">{{i}}</p>

