<p>employee-update works!</p>

<div class="dataTable">
    <form [formGroup]="employeeUpdate">
        <p class="heading">Update Employee Details</p>
        <table align="center" >
            <tr class="row">
            <td>Employee_id: </td><td><input type="text" formControlName="employee_id"  ></td></tr>
            <tr class="row">
            <td>FullName: </td><td><input type="text" formControlName="employee_name" ></td></tr>
            <tr class="row">
            <td>Phone: </td><td><input type="tel" formControlName="phone" ></td></tr>
            <tr class="row">
            <td>Email: </td><td><input type="email" formControlName="email" ></td></tr>
            <tr class="row">
            <td>Doj: </td><td><input type="date" formControlName="doj" ></td></tr>
            <tr class="row">
            <td>Role: </td><td><select formControlName="role" ><option *ngFor="let role of roles" >{{role.role_name}}</option></select></td></tr>
            <tr class="row">
            <td>Salary: </td><td><input type="text" formControlName="salary" ></td></tr>
            <tr class="row">
            <td>Address: </td><td><textarea formControlName="address" rows="5" cols="20"></textarea></td>
            <tr class="row">
            <td></td><td><button class ="save" (click)="update()">save</button>&nbsp; &nbsp;<input id= "reset" type="reset"></td></tr>
        </table>
    </form>
</div>
