.full-width {
    width: 100%;
}

.top-padding {
    padding-top: 3px;
}

/* .margin-left mat-radio-button:not(:first-child) {
    margin-left: 10px;
} */

.form-container {
    margin: 100px;
    margin-left: 500px;
    width: 35%;
   
}
.field{
    background-color: aqua;
    width: 200px;
}
.body{
    overflow: hidden;
}