.btn{
    width:500px;
    padding:10px;
    color:white;
    background-color:crimson;
    display:block
}
.btn-options{
    padding:10px;
    display:block;
    width: 250px;
    height:40px;
    background-color:pink;
    margin-bottom: 5px;
    border: 0ch;
}