<div>
  <h1>This is a trail page</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, architecto.</p>

<button (click)="getTime(); reloadCurrentPage()">Refresh Time</button>
<p *ngIf= "flag" id="date">{{ date }}</p>
<b>{{arr}} <br>{{ arr2 }}</b>
<br><h5>Customer: {{ customer.name }} age: {{ customer.age }}</h5>

</div>
<hr>


<H3>Data binding</H3>
<p>Task on 20/09/2022 </p>
<app-child [passingData]="sendingData" (outEvent)="outDataRcv($event)"></app-child>
<app-material>
  
</app-material>
