<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<h1 th:text=" 'Hello ' + ${name} + ', this is a dynamic page'"> </h1>
		
		<h2>Use this from for Http.POST</h2>
		
		<form method="POST" action='/register' th:object="${userObj}" >
			<label for="name">Name</label>
			<input name="name" type="text"/>
			<input name="submit" type="submit"/>
			
		</form>
		<br/>
		
		<h2>Use this form for Http.GET</h2>
		<form method="GET" action='/test' >
			<label for="name">Name</label>
			<input name="name" type="text"/>
			<input name="submit" type="submit"/>
		</form>
	</body>
</html>