<!-- <p *ngIf="true">TIME : {{ date  }}</p>

<hr>

<button
  (click)="enableDisableRule()"
  [ngClass]="{'green' : green, 'red': red ,'blue':blue}" class="button"
>
  {{status}}
</button> -->
<!-- <div class="load" *ngIf="temp">
  <img src="https://media.tenor.com/UnFx-k_lSckAAAAM/amalie-steiness.gif" alt="" style="height: 50vh;display: block;margin: auto;">
</div> -->
<router-outlet></router-outlet>

<!-- <app-child-component [item] = "item"  (outputItem)="emitter($event)"></app-child-component> -->