<p>managertask works!</p>
<div  *ngFor="let ele of complaints">
    <div class="assigned" *ngIf="!ele.is_assigned" class="complaintcards">
    complaint_id : {{ele.comp_id}}
    <br>
    complaint description :{{ele.comp_desc}}
    <br>
    <label for="employee">Select an employee to assign </label>
    <select name="employee" id="employee"  >
        <option *ngFor="let employee of employeelist" value="{{employee.emp_id}}" > {{employee.emp_name}}</option>
    </select>
    <br>
    <button (click)="assignComplaint(ele.comp_id)">Assign</button>
</div>

</div>
