.dataTable{
    background-color:rgba(31, 31, 50, 0.636);
    margin:auto;
    color:white;
    padding:1em;
    height:40rem;
    width:65rem;
    border-radius: 1%;
    margin-top:5rem;
    

}

.heading{
    font-size: 2em;
    font-weight: 700;   
    text-align: center;
}

.row{
    text-align: center;
    border:1px solid black;
    background-color: rgb(75, 75, 81);
    height:2em;
    
}
table{

    width:45em;
}

.save{
    height:3em;
    width:8em;
    color:white;
    background-color: black;
    margin-left: 58em;
    margin-bottom: 1em;
   }

.quantity{
    display: inline;
    background: none;
    border:none;
    font-size: 1em;
    color:white;margin-left: 1%;
}
p.quantity{
    padding: 0px 5%;
}

#buynow{
    position:absolute;
    bottom:20%;
    left:45%;
    height: 3em;
    width:8em;
    background-color: black;
    color:white;
    border-radius: 2%;
    font-weight: 700;

}

.order-summary{
    background-color: rgba(89, 48, 48, 0.695);
    margin:auto;
    width:fit-content;
    color:white;
    padding:3em;
    

}
textarea{
    width:97%;
}
#buy{
    position:relative;
    height:3em;
    width:6em;
    background-color: green;
    color:white
}