<mat-card>
  <mat-card-title>Staff's Form</mat-card-title>
<div class="container">
  <form [formGroup]="formstaff" (ngSubmit)="saveDetails(formstaff)">
      <mat-form-field appearance="standard">
          <mat-label>Name</mat-label>
          <input matInput maxlength="15" inputmode="text" placeholder="Type name" formControlName="name" #nameInput>
          <mat-hint>Mini character : {{ nameInput.value.length }}/10</mat-hint>
          <mat-error>Name is required</mat-error>
          <mat-error *ngIf="formstaff.controls['name'].errors?.['minlength']">
              Please enter more than 10 character
          </mat-error>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Contact Number</mat-label>
        <input matInput maxlength="10" inputmode="tel" placeholder="Type phone no" formControlName="phno" >
        <mat-hint>Mini character : {{ nameInput.value.length }}/10</mat-hint>
        <mat-error>phone no is required</mat-error>
        <mat-error *ngIf="formstaff.controls['phno'].errors?.['minlength']">
            Please enter 10 Number
        </mat-error>
    </mat-form-field>

      <mat-form-field appearance="legacy">
          <mat-label>Email Address:</mat-label>
          <input matInput type="email" formControlName="email" placeholder="Your email">
          <mat-icon matSuffix>mail_outline</mat-icon>
          <mat-hint>Input the fully qualified email address</mat-hint>
          <mat-error *ngIf="formstaff.controls['email'].errors?.['required']">Email is required</mat-error>
          <mat-error *ngIf="formstaff.controls['email'].errors?.['pattern']">Please enter valid email</mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard">
          <mat-label>Address:</mat-label>
          <textarea matInput placeholder="address" formControlName="address"></textarea>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>insurance Id:</mat-label>
        <input matInput maxlength="15" inputmode="text" placeholder="Type your insurance id if any" formControlName="insuraceid">
    </mat-form-field>

      <mat-form-field appearance="fill" hintLabel="Country name required">
          <mat-label>Country</mat-label>
          <mat-select matNativeControl name="country" formControlName="country">
              <mat-option value="india">India</mat-option>
              <mat-option value="france">France</mat-option>
              <mat-option value="germany">Germany</mat-option>
              <mat-option value="japan">Japan</mat-option>
              <mat-option value="Mongolia">Mongolia</mat-option>
          </mat-select>
      </mat-form-field>

      <div style="margin-top:10px;">
          <div style="margin-right:3%; color:#6b6b6b;">
              <mat-label>Gender</mat-label>
          </div>
          <mat-radio-group formControlName="gender">
              <mat-radio-button value="Male">Male</mat-radio-button>
              <mat-radio-button value="Female">Female</mat-radio-button>
          </mat-radio-group>
      </div>

      <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dob">
          <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboararrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>


      <div mat-dialog-actions align="end">
        <div class="example-button-row">
          <button mat-raised-button color="primary"  routerLink="/newuser">Back</button>
        </div>
        <router-outlet></router-outlet>
          <button mat-raised-button color="primary" type="submit" [disabled]="!formstaff.valid">Submit</button>
      </div>
  </form>
  <div>{{ formstaff.value | json }}</div>
</div>

</mat-card>
