<!-- <div class="top-bar">
  <a [routerLink]="['/']">
    <h1>My Store</h1>
  </a>

  <a class="button fancy-button" routerLink="/cart"
    ><i class="material-icons">shopping_cart</i>Checkout</a
  >
</div> -->

<div class="cms-container">
  <div class="headings-container" >
    <img src="../../assets/hs-logo.jpg" alt="" class="hs-logo" />
    <h2 class="logo-heading">Panda Society</h2>
  </div>

  <div class="headings-container">
    <h4 class="login-heading" (click)="showLogin()">Login</h4>
  </div>
</div>
