<div *ngIf="employeeform">
<form [formGroup]="employeeform" (ngSubmit)="registeremployee()">
<label>employee name : </label>
<input type="text" formControlName="emp_name"><br>
<label>employee mobile number : </label>
<input type="text" formControlName="emp_mobile"><br>
<label>employee email : </label>
<input type="text" formControlName="emp_email"><br>
<label>employee role : </label>
<input type="text" formControlName="emp_role"><br>
<label>employee password : </label>
<input type="text" formControlName="emp_password"><br>
<label>FAcility ID  : </label>
<input type="text" formControlName="facility_id"><br>
<button>submit</button>
</form>
</div>