<app-login-navbar></app-login-navbar>
<div class="main">
  <div class="sign">
    <form [formGroup]="login"><br><br><br>
      <h2>Owner Sign In</h2>

      <div class="input">
        <input id="in" type="text" name="email" placeholder="email" formControlName="email">
                <br><br>
        <p *ngIf=" formData['email'].hasError('required') && submit && formData['email'].touched ">Email required</p>
        <p *ngIf=" formData['email'].hasError('email') && submit ">Invalid email</p>

        <input id="in" type="text" name="password" placeholder="password" formControlName="password">
        <p *ngIf=" formData['password'].hasError('required') && submit ">Password required</p>
         <br><br><br>

        <button type="submit" class="btn" (click)="ownerLogin(); submit=true">Login</button>

        <div class="check">
          <div class="new">
            <h4>New User?</h4>
            <a routerLink="../ownerregister">
              <button class="register">
                Register Now
              </button>
            </a>
          </div>
        </div>
      </div>


    </form>
  </div>
</div>

