{% comment %}
<h1>using comment here</h1>
{% endcomment %}
<a href="{% url 'home' %}">Home Page</a>

<h1>Topic Name : {{Topic}}</h1>
<h1>Players : </h1>

<!-- for loop tag -->
{% for i in Player_details %}
<h2>{{i.name|title}} from {{i.country|upper}} </h2>
{% endfor %}
<hr>

<!-- if condition -->
<h1>listing team members:</h1>

{% for i in Player_details %}

{% if i.country|title == "India"%}

<h2>{{i.name}}</h2>

{% endif %}

{% endfor %}


<hr>


<!-- word count -->
<h1>{{sentence}} has {{sentence|wordcount}} words</h1>

<!-- slugify filter -->
<h1>slugify : {{sentence|slugify}}</h1>

<!-- length -->
<h1>{{sentence}} has {{sentence|length}} letters</h1>

<!-- title  -->
<h1>title on sentence: {{sentence|title}}</h1>

<hr>
<!--join-->
<h1>Join Filter</h1>
{% for member in Player_details %}
<h2> {{member.name|join:':'}}</h2>
{% endfor %}

<hr>
<!--add-->
<h1>Add Filter</h1>
{% for member in Player_details %}
<h2> {{member.name|add:':'}}{{member.type}}</h2>
{% endfor %}
