<mat-toolbar >
    <mat-toolbar-row class="toolbar1">
      <span>SALON</span>
      <span class="sp"><mat-icon>account_circle</mat-icon></span>
    </mat-toolbar-row>
  
    <mat-toolbar-row class="toolbar2">
      <span class="sp1"><a routerLink = '../services'>SERVICES</a></span>
      <span class="sp1"><a routerLink = '../branch'>SALON LOCATOR</a></span>
      <span class="sp1"><a routerLink = '../client/bookappointment'>BOOK AN APPOINTMENT</a></span>
      <span class="sp1"><a routerLink = '../client/appointments'>MY APPOINTMENTS</a></span>
    </mat-toolbar-row>
  
</mat-toolbar>