<mat-toolbar >
    <mat-toolbar-row class="toolbar1">
      <span>SALON</span>
      <span class="sp">
        <button mat-button [matMenuTriggerFor]="menu" class = 'button1'><mat-icon>account_circle</mat-icon></button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink = "../client/profile">My profile</button>
        <button mat-menu-item>Log out</button>
        </mat-menu>
      </span>
    </mat-toolbar-row>
  
    <mat-toolbar-row class="toolbar2">
      <span class="sp1"><a routerLink = '../client/services'>SERVICES</a></span>
      <span class="sp1"><a routerLink = '../client/branch'>SALON LOCATOR</a></span>
      <span class="sp1"><a routerLink = '../client/bookappointment'>BOOK AN APPOINTMENT</a></span>
      <span class="sp1"><a routerLink = '../client/appointments'>MY APPOINTMENTS</a></span>
    </mat-toolbar-row>
  
</mat-toolbar>