.head{
    display: flex;
    justify-content: center;
    top: 0;
    height: 20vh;
}
.head1{
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    background-color:  rgb(244, 248, 249);
    width: 50vw;
    height: 400px;
    border-radius: 5%;
    font-family: Arial, Helvetica, sans-serif;
}
.ac1{
    justify-content: center;
}
.ip{
    width:90%;
    padding: 5px;
    margin-top: 5%;
}
.ipp{
    margin: 0%;
    padding: 5px;
    width: 42.5%;

    
}
.b1{
    background-color:lightskyblue;
    margin-top: 15%;
    margin-bottom: 8%;
    padding: 5px;
    border-radius: 25px;

}
.b1:hover{
    background-color: aqua;
}
.e1 {
    padding-bottom: 5%;

}
.login{
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    background-color: rgb(244, 248, 249);
    width: 40vw;
    height: 320px;
    border-radius: 10%;
    font-family: Arial, Helvetica, sans-serif;
}
.lo3{
    width: 300px;;
    padding: 5px;
    margin-top: 5%;
}

.forgot{
    margin-top: 5%;
    font-size: 10px;
}
.forgot a{
    text-decoration: none;
}
.forgot:hover{
    text-decoration: underline;
}
.e1 a{
    text-decoration: none;
    font-size: 10px;
}
.e1:hover{
    text-decoration: underline;
}
.add1{
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    font-size: small;
    align-items: center;
}
.add2{
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    background-color:  rgb(244, 248, 249);
    width: 50vw;
    height: 400px;
    border-radius: 5%;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
}
.add3{
    width: 90%;
    padding: 5px;
    margin: 5px;
}
.butt1{
    background-color: lavender;
    padding: 10px;
    margin-top: 10px;
    width: 250px;
}
.butt1:hover{
    background-color: lavenderblush;
}
.deli{
    display: flex;
    justify-content: space-between;
    margin-top:-5%;  
}
.order1{
    display: flexbox;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center; 
    background-color:  rgb(244, 248, 249);
    width: 45vw;
    height: 350px;
    border-radius: 5%;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
}
.order2{
    display: flexbox;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center; 
    background-color:  rgb(244, 248, 249);
    width: 45vw;
    height: 450px;
    border-radius: 5%;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
}
.change{
height: 20px;
}
.tab{
    width: 100%;
}
.tab1
{
    width: 100%;
}
.tab11{
    justify-content: center;
    text-align:left;
}
.tab12{
    justify-content: center;
    text-align:left;
}
.tab13{
    justify-content: center;
    text-align:right;
}
.p{
    margin-top: 15%;
}
.p1{
    margin-top: 5%;
}
.butt2{
    background-color: lavender;
    padding: 8px;
    margin-top: 9.5%;
    margin-left: 35%;
    width: 250px;
    justify-content: center;
}
.pay1{
    margin-top: -5%;
    padding-left: 5%;
}
.pay2{
    padding-left: 10%;
}
.r1{
    margin: 3%;
}
.butt3{
    background-color: lavender;
    padding: 8px;
    margin-top: 10%;
    margin-left: 35%;
    width: 250px;
    justify-content: center;
}
.img1{
    height: 25%;
    width: 20%;
    margin-left: 13.5%;
    justify-content: center;
}