.full-width {
    width: 100%;
}

.top-padding {
    padding-top: 3px;
}

.form-container {
     margin:auto;
     width: 30rem;
     padding-top: 5%;
    
   
}
.field{
    background-color: aqua;
    width: 15rem;
}

.body{
    height: 60rem;
    width: 100%;
    background-color: grey;
    background-image: url("src\assets\images\image5.png");
    background-size:cover;
    background-repeat: no-repeat;
}
.mat-card{
    background-color: rgb(228, 234, 235);

}
small{
    color:red;
}