<body>
    <!-- <mat-form-field appearance="fill">
        <mat-label>Select the date</mat-label>
        <mat-select>
          <mat-option value="one">Platinum</mat-option>
          <mat-option value="two">Gold</mat-option>
          <mat-option value="two">Loungers</mat-option>
        </mat-select>
      </mat-form-field> -->
      <form [formGroup]="Seats">
        {{Seats.value|json}}
      <mat-form-field appearance="fill">
        <mat-label >Select the number of seats</mat-label>
        <mat-select formControlName="NumberSeats">
          <mat-option value=1>1</mat-option>
          <mat-option value=2>2</mat-option>
          <mat-option value=3>3</mat-option>
          <mat-option value=4>4</mat-option>
          <mat-option value=5>5</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" (click)="goToSeats()">Start Selecting!!</button>
    </form>
</body>
