<!-- <div class="container" *ngIf="activeBookings">
  <div class="row border pt-2 pb-2 mb-3" *ngFor="let booking of activeBookings" [ngStyle]="{'background-color': booking.isCancelled ? '#c9ccd1' : 'white'} ">
    <div class="col-4">
      <img [src]="booking.tourid.image" alt="tour_image" width="100%" height="100%" />
    </div>
    <div class="col-8" >
      <div class="row text-start">
        <div class="mb-2 col-6 text-uppercase">{{booking.tourid.tour_name}}</div>
        <div class="mb-2 col-6 text-uppercase">user: {{booking.userid.email}}</div>
        <div class="mb-2 col-5 fw-bold">{{booking.tourid.tour_from}} Tour</div>
        <div class="mb-2 col-2">-----</div>
        <div class="mb-2 col-5 fw-bold">{{booking.tourid.tour_to}} Tour</div>
        <div class="mb-2 col-12">Transaction Id: {{booking.paymentid.transaction_id}}</div>
        <div class="mb-2 col-5 ">Trip Date: {{(booking.tourid?.start_date).split('T')[0]}}</div>
        <div class="mb-2 col-2 "></div>
        <div class="mb-2 col-5 ">Time: {{(booking.tourid?.start_date).split('T')[1]}}</div>
        <div class="mb-2 col-5 ">Total Price: {{booking.paymentid.total_price}}</div>
        <div class="mb-2 col-2 "></div>
        <div class="mb-2 col-5 ">Number of Tourists: {{booking.no_of_people}}</div>
        <div class="mb-2 col-6"><button class="" (click)="cancelBooking(booking.id)" *ngIf="!booking.isCancelled">cancel</button></div>
        <div class="mb-2 col-6"><button class="text-danger" *ngIf="booking.isCancelled">Cancelled</button></div>
      </div>
    </div>
  </div>
</div> -->



<div class=" mb-3 row">
  <form [formGroup]="searchText" class=" col-8">
    <mat-form-field appearance="legacy" class="full-width col-6">
      <mat-label>Search</mat-label>
      <!-- <input matInput placeholder="Search" formControlName="text" (keydown)="keyDownFunction($event)" (input)="search()"> -->
      <input matInput placeholder="Search" formControlName="text" (input)="getPageItems(0)">
      <mat-icon matSuffix style="cursor: pointer;"><i class="fa-solid fa-magnifying-glass"></i></mat-icon>
      <mat-hint>Enter booking ID to search</mat-hint>
    </mat-form-field>

    <!-- <div class="form-check form-switch">
      <input class="form-check-input" formControlName="isCancelled" type="checkbox" role="switch" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">Only Cancelled</label>
    </div> -->


    <!-- <mat-form-field appearance="fill">
      <mat-label>Filter</mat-label>
      <select matNativeControl formControlName="filter" (change)="getPageItems(0)">
        <option value="" selected>All</option>
        <option value='true'>Cancelled</option>
        <option value='active'>Active Bookings</option>
        <option value='past'>Past Bookings</option>
      </select>
    </mat-form-field> -->

    <mat-form-field appearance="legacy" class="w-50 col-6">
      <mat-label>Tours</mat-label>
      <mat-select formControlName="filter" multiple (selectionChange)="getPageItems(0)">
        <mat-select-trigger >
          {{searchText.get('filter')?.value?.[0] || ''}}
          <span *ngIf="(searchText.get('filter')?.value?.length || 0) > 1" class="example-additional-selection">
            (+{{(searchText.get('filter')?.value?.length || 0) - 1}} {{searchText.get('filter')?.value?.length === 2 ? 'other' : 'others'}})
          </span>
        </mat-select-trigger>
        <mat-option value='true'>Not Cancelled</mat-option>
        <mat-option value='active'>Active Bookings</mat-option>
        <!-- <mat-option value='past'>Past Bookings</mat-option> -->
      </mat-select>
      <mat-hint>filter</mat-hint>
    </mat-form-field>
    <!-- <p>selected: {{searchText.get('filter')?.value}}</p> -->



  </form>

  <div class="d-flex align-items-center mt-auto mb-auto h-100 col-4">
    <button  mat-raised-button routerLink="../addBooking" class="d-block ms-auto">Add Booking</button>
  </div>

</div>


<table *ngIf="pageItems" class="table table-bordered">
  <tr *ngFor="let booking of pageItems" >
      <td>booking id: {{booking.id}}</td>
      <td [ngStyle]="{color: booking.isCancelled ? 'red' : 'green'}" > {{ booking.isCancelled ? 'cancelled' : 'not cancelled'}}</td>
     <td><button (click)="editBooking(booking.id)" class="border-0 bg-light" style="border: none; background-color:#fff"><i class="fa-solid fa-pen text-primary"></i></button></td>
     <td><button (click)="deleteBooking(booking.id)" class="border-0 bg-light"><i class="fa-solid fa-trash text-danger"></i></button></td>
     </tr>
</table>
<h1 class="text-center text-danger" *ngIf="!pageItems || pageItems.length == 0">No results</h1>


<div class="text-center" *ngIf="pageItems && pageItems.length != 0">
  <button (click)="getPageItems(-1)" class="border-0 bg-light"><i class="fa-solid fa-angle-left"></i></button>
  page {{page}} of {{totalPages}}
  <button (click)="getPageItems(1)" class="border-0 bg-light"><i class="fa-solid fa-angle-right"></i> </button>
</div>
