/ArrayListChallenge.class
/Arraychallenge.class
/CoffeeMaker.class
/DishWasher.class
/InteractiveGroceryList.class
/MinimumElementChallenge.class
/Refrigerator.class
/ReverseArray.class
/SK.class
/SmartKitchen.class
/Temp.class
/Palindrome.class
/EvenDigitSum.class
/MethodChallenge.class
/SpeedConverter.class
/MegaByteConverter.class
/BarkingDog.class
/LeapYear.class
/DecimalComparator.class
/EqualSumChecker.class
/TeenNumberChecker.class
/AreaCalculator.class
/Area.class
/PrintYearsAndDays.class
/EqualityPrinter.class
/PlayingCat.class
/sum3And5Challenge.class
/DigitSum.class
/LastDigitEvaluation.class
/Factors.class
/GreatestCommonDivisor.class
/SharedDigit.class
/PerfectNumber.class
/DigitsIntoWords.class
/FlourPack.class
