<app-admin-dashboard></app-admin-dashboard>
<div class="dataTable">
    <p class="heading">Customers List</p>
    <table align="center">
        <button><a [routerLink]="['/customerRegistration']">add new customer</a></button>
        <tr class="row"><th>Name :</th> <th>Contact: </th><th>Email id:</th><th>actions</th></tr><br><br>
        <tr class="row" *ngFor="let i of Customers_list" (click)="onclick(i.username)"><td>{{i.customer_name}}</td>
        <td>{{i.phone}}</td>
         <td>{{i.email}}</td><td><button (click)="editProfile(i.username)">Edit</button>&nbsp;&nbsp;<button (click)="deleteProfile(i.username)">Delete</button>
        </td>
    </tr>
    
    </table>
    
    
</div>