{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookTicket</title>
    <link href="{% static 'Ticket_booking/CSS/stylesheet.css' %}" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <div class="navbar1">
            logo
        </div>
        <div class="navbar2">
            <div><p>Home </p></div>
            <div><p>Movies </p></div>
            <div><p>My Bookings </p></div>
            <div><p>Help </p></div>
            <div><p>About Us </p></div>
        </div>
    </div>
    <div class="homeimage"><img src="{% static 'Ticket_booking/Images/homeimage.jpg' %}" alt="'image" width=100%></div>
</body>
</html>