.main{
    /* margin-top: 100px;
    margin-left: 400px;
    margin-right: 100px; */
    /* margin: 100px; */
    margin-top: 150px;
    margin-left:200px ;
    margin-right:200px ;
    display: flex;
    /* margin-top: 150px; */
    
    /* height: 90%;
    width: 100%;
    /* background-color: blue; */
}
.part1{
    background-color:rgba(8, 50, 66, 0.9);
    color: white;
    text-align: center;
    margin: auto;
    width: 550px;
    padding: 5px;
    size: 200%;
    padding-top: 30px;
    font-family: 'Times New Roman', serif;
    
}
h1,h3{
    font-size: 2rem;

}
.part2{
    background-color:rgb(215, 59, 32);
    color: white;
    text-align: center;
    margin: auto;
    padding: 5px;
    width: 550px;
    padding-top: 30px;
}