/AverageCalculator.class
/DigitWorded.class
/Factors.class
/GreatestCommonDivisor.class
/LastDigit.class
/MinMaxChallenge.class
/PalindromicCheck.class
/PerfectNumber.class
/SharedDigit.class
/SumOfEvenDigits.class
