<app-slideshow></app-slideshow>

<h1>Trending movies</h1><h4 routerLink="/movieInfo" style="margin-left:87vw;cursor:pointer">View all movies-></h4>
<div class="movies">
  <ul *ngFor="let m of movies,index as i">
    <!-- <li (click)="moviepage()">{{m.name}}</li> -->
    
    <mat-card class="example-card">
      <mat-card-subtitle>Movies</mat-card-subtitle>
      <mat-card-title>{{m.Movie_name}}</mat-card-title>
      <div class="content" style="height:300px;">
      <mat-card-content>
        <!-- <p>Language-{{m.Movie_lang }}</p> -->
        <p>{{m.Movie_details }}</p>
        <p>Release-date-{{m.Movie_Release_date }}</p>
        <!-- <p>Category-{{m.Movie_category }}</p> -->
        <!-- <p>Cast-{{m.Movie_cast }}</p> -->
        <p>Review-{{m.Movie_reviews }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="btn" (click)="openview(m.Movie_name,m.Movie_lang,m.Movie_details,m.Movie_Release_date,m.Movie_category,m.Movie_cast)  " >View</button>
        <button mat-button class="btn"(click)="openBooking(m.Movie_id)">Book</button>
      </mat-card-actions>
    </div>
    </mat-card>
    <mat-divider></mat-divider>
  </ul>
</div>
