<app-slideshow></app-slideshow>

<h1  style="margin-left:35px" >Trending movies</h1>
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel style="width:300px;margin-left:35px">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Language Filter
      </mat-panel-title>
      <mat-panel-description>
        Select a language
      </mat-panel-description>
    </mat-expansion-panel-header>
    <button mat-stroked-button  [style.background]="this.filter.includes('Hindi')?'crimson':'white'" [style.color]="this.filter.includes('Hindi')?'white':'crimson'" color="accent" value="Hindi"(click)="selectedfilter('Hindi')">Hindi</button>
    <button mat-stroked-button [style.background]="this.filter.includes('Telugu')?'crimson':'white'" [style.color]="this.filter.includes('Telugu')?'white':'crimson'" color="accent" value="Telugu" (click)="selectedfilter('Telugu')">Telugu</button>
    <button mat-stroked-button [style.background]="this.filter.includes('English')?'crimson':'white'" [style.color]="this.filter.includes('English')?'white':'crimson'" color="accent" value="English" (click)="selectedfilter('English')">English</button>
  </mat-expansion-panel>
</mat-accordion>
<mat-chip-list #chipList aria-label="Fruit selection">
  <mat-chip style="margin-left: 35px;"
    *ngFor="let fruit of filter"
    (removed)="remove(fruit)">
    {{fruit}}
    <button matChipRemove>
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-chip>
</mat-chip-list>
<h4 routerLink="/movieInfo" style="margin-left:1250px;cursor:pointer">View all movies-></h4>
<input style="margin-left:35px;margin-bottom:20px;width:250px" [(ngModel)]="text" (input)="search()" placeholder="search movies by name or languange">
<div class="movies">
  <ul *ngFor="let m of movies,index as i">
  
    <mat-card class="example-card" style="background-image:url({{m.Movie_poster}});background-size:cover; ">
      <!-- <mat-card-subtitle>Movies</mat-card-subtitle> -->
      <!-- <mat-card-title>{{m.Movie_name}}</mat-card-title> -->
      <!-- <img src={{m.Movie_poster}} alt="img not available" height="65%" width="95%"> -->
      <div class="content" style="height:300px;">
      <mat-card-content>
        <!-- <p>{{m.Movie_details }}</p> -->
        <!-- <p>Release-date-{{m.Movie_Release_date }}</p> -->
        <!-- <p>Review-{{m.Movie_reviews }}</p> -->
      </mat-card-content>
      <mat-card-actions style="margin-top:250px ;margin-left:35px;position: absolute;">
        <button mat-button class="btn" (click)="openview(m.Movie_name,m.Movie_lang,m.Movie_details,m.Movie_Release_date,m.Movie_category,m.Movie_cast)  " >View</button>
        <button mat-button class="btn"(click)="openBooking(m.Movie_id)">Book</button>
      </mat-card-actions>
    </div>
    </mat-card>
    <mat-divider></mat-divider>
  </ul>
</div>
<!-- <mat-paginator [length]="12"
              [pageSize]="6"
              aria-label="Select page"
              (page)="onPaginateChange($event)">
</mat-paginator> -->
<span *ngIf="stoploader" style="color:red ;margin-left:500px;">No more movies,please scroll up.</span>
<div class="paginator">
<mat-icon (click)="load('more')" *ngIf="!stoploader">expand_more</mat-icon>
<mat-icon (click)="load('less')">expand_less</mat-icon>
</div>

<app-footer></app-footer>