<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	<div th:if="${error!=null}">
        <p th:text="${error}"></p>
    </div>
    <table>
        <tr>
            <th>Member ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone no</th>
            <th>Gender</th>
            <th>Address</th>
        </tr>
        <tr th:each="i:${l}">
            <td th:text="${i.memberId}"></td>
            <td th:text="${i.name}"></td>
            <td th:text="${i.email}"></td>
            <td th:text="${i.mobile}"></td>
            <td th:text="${i.gender}"></td>
            <td th:text="${i.address}"></td>
            <td><a th:href="@{/deleteMember(memberId=${i.memberId})}" sec:authorize="hasRole('admin')"><button>Delete Member</button></a></td>
			<td><a th:href="@{/updateMember(memberId=${i.memberId})}" sec:authorize="hasRole('admin')"><button>Update Member</button></a></td>
        </tr>
    </table>
    <td><a th:href="@{/addMember}" sec:authorize="hasRole('admin')"><button>Add Member</button></a></td>
    <a th:href="@{/main}">Main Page</a>
    <a th:href="@{/logout}">log Out</a>
</body>
</html>