*{
    margin: 0;
    padding: 0;
}
.full_page{
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
    }
    .hr{
        height: 10px;
        width: 100% ;
        background-color: rgb(40, 37, 37);
    }
.empty{
    height: 95vh;
    object-fit: cover;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/c8c8a0ad-86d6-45f1-b21d-821afa4e5027/121450d3-2d2f-41a9-acd6-b050ca0e0424/IN-en-20220801-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    

}
.main_page{

    position: absolute;
    inset: 0; 
    background-color: rgba(0,0,0,0.2);
    background-size: cover;
    background-image: radial-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0.8));
}
.netflix_img{
    margin: 10px;
    padding: 20px;
}
.header{
    display: flex;
    justify-content:space-between;
    height: 15vh;
}
.lang{
    display: flex;
    margin-right: 30px;
    padding: 20px;
    align-items: center;
    width: 300px;
    justify-content: space-between;
}
.signin{
    background-color:rgb(189, 7, 7);
    width: 100px;
    height: 40px;
    text-align: center;
    align-items: center;
    /* padding: 10px; */
    /* font-size:1.2rem; */
    border-radius: 4px;

   
}
.signin a{
    text-decoration: none;
    color: white;
    width: 100px;
    
}
.selection{
    /* background-color:transparent; */
    width: 140px;
    height: 40px;
    border: 1px solid grey;
    
}select{
    
}

.content{
    color: white;
    text-align: center;
    height: 85vh;
    align-items: center;
    padding: 100px;
}
.head{
    font-size: 70px;
    font-family: 'Rubik', sans-serif;
}
.search input{
    width: 600px;
    height: 60px;
}
.input{
    display: flex;
    justify-content: center;
    text-align: center;
}
.start{

    background-color: red;
    width: 200px;
    height: 60px;
    /* font-size: 25p */
}
.language{
    background-color: transparent;
    height: 30px;
    width: 100px;
    color: white;
    font-weight: bold;
    border: 0px;
}
.globe {
    color: white;
}.tv_word{
    text-align: start;
    color:white;
    align-items: center;
    padding-left: 150px;
    margin-top: 100px;
}
.enjoy{
    display: flex;
    background-color: black ;
    padding: 50px;
}
.tv{
    padding: 50px;
    opacity: 0.9;
    /* height: 200px;
    width: 300px; */
}
.download{
    background-color: black;
    display: flex;
    color: white;
    padding: 50px;
}
.down_content{
    padding-right: 40px;
    margin-top: 100px;
    margin-left: 100px;
}
.down_img{
    padding-left: 100px;
}
.questions{
    background-color: black;
    text-align: center;
    color:white;
    /* margin-top: 30px; */
    padding-top: 40px;
}
ul{
    list-style-type: none;
    line-height: 75px;
    margin: 10px;
    text-align: start;
    line-height: 30px;
}
.faq{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   background-color: rgb(44, 39, 39); 
}
li.inactive{
   background-color: rgb(44, 39, 39); 
   margin: 10px;
   padding-left: 20px;
   font-size:x-large;
}
.ques_list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.plus{
    text-align: end;
}
.qus_btn{
    background-color:  rgb(44, 39, 39); 
    border: none;
    color: white;
    margin-right: 100px;
}
.start1{

    background-color: red;
    width: 200px;
    height: 60px;
    margin-top: 1px;
    /* font-size: 25p */
}   
.ready p{
    text-align: center;
}
li#f_list1 {
    background-color: black;
    text-align: center;
}
.footer_list{
    margin-left: 60px;
    display: grid;
    /* justify-content:space-around; */
    grid-template-columns: repeat(4, 1fr);
    color: gray;
    text-align: center;
}

.our-story-card-img{
    height: 350px;
    width: 450px;
}
.video1{
    margin-top: -276px;
    height: 190px;
    width: 329px;
    position: absolute;

    margin-left: 58px;
    z-index: -1;
}
.video2{ 
    height: 370px;
    width: 450px;
}
.vdo2{
    margin-top: -311px;
    height: 155px;
    width: 274px;
    position: absolute;
    margin-left: 86px;
    z-index: -1;
    
    
}
p#par, p#par1,p#par2 ,p#par3, p#par4, p#par5{
    display: none;
    font-size: 15px;
    line-height: 40px;
    width: 600px;

}
.selection1{
        /* background-color:transparent; */
        width: 140px;
        height: 40px;
        border: 1px solid grey;
       
}

.footer{
    height: 15vw;
}
.end{
    display: flex;
    flex-direction:row;
    margin: 40px;
    margin-left: 60px;
}
.help{
    margin-left: 30px;
}



