
<form [formGroup] = "newBranchForm">
    <div class="card1">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Add a new Branch</mat-card-title>
            <mat-card-title  *ngIf="formNotValid" class="error-message">please Fill All required details</mat-card-title>
            <mat-card-title  class="error-message"><p>{{errorMessage}}</p></mat-card-title>
        </mat-card-header>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Branch ID</mat-label>
            <input formControlName="branch_id" matInput placeholder="Enter new branch id" />
            <small class="text-danger" *ngIf="newBranchForm.get('branch_id')?.invalid  && newBranchForm.get('branch_id')?.touched " >required</small>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Branch Name</mat-label>
            <input formControlName="branch_name" matInput placeholder="Enter new branch Name" />
            <small class="text-danger" *ngIf="newBranchForm.get('branch_name')?.invalid  && newBranchForm.get('branch_name')?.touched " >required</small>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Address</mat-label>
            <input formControlName="location" matInput placeholder="Enter new Address" />
            <small class="text-danger" *ngIf="newBranchForm.get('location')?.invalid  && newBranchForm.get('location')?.touched " >required</small>
        </mat-form-field>
        <mat-card-actions>
            <button (click) = "addBranch()" mat-raised-button="" color="primary">
             Add
            </button>
        </mat-card-actions>

    </mat-card>
    </div>
</form>
