<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Food Home</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<h2>🍽 Food Item Management</h2>
<form action="/add"><button type="submit">Add Food Item</button></form>
<form action="/view/veg"><button type="submit">View Veg Items</button></form>
<form action="/view/nonveg"><button type="submit">View Non-Veg Items</button></form>
<form action="/view/drink"><button type="submit">View Soft Drinks</button></form>
</body>
</html>
