<p>store-register works!</p>
<div class="dataTable">
    <p class="heading">Store Registration</p>
    <form [formGroup]="storeReg" >
        <table align="center">
            <tr class="row">
                <td>Store Id: </td>
                <td><input type="number" formControlName="store_id"></td>
            </tr>
            <tr class="row">
                <td>Store Name:</td>
                <td> <input type="password" formControlName="store_name"></td>
            </tr>
            <tr class="row">
                <td>Established Year: </td>
                <td><input type="date" formControlName="established_year"></td>
            </tr>
            <tr class="row">
                <td>Store Description </td>
                <td><textarea formControlName="store_description" rows="3" cols="15"></textarea></td>
            </tr>
            <tr class="row">
                <td>Contact: </td>
                <td><input type="tel" formControlName="contact"></td>
            </tr>
            <tr class="row">
                <td>Website: </td>
                <td><input type="text" formControlName="website"></td>
            </tr>
            <tr class="row">
                <td>Address: </td>
                <td><textarea formControlName="address" rows="5" cols="20"></textarea></td>
            <tr class="row">
                <td></td>
                <td><button class="save" (click)="register()">save</button>&nbsp; &nbsp;<input class="save"
                        type="reset"></td>
            </tr>
        </table>
    </form>
</div>
