.dataTable{
    background-color:rgb(59, 59, 80);
    margin:auto;
    color:white;
    padding:1em;
    height:30rem;
    width:35rem;

}
.save,#reset{
 height:2.5em;
 width:5em;
 color:white;
 background-color: black;
}

.heading{
    font-size: 3em;
    font-weight: 700;   
    text-align: center;
}
.row{
    text-align: center;
    border:1px solid black;
    background-color: rgb(75, 75, 81);
}
