<h1 mat-dialog-title>Add Distributor From</h1>
<div mat-dialog-content>
    <form [formGroup]="distributorForm">
        <mat-form-field appearance="outline">
            <mat-label>Distributor Id</mat-label>
            <input formControlName="dist_id" matInput placeholder="Distributor Id">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Distributor Name</mat-label>
            <input formControlName="dist_name" matInput placeholder="Distributor Name">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label >Contact</mat-label>
            <input formControlName="contact" matInput type="Number" placeholder="Contact">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput type="email" placeholder="Email Id">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <textarea formControlName="address" matInput placeholder="Address" style="resize: none;"></textarea>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" (click)="addDistributor()" >{{actionBtn}}</button>

</div>