{% comment %}
{% extends 't_app2/ex1.html' %}
{% endcomment %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{%  comment %}
 # for loop
{% endcomment %}
  <ul>
      {% for num in numbers %}
      <li> {{ num }} </li>

      {% endfor %}
  </ul>
{% comment %}
# if else
{% endcomment %}

{% if 1  %}
  <h1> {{ numbers.0 }}</h1>
{% endif %}

{%  comment %}
{% block userinfo %}
<h1> this will prints </h1>

{% endblock %}

{% include  't_app2/ex1.html' %}

{% endcomment %}

<a href="{% url 'ex1' %}">this is link</a>

# filters

<h1> {{ numbers|length }}</h1>

<h2> {{ numbers.0|first|lower }}</h2>

{% filter upper %}
  <h1>Hello everyone, how are you?</h1>
{% endfilter %}

{% filter upper|linenumbers %} this
is
a
temp3 page {% endfilter %}

<h1> {{ text|slugify }}</h1>

<h1> {{ mydate|time }}</h1>

</body>
</html>