<!-- <mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field> -->
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Language</th>
      <th>Release Date</th>
      <th>Category</th>
      <th>Cast</th>
      <th>Details</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let m of movies">
      <td>{{m.Movie_id}}</td>
      <td>{{m.Movie_name}}</td>
      <td>{{m.Movie_lang}}</td>
      <td>{{m.Movie_Release_date}}</td>
      <td>{{m.Movie_category}}</td>
      <td style="width:30vh ;">{{m.Movie_cast}}</td>
      <td style="width:30vh ;">{{m.Movie_details}}</td>
      <td><button (click)="deleteMovie(m.Movie_id)" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
    </tr>
  </table>
  <button mat-stroked-button color="primary" (click)="openMovieForm()">Add new movie</button>