table {
    width: 100%;
  }

  .questiontable{
  
    margin: 12rem;
    width:auto;
    

  }

.mat-header-cell{
    text-align : center;
}
.mat-cell{
    text-align: center;
}
/* th,tr{
    
    background-color:rgb(250, 237, 220);
} */

th{
    color:black;
    font-size: 0.8rem;
}
.nabButton{
   
    color:white;
   
    background-color: rgb(239, 37, 44);
    size:10px;
}
.head{
  
    background-color: blue;
    color: white;
   
    padding:0.5rem;
    text-align: center;
    border-radius: 5px;
    font-size: large;
  }