<!-- <p>show-exam works!</p> -->
<app-student-navbar></app-student-navbar>

<div class="questiontable">
  <div class="head">Available Exams</div>

    <table mat-table [dataSource]="courses" class="mat-elevation-z8">
    
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="s.no">
          <th mat-header-cell *matHeaderCellDef>S.no </th>
          <td mat-cell *matCellDef="let question; let i=index"> {{i+1}} </td>
        </ng-container>

        <ng-container matColumnDef="course_name">
          <th mat-header-cell *matHeaderCellDef>Course </th>
          <td mat-cell *matCellDef="let question"> {{question.course_name}} </td>
        </ng-container>
      
        <!-- Name Column-->
        <ng-container matColumnDef="exam">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td  style="color: green;" mat-cell *matCellDef="let question "> <button   (click)="sendCourseName(question.course_name)" class="nabButton" mat-button>Attend Exam</button>
            </td>
    
    
        </ng-container> 

    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>