<section id="header">
  <a href="#"><img src="../../../../../assets/images/panda21.png" alt="logo" class="logo" /></a>

  <div>
    <ul id="navbar">
      <li><a> <input type="search" placeholder="Search for sports or facility"> </a></li>
      <li><a href="facilities/hyderabad" class="active" >Home</a></li>
      <li><a>About</a></li>
      <li>
        <a>
          <div class="dropdown ">
            <a><i class="fa fa-user" aria-hidden="true"></i>
            </a>
            <div class="dropdown-content">
              <a href="user/login">Login</a>
              <a href="user/signup">sign up</a>
              <a (click)="logout()">Logout</a>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>