<section id="header">
  <a href="facilities/hyderabad"><img src="../../../../../assets/images/logosportbg.png" alt="logo" class="logo" /></a>

  <div>
    <ul id="navbar">
      

      <!-- <li><a href="facilities/hyderabad" class="active">Home</a></li> -->
      <li>
        <a>
          <div class="dropdown ">
            <a><i class="fa fa-user " aria-hidden="true"></i> </a>
            <div class="dropdown-content">
              <a *ngIf="!user_verfied" href="user/login">Login</a>
              <a *ngIf="!user_verfied" href="user/signup">sign up</a>
              <a *ngIf="user_verfied" style="cursor: pointer;" (click)="OpenUserHome()" >Your Account</a>
              <a *ngIf="user_verfied" style="cursor: pointer;"  (click)="logout()">Logout</a>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
