
<div class="search-bar">
  <form action="">
    <mat-form-field class="field-search" floatLabel="never" appearance="outline" >
      <input matInput placeholder="Search" #text (input)="onSearchText(text.value,$event)" >
    </mat-form-field>
    <button class="button-cached" (click)="refresh()"><mat-icon>cached</mat-icon></button>
  </form>
  </div>
<p  *ngIf="msg" style="color:black;font-size : 20px;text-align:center;padding-top:10%;padding-bottom: 80%;">No results found!</p>
<table *ngIf="!msg" mat-table [dataSource]="services" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <ng-container matColumnDef="spa">
      <th mat-header-cell *matHeaderCellDef class = "icon-name-spa" mat-sort-header>	<mat-icon>spa</mat-icon></th>
      <td mat-cell *matCellDef="let row">
            <mat-icon class = "icon-name-spa">spa</mat-icon>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="service_id">
      <th mat-header-cell *matHeaderCellDef class="column-name"><b>service id</b></th>
      <td mat-cell *matCellDef="let services" class="column-value"> {{services.service_id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="service_name">
      <th mat-header-cell *matHeaderCellDef class="column-name">service Name </th>
      <td mat-cell *matCellDef="let services" class="column-value"> {{services.service_name | titlecase}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Amount_to_be_paid">
      <th mat-header-cell *matHeaderCellDef class="column-name"> Cost </th>
      <td mat-cell *matCellDef="let services" class="column-value"> {{services.Amount_to_be_paid}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>