.details
{
    height: 50vh;
    border:2px solid black;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.order
{
    height: 100%;
    border:2px solid black;
    display:flex
}

.blocki
{
    border:2px solid black;
    width: 50vw;
}


.photo
{
    width: 95%;
    height: 95%;
    border-radius: 10%;
    margin: 2%;
}