<div class="container1">
<div class="search block">
    <p>
        <mat-toolbar color="primary">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
          <span></span>
          <span class="example-spacer"><h2>{{res.restaurant_name}}</h2></span>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
          </button>
        </mat-toolbar>
      </p>
</div>

<div class="details block">
    <div class="photo blockd"><img src="{{res.restaurant_photo}}" alt="" class="photo"></div>
    <div class="text blockd">
        <h2>{{res.restaurant_name}}</h2>
        <h3>{{res.restaurant_address1}}, {{res.restaurant_city}}</h3>
        <h3> Rating: {{res.restaurant_avg_rating}}</h3>
        <h3>Opening Time:{{res.open_timing}}</h3>
        <h3> Closing Time: {{res.close_timing}}</h3>
    </div>
</div>

<div class="order block">
  

    <div class="food blocki">
            <div class="food_item" *ngFor="let f of foodL">
                <div class="one">
                <h2>{{f.food_name}} {{f.food_id}}</h2>
                <h3> Price: {{f.food_price}}</h3>
                <button type="button" (click)="decQuan(f.food_id)"><i class="fa fa-minus">-</i></button>
                <input type="text" [value]="quantity">
                <button type="button" (click)="incQuan(f.food_id)"><i class="fa fa-plus">+</i></button>
                <br>
                <button mat-raised-button class="add" color="accent" (click)="postCart(f.food_id,f.food_price)">Add</button>
            </div>
            <div class="pic one">
                   <img src="{{f.food_photo}}" alt="" class="photo"> 
            </div>
            </div>
    </div>

    <div class="checkout blocki">
      <h2>Cart:</h2>
      <div class="food_item" *ngFor="let f of getCartList">

        <h2>
          {{f.food}}
        </h2>
        <br>
      <div>
        <br>
        <hr>
        <h2>
          {{f.quantity}}
        </h2>
       <br>
        <h2>
          {{f.price}}
        </h2>

        </div>
        <button mat-flat-button color="warn" (click)="deleteitem(f.order_food_id,f.quantity,f.price)">Delete</button>
      </div>

      <div class="order">
        <div class="cost">
          <h2>{{cost}}</h2>
        </div>
        <div class="confirm">
          <button mat-stroked-button color="primary">Confirm Order</button>
        </div>
      </div>
    </div>
</div>
<div class="footer">
    this is s footer
</div>
</div>