<table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <!-- <th>DOB</th>
      <th>Address</th> -->
    </tr>
    <tr *ngFor="let m of users">
      <td>{{m.User_id}}</td>
      <td>{{m.User_name}}</td>
      <td>{{m.User_phone}}</td>
      <td>{{m.User_email}}</td>
      <!-- <td>{{m.User_DOB}}</td>
      <td>{{m.User_Address}}</td> -->
    </tr>
  </table>
  <button mat-stroked-button color="primary" (click)="openSignup()">Register a new user</button>
