<app-cheader></app-cheader>
<h2 style="text-align: center;height: 30px;font-size: 25px;text-transform: capitalize;">your contract's details</h2>

<ng-container *ngIf="contractDetails=='' ; then first else second "></ng-container>
<ng-template #first>
    <div class="nodata">

        <img src="https://cdn.dribbble.com/users/2394319/screenshots/4773525/media/3abebd7f14032c54245cb54cf48d17a3.png?compress=1&resize=800x600&vertical=top" alt="">
        <h4>No contract details found </h4> <br>
        <h5>To post a job now <a href="" routerLink="../post_a_job">click here</a> </h5>
        
    </div>
</ng-template>
<ng-template #second>
    <!-- <button onclick="history.back()" style="position: relative;">Go Back</button> -->
    <ul #second>
        <li *ngFor="let jobs of contractDetails">

            <table>

                <tr>
                    <th>Contract Id : </th>
                    <th id="tabledata">{{ jobs.contract_id}}</th>

                </tr>
                <tr>
                    <td>Freelancer Proposal Id :</td>
                    <td id="tabledata">{{jobs.emp_proposal_id}}</td>
                </tr>
                <tr>
                    <td>Contract Amount : </td>
                    <td id="tabledata">$ {{ jobs.contract_amount }} </td>

                </tr>
                <tr>
                    <td>Project Deadline :</td>
                    <td id="tabledata"> {{jobs.project_deadline}} </td>
                </tr>
                <tr>
                    <td>Project Status :</td>
                    <td id="tabledata" *ngIf="jobs.project_status==='completed'"
                        style="color: green;text-transform: uppercase;">{{
                        jobs.project_status }}</td>
                    <td id="tabledata" *ngIf="jobs.project_status==='pending'"
                        style="color: orange;text-transform: uppercase;">{{
                        jobs.project_status }}</td>
                </tr>
                <button class="btn btn-lg btn-outline-primary" *ngIf="jobs.project_status==='pending'"
                    (click)="open(content,jobs)">update
                    project status</button>


                <div class="completed" style="margin-left: 100px;" *ngIf="jobs.project_status==='completed'">
                    <br>
                    <h5 style="text-transform: uppercase;">Yey!! Project completed <span style="font-size: 30px;"> 🥳🥳
                        </span></h5> <br>
                    <h5 style="text-transform: capitalize;" *ngIf="!jobs.flag">please provide feedback for freelancer
                    </h5> <br>

                    <button style="align-items: center;margin-left: 100px;" type="button" *ngIf="!jobs.flag"
                        (click)="display(jobs)">click here</button>
                </div>
                <div class="feedbackresponse" style="margin-left: 100px;" *ngIf="jobs.feedback &&  !jobs.flag "> <br>
                    <p style="text-align: center;text-transform: uppercase;">Already Rated</p>
                    <label for="rating">Rating : </label> &nbsp;
                    <ngb-rating [(rate)]="jobs.feedback.rating" id="rating" [max]="5" [readonly]="true"
                        style="font-size:30px;color: yellow;"></ngb-rating>
                    <p>feedback : {{ jobs.feedback.feedback }}</p>
                </div>

                <div class="feedback" *ngIf="jobs.flag">
                    <div class="open" *ngIf="jobs.flag" style="margin-left: -10px;border: 2px solid white;padding: 10px;border-radius: 10px;">
                        <p style="text-align: center;text-transform: uppercase;"> feedback form</p>
                        Rate for freelancer:
                        <ngb-rating [(rate)]="currentRate" [max]="5" (rateChange)="ratechange(currentRate)"
                            style="font-size:30px;color: yellow;"></ngb-rating> <br>
                        <form (submit)="feedbackSumbit(jobs.contract_id)">
                            <p>Feedback : </p>
                            <textarea type="textarea" id="feedback" rows="6" cols="50"
                                [formControl]="feedback"></textarea>
                            <br>

                            <button type="submit" value="submit">submit</button>&nbsp;
                            <button type="button" (click)="display1(jobs)">close</button>
                        </form>
                    </div>

                </div>



            </table>

            <ng-template #content let-modal>
                <div class="style" style="padding: 20px;">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Update Project Details</h4>
                        <button type="button" style="margin-right:10px ;" class="btn-close" aria-label="Close"
                            (click)="modal.dismiss('Cross click')"></button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="demoForm" name="demoform">
                            <div class="mb-3">
                                <label for="dateOfBirth">Change Project Deadline</label>
                                <!-- <div class="input-group">
                                    <input id="dateOfBirth" formControlName="project_deadline" class="form-control"
                                        placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
                                    <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()"
                                        type="button"></button>
                                </div> -->
                                <div class="input-group">
                                    <input id="dateOfBirth" type="date" name="project_deadline"
                                        formControlName="project_deadline" class="form-control">
                                </div>
                                <label for="project_status">Project Status : </label>
                                <div class="input-group">
                                    <select name="project_status" name="project_status" id=""
                                        formControlName="project_status" class="form-control">
                                        <option value="pending" selected>Pending</option>
                                        <option value="completed">Completed</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-dark"
                            (click)="modal.close(jobs.contract_id)">Save</button>
                        <!-- <button type="submit" class="btn btn-outline-dark" (click)="contractAmountValue(jobs.contract_id)">save</button> -->
                    </div>
                </div>
            </ng-template>

        </li>
    </ul>
</ng-template>

<app-cfooter></app-cfooter>