<p>freelancer-proposals works!</p>
<ng-container *ngIf="jobsData=='' ; then first else second "></ng-container>
<ng-template #first>
    <p>No jobs posted </p>
    <p> post a job now  <a href="" routerLink="../post_a_job"></a> click here</p>
</ng-template>
<ng-template #second>
    <ul #second>
        <li *ngFor="let jobs of jobsData">{{ jobs }} <button type="button" routerLink="./proposal_details/{{jobs.job_id}}" (click)="getJobProposals(jobs.job_id)" >view  proposals</button></li>
    </ul>
</ng-template>
