<app-cheader></app-cheader>

<h4 style="text-transform: uppercase;text-align:center;">Your posted jobs</h4>
<div class="filter" style="background-color: black;color:white;padding:10px;border-bottom:2px solid white">
    <div class="filter_container">
        <label for="filter">Filter by :-</label> &nbsp;&nbsp;
        <select name="" id="filter" (change)="sort($event)">
            <option value="all">all</option>
            <option value="false">active jobs</option>
            <option value="true">deleted jobs</option>

        </select>
    </div>
</div>
<ng-container *ngIf="jobsData=='' ; then first else second "></ng-container>
<ng-template #first>
    <div class="nodata">

        <img src="https://cdn.dribbble.com/users/2394319/screenshots/4773525/media/3abebd7f14032c54245cb54cf48d17a3.png?compress=1&resize=800x600&vertical=top"
            alt="">
        <h4>You Did'nt posted any job </h4> <br>
        <h5>To post a job now <a href="" routerLink="../post_a_job">click here</a> </h5>

    </div>
</ng-template>
<ng-template #second>
    <ul #second>
        <li *ngFor="let jobs of jobsData">
            <div class="check_isdeleted">
                <table>
                    <tr>
                        <th > <span style="color:rgb(255, 255, 255);"><i class="fa fa-id-card-o"></i></span> JOB ID : </th>
                        <th id="tabledata">{{ jobs.job_id}}</th>

                    </tr>
                    <tr>
                        <td>Project Title :</td>
                        <td id="tabledata">{{jobs.project_title}}</td>
                    </tr>
                    <tr>
                        <td>Project Description : </td>
                        <td id="tabledata">{{ jobs.description}}</td>

                    </tr>
                    <tr>
                        <td>Pay :</td>
                        <td id="tabledata">$ {{ jobs.total_pay}}</td>
                    </tr>
                    <tr>
                        <td>Experience Level :</td>
                        <td id="tabledata">{{ jobs.experience_level}}</td>

                    </tr>
                    <tr>
                        <td>Required Skills :</td>
                        <td id="tabledata">{{ jobs.skills_requried}}</td>
                    </tr>
                </table> <button type="button" routerLink="./proposal_details/{{jobs.job_id}}">view proposals</button>
                &nbsp;
                <!-- <button type="button" [disabled]="true" (click)="delete(jobs.job_id)">delete</button> &nbsp; -->
                <button type="button" *ngIf="!jobs.is_deleted"
                    routerLink="/client_login_page/freelancer_proposals/edit_job/{{jobs.job_id}}">edit
                </button>
                <button type="button" *ngIf="jobs.is_deleted" disabled
                    style="background-color: rgb(255, 180, 180);color: rgb(0, 0, 0);">Job Deleted</button>
            </div>
        </li>
    </ul>
    <div class="paginator" style="text-align: center;">
        <button type="button" (click)="getClientIdUrl(filterby,-1)"> < </button> page {{ page }} out of {{ totalPages}}
        <button type="button" (click)="getClientIdUrl(filterby,1)"> > </button>
    </div>
</ng-template>
<app-cfooter></app-cfooter>