<app-fheader></app-fheader>
<h4 style="text-transform: uppercase;text-align:center;">Jobs</h4>
<div class="search" style="background-color: black;padding:10px">

    <input type="text" id="search" (keydown.enter)="getClientJobs(search.value,0)" #search placeholder="find a job" name="search"> &nbsp;
    <label for="search"> <button type="button" (click)="getClientJobs(search.value,0)"> <i class="fa fa-search"></i> </button>
    </label>
</div>

<ng-container *ngIf="jobsData=='' ; then first else second "></ng-container>
<ng-template #first>
    <div class="nodata" *ngIf="jobsData ==''">

        <img src="https://cdn.dribbble.com/users/2394319/screenshots/4773525/media/3abebd7f14032c54245cb54cf48d17a3.png?compress=1&resize=800x600&vertical=top"
            alt="">
        <h4>No jobs found </h4> <br> <br>
        <button type="button" style="background-color:black;color:white" onclick="history.back()">Go Back</button>
    </div>
</ng-template>

<ng-template #second>
    <!-- <h4>{{ jobsData.job_id }}</h4> -->
    <ul #second *ngIf="jobsData">
        <br>
        <!-- <form > -->

        <h4 style="text-align: center;">  Available jobs</h4>
        <li *ngFor="let jobs of jobsData">
            <table>
                <tr>
                    <th>JOB ID : </th>
                    <th class="tabledata">{{ jobs.job_id}}</th>

                </tr>
                <!-- <tr>
                    <td>CLIENT ID :</td>
                    <td class="tabledata">{{jobs.client_id}}</td>
                </tr> -->
                <tr>
                    <td>PROJECT TITLE : </td>
                    <td class="tabledata"> {{ jobs.project_title }}</td>

                </tr>
                <tr>
                    <td>DESCRIPTION :</td>
                    <td class="tabledata"> {{ jobs.description}}</td>
                </tr>
                <tr>
                    <td>TOTAL PAY :</td>
                    <td class="tabledata">$ {{ jobs.total_pay}}</td>

                </tr>
                <tr>
                    <td>EXPERIENCE LEVEL :</td>
                    <td class="tabledata"> {{ jobs.experience_level}}</td>

                </tr>
                <tr>
                    <td>SKILLS REQUIRED :</td>
                    <td class="tabledata"> {{ jobs.skills_requried}}</td>

                </tr>
            </table>





            <button type="button" (click)="getJobId(jobs.job_id)">send proposal</button>
            <!-- <h5 style="float: right;margin-top: 10px">  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5rUA47Z7aOzind9_TcV32aVw-McamstWT7uPkpY8dh99f5NNeaQHBRZcMVfbK1W09uW8&usqp=CAU" alt="" height="30px" width="30px"> Verified client</h5> -->
        </li>
    </ul>
    <div class="paginator" style="text-align: center;">
        <button type="button" (click)="getClientJobs(search.value,-1)"> < </button> page {{ page }} out of {{ totalPages}}
        <button type="button" (click)="getClientJobs(search.value,1)"> > </button>
    </div>
</ng-template>
<app-ffooter></app-ffooter>