.body{
    background-image: url("/assets/images/clienthome1.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100%;
}
.content-home{
    font-size: 30px;
    font-family:'cursive';
    font-style: italic;
    color: white;
    padding-top: 18%;
    padding-bottom: 378px;
    padding-left: 62%;
}
button{
    background-color:#eb008b ;
    color: white;
    font-size: 15px;
}
.button-div{
    padding-left: 22%;
    padding-top: 2%;
}