@import url('https //fonts.googleapis.com/css family=poppins');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins', sans - serif;
}
body
{
    min-height: 100vh;
    background: linear-gradient(#90ee90, hwb(163 25% 49% / 0.367));
}