#complaintdiv{
    display: none;
}
.card-img-top{
    width: 200px;
    height: 200px;
}

.card{
    border: 2px solid white;
}
.main{
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfMO0GZxmDZLRvIhBv7Tv-lJeJMXntlpDsJw&usqp=CAU");
    width: 100%; */
    /* background-color: lightcyan; */
    background-repeat: no-repeat;
    background-size: cover;
}