<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="/hi" method="get">
		<label for="name">Name : </label>
		<input type="text" id="name" name="name" placeholder="Enter your name"/><br>
		<label for="age">Age : </label>
		<input type="number" id="age" name="age" max="30" min="15"/><br>
		<h1>10th Class Information : </h1>
		<label for="sType">School Type : </label>
		<input type="radio" id="sType" name="sType" value="cbse"/>CBSE
		<input type="radio" id="sType" name="sType" value="ssc"/>SSC<br>
		<div th:if="${sType=='ssc'}">
			<label for="sname">School Name</label>
			<input type="text" name="sname"/>
			<label for="marks">Grade : </label>
			<input type="text" name="marks"/>
		</div>
		<div th:unless="${sType=='ssc'}">
			<label for="sname">School Name</label>
			<input type="text" name="sname"/>
			<label for="marks">Marks : </label>
			<input type="number" name="marks"/>
		</div>
		<input type="submit" value="submit">
	</form>
</body>
</html>
