<!-- <h1>{{facility.facility_name}}</h1> -->
<h3> Select Sport</h3>

<div class="card">
    <div *ngFor="let sport of sports">

        <label class="sport_labl">
            <input type="radio" name="sports" value="{{sport.sport_id}}" />
            <div class="sportcard" (click)="getSportsId(sport.sport_id)">
                <img src="../../../../../assets/images/{{sport.sport_name}}.png" alt="{{sport.sport_name}}" />
                <h6>{{sport.sport_name}}</h6>
            </div>
        </label>

    </div>
</div>
<h3> Select Date</h3>
<div class="card">
    <div *ngFor="let date of datesarray">

        <label class="date_labl">
            <input type="radio" name="dates" value="{{date[0]}}" />
            <div class="sportcard" (click)="getDate(date[0])">
                <h6 *ngFor="let part of date">{{part}}</h6>

            </div>
        </label>

    </div>
</div>
<h3> Select Slot</h3>

<div class="slotcard">
    <div *ngFor="let slot of slots" class="slotitem">

        <label class="sport_labl">
            <input type="checkbox" name="slots" value="{{slot.slot_id}}" [attr.disabled]="booked_slots_ids.indexOf(slot.slot_id) > -1 ? true : null" />
            <div class="sportcard" [ngClass]=" booked_slots_ids.indexOf(slot.slot_id) > -1 ? 'class2' : 'class1' " 
                (click)="getslotid(slot.slot_id)">
                <h6 >{{slot.slot_time}}</h6>
            </div>
        </label>

    </div>

</div>
<h3> Add ons </h3>
<div class="equipcard">
    <div *ngFor="let equipment of equipments; let i = index" class="equipcard2">
        <h1> {{equipment.equipment.equip_name}}</h1>
        
        
     
        
        <button type="button" class="btn btn-primary " (click)="reducebtn(i)">-</button>
        <h1>{{equipment.count}}</h1>
        <button type="button" class="btn btn-primary "  (click)="increasebtn(i)">+</button>

    </div>

</div>


<div class="text-center p-3">
    <input type="button" value="proceed  to checkout" (click)="submitBookingForm()" class="btn btn-primary">
</div>