img {
  width: 100px;
  height: 100px;
}

.card {
  border: 1px dotted yellow;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.card1 {
  border: 1px solid red;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.datecard {
  border: 1px solid red;
  padding: 10px;
  margin: 10px;
  height: 80px;
}
.sport_labl {
  display: block;
  width: 200px;
}
.sport_labl > input {
  /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
.sport_labl > input + div {
  /* DIV STYLES */
  cursor: pointer;
  border: 2px solid transparent;
}
.sport_labl > input:checked + div {
  /* (RADIO CHECKED) DIV STYLES */
  background-color: #ffd6bb;
  border: 1px solid #ff6600;
}
.sportcard {
  text-align: center;
  padding: 10px;
}
.date_labl {
  display: block;
  width: 200px;
}
.date_labl > input {
  /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
.date_labl > input + div {
  /* DIV STYLES */
  cursor: pointer;
  border: 2px solid transparent;
}
.date_labl > input:checked + div {
  /* (RADIO CHECKED) DIV STYLES */
  background-color: #ffd6bb;
  border: 1px solid #ff6600;
}
.datecard {
  text-align: center;
  padding: 10px;
}
.slotcard {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  border: 1px dotted yellow;
  gap: 10px;
}

.slotitem {
  display: inline;
}

.class1 {
  background-color: green;
}

.class2 {
  background-color: red;
  pointer-events: none;
}

input[type="checkbox"].class2 {
  position: relative;
  pointer-events: none;
}

.equipcard {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px dotted yellow;
  gap: 10px;
}
.equipcard2 {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
}
.slot_cost {
  display: flex;
}

.slot_cost h2 {
  margin: 0 10px;
}
.eqipcost {
  display: flex;
  flex-direction: column;
}

/* .equipcost  .mat-typography h1{
    margin: 0px 0px 0px;
} */

.button{
    width: 30px;
    height: 30px;
    text-align: center;
    padding: auto;
    border-radius: 5px;
    background-color:cyan;
    border: 0px;


}
