<!-- <h1>{{facility.facility_name}}</h1> -->

<marquee  direction="right"><h2 *ngIf="!user_verfied" class="text-danger m-3"> *Login Before going to book</h2></marquee>
<h3> Select Sport</h3>

<div class="card">
    <div *ngFor="let sport of sports">

        <label class="sport_labl">
            <input type="radio" name="sports" value="{{sport.sport_id}}" [attr.disabled]="user_verfied ? null : true"  />
            <div class="sportcard" [ngClass]=" user_verfied? '' : 'user_not_verfied' " (click)="getSportsId(sport.sport_id)">
                <img src="../../../../../assets/images/{{sport.sport_name}}.png" alt="{{sport.sport_name}}" />
                <h6>{{sport.sport_name}}</h6>
            </div>
        </label>

    </div>
</div>
<h3> Select Date</h3>
<div class="card">
    <div *ngFor="let date of datesarray">

        <label class="date_labl">
            <input [attr.disabled]="user_verfied ? null : true"  type="radio" name="dates" value="{{date[0]}}" />
            <div  class="sportcard" [ngClass]=" user_verfied? '' : 'user_not_verfied' " (click)="getDate(date[0])">
                <h6 *ngFor="let part of date">{{part}}</h6>

            </div>
        </label>

    </div>
</div>
<h3> Select Slot</h3>
<div class="slot_cost">
    <h2 *ngIf="cost_per_slot"> cost per slot = {{cost_per_slot}}</h2>
    <h2 *ngIf="total_cost_for_slots"> Total cost for slots = {{total_cost_for_slots}}</h2>
</div>
<div class="slotcard">
    <div *ngFor="let slot of slots" class="slotitem">

        <label class="sport_labl">
            <input type="checkbox" name="slots" value="{{slot.slot_id}}"
                [attr.disabled]="booked_slots_ids.indexOf(slot.slot_id) > -1 ? true : null" />
            <div class="sportcard" [ngClass]=" booked_slots_ids.indexOf(slot.slot_id) > -1 ? 'class2' : 'class1' "
                (click)="getslotid(slot.slot_id)">
                <h6>{{slot.slot_time}}</h6>
            </div>
        </label>

    </div>

</div>
<h3> Add ons </h3>
<h2 *ngIf="total_cost_for_equipments > 0 ">Total cost for equipments = {{total_cost_for_equipments}}</h2>
<div class="equipcard">
    <div *ngFor="let equipment of equipments; let i = index" class="equipcard2">

        <div class="eqipcost">
            <h1 style="margin:0px"> {{equipment.equipment.equip_name}}</h1>
            <p> cost per slot: {{equipment.equipment.rent_per_slot}}</p>
        </div>
        <button type="button" class="m-3  button" (click)="reducebtn(i)">-</button>
        <h1 style="padding-top:12px;">{{equipment.count}}</h1>
        <button type="button" class=" m-3 button " (click)="increasebtn(i)">+</button>
        <h3> Total rent for {{equipment.equipment.equip_name}}= {{equipment.cost}}</h3>

    </div>

</div>

<h1 *ngIf="errormsg"> {{errormsg}}</h1>
<div  class="text-center p-3">

    <input *ngIf="user_verfied" type="button" value="proceed  to checkout" (click)="submitBookingForm()" class="btn btn-primary">
    <input *ngIf="!user_verfied" type="button" value="login" (click)="submitBookingForm()" class="btn btn-primary">
</div>