/ClassOne.class
/ClassTwo.class
/Regex.class
/Streams.class
/classThree.class
/Collections.class
/CollectionsBasics.class
/StreamsBaiscs.class
/StreamsBaiscs$Employee.class
/StreamsBaiscs$EmployeeList.class
