<table mat-table [dataSource]="appointments" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
  <!-- Position Column -->
  <ng-container matColumnDef="appointment">
    <th style="color:#7710ab; font-size: larger;background-color: #eee5f390;" mat-header-cell *matHeaderCellDef>Appointment id</th>
    <td mat-cell *matCellDef="let appointment">
      {{ appointment.appointment_id }}
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="user">
    <th style="color:#7710ab; font-size: larger;background-color: #eee5f390;" mat-header-cell *matHeaderCellDef>User</th>
    <td mat-cell *matCellDef="let appointment">
      {{ appointment.user || "unknown user" }}
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="branch">
    <th style="color:#7710ab; font-size: larger;background-color: #eee5f390;" mat-header-cell *matHeaderCellDef>Branch</th>
    <td mat-cell *matCellDef="let appointment">{{ appointment.branch }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="date">
    <th style="color:#7710ab; font-size: larger;background-color: #eee5f390;" mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let appointment">{{ appointment.date }}</td>
  </ng-container>
  <ng-container matColumnDef="slot">
    <th style="color:#7710ab; font-size: larger;background-color: #eee5f390;" mat-header-cell *matHeaderCellDef>Slot</th>
    <td mat-cell *matCellDef="let appointment">{{ appointment.slot }}</td>
  </ng-container>
  <ng-container matColumnDef="doctor">
    <th style="color:#7710ab; font-size: larger;background-color: #eee5f390;" mat-header-cell *matHeaderCellDef>Doctor</th>
    <td mat-cell *matCellDef="let appointment">
      {{ appointment.doctor_id || "Not Assigned" | uppercase }}
    </td>
  </ng-container>
  <ng-container matColumnDef="nurse">
    <th style="color:#7710ab; font-size: larger;background-color: #eee5f390;" mat-header-cell *matHeaderCellDef>Nurse</th>
    <td mat-cell *matCellDef="let appointment">
      {{ appointment.nurse_id || "Not Assigned" | uppercase }}
    </td>
  </ng-container>
  <ng-container matColumnDef="lab_technician">
    <th style="color:#7710ab; font-size: larger;background-color: #eee5f390;" mat-header-cell *matHeaderCellDef>Lab technician</th>
    <td mat-cell *matCellDef="let appointment">
      {{ appointment.lab_technician || "Not Assigned" | uppercase }}
    </td>
  </ng-container>
  <ng-container matColumnDef="sample_collector">
    <th style="color:#7710ab; font-size: larger;background-color: #eee5f390;" mat-header-cell *matHeaderCellDef>Sample collector</th>
    <td mat-cell *matCellDef="let appointment">
      {{ appointment.sample_collector || "Not Assigned" | uppercase }}
    </td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th style="color:#7710ab; font-size: larger;background-color: #eee5f390;" mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let appointment">{{ appointment.status }}</td>
  </ng-container>
  <ng-container matColumnDef="update">
    <th style="color:#7710ab; font-size: larger;background-color: #eee5f390;" mat-header-cell *matHeaderCellDef mat-sort-header>Update</th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button color="primary">
        <mat-icon>update</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th style="color:#7710ab; font-size: larger;background-color: #eee5f390;" mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button color="danger">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
