<form class="global-form" [formGroup]="PlaceForm" (ngSubmit)="addPlaceObj()">
  <img *ngIf="imageUrl && imageUrl !='' " [src]="imageUrl" alt="" width="150px" class="m-auto d-block mb-1">
  <button type="button" mat-raised-button (click)="fileInput.click()" class="d-block m-auto mb-3">
    <span *ngIf="!imageUrl">Choose image</span>
    <span *ngIf="imageUrl">change image</span>
  </button>
  <input hidden type="file" name="profile" #fileInput placeholder="profile"
    class="" (change)="onchange($event)"/>
  <mat-error *ngIf="submit && !imageUrl" class="text-center">Image is required</mat-error>


  <!-- <div class="d-flex align-items-center justify-content-between border file_input">
     <label for="image" class="file_label">Place Image: </label>

  </div> -->

  <mat-form-field class="global-form-full-width" appearance="fill">
    <mat-label>Place Name</mat-label>
    <input type="text" name="place_name" matInput formControlName="place_name" placeholder="place_name"
      class="">
    <mat-error *ngIf="formObj['place_name'].hasError('required')">place_name is required</mat-error>

  </mat-form-field>

  <!-- <mat-form-field class="global-form-full-width" appearance="fill">
    <mat-label>Image</mat-label>
    <input type="text" name="image" matInput formControlName="image" placeholder="Image"
      class="">
  </mat-form-field> -->


  <mat-form-field class="global-form-full-width" appearance="fill">
    <mat-label>Description</mat-label>
    <textarea rows="5" type="text" name="description" matInput formControlName="description" placeholder="Description"
      class="">
    </textarea>
    <mat-error *ngIf="formObj['description'].hasError('required')">description is required</mat-error>

  </mat-form-field>


  <button mat-raised-button class="">Add</button>
</form>
