<div class="footer_first_layer row bg-dark mt-4 text-light">
  <div class="footer_second_layer col-12 col-md-4">
    <div class="footer_third_layer ms-4">
      <h2 class="footer_heading">
        ABOUT US
      </h2>
      <div class="footer_description">
        A travel website is a website that provides travel reviews,
        trip fares, or a combination of both. Over 1.5 billion people
        book travel per year, 70% of which is done online
      </div>
    </div>
    <br><br><br><br>
    <div class="footer_third_layer ms-4">
      <h2 class="footer_heading">
        STAY WITH US
      </h2>
      <div class="footer_description">
        <li class="social_media_links"><i class="fa-brands fa-square-facebook text-primary me-2"></i>facebook</li>
        <li class="social_media_links"><i class="fa-brands fa-twitter text-primary me-2"></i>Twitter</li>
        <li class="social_media_links"><i class="fa-brands fa-square-instagram text-danger me-2"></i>Instagram</li>
        <li class="social_media_links"><i class="fa-brands fa-pinterest text-danger me-2"></i>Pinterest</li>
      </div>
    </div>
  </div>
  <div class="footer_second_layer col-12 col-md-4">
    <div class="footer_third_layer ms-4">
      <h2 class="footer_heading">
        QUICK LINKS
      </h2>
      <div class="footer_description">
        <li class="quick_liks">Cookies Policy</li>
        <li class="quick_liks">Privacy Policy</li>
        <li class="quick_liks">FAQ'S</li>
        <li class="quick_liks">Terms and Conditions</li>
      </div>
    </div>
    <br><br><br><br>
    <div class="footer_third_layer ms-4">
      <h2 class="footer_heading">
        FOLLOW US
      </h2>
      <div class="footer_description">
        <li>Follow</li>
        <li>Share</li>
      </div>
    </div>
    <!-- <div class="footer_third_layer ms-4">
      <h2 class="footer_heading">
        LOCATE US
      </h2>
      <div class="footer_description">

      </div>
    </div> -->
  </div>
  <div class="footer_second_layer col-12 col-md-4">
    <div class="footer_third_layer ms-4">
      <h2 class="footer_heading">
        REACH US
      </h2>
      <div class="footer_description">
        IbniSprings Madikeri Coorg <br>
        Cottages & Resorts <br>
        Ibnivalvadi rural, Madikeri Coorg, karnataka 571201 <br>
        Connect with ibnisprings <br> 8877118861
        <br><br><br><br>
        No.1 1st Main Road, <br>
         1st Floor Rpc Layout <br>
          Vijayanagar Bengaluru <br>
           560040
      </div>
    </div>
    <!-- <div class="footer_third_layer ms-4">
      <h2 class="footer_heading">

      </h2>
      <div class="footer_description">

      </div>
    </div> -->
  </div>
</div>
