<div class="footer_first_layer row bg-dark mt-4 text-light">
  <div class="footer_second_layer col-12 col-md-4">
    <div class="footer_third_layer ms-4">
      <h2 class="footer_heading">
        ABOUT US
      </h2>
      <div class="footer_description">
        IBNI Springs Madikeri Coorg Resort and hotels in Coorg is ideal destination for a relaxing stay. We are committed to gush with high-quality hospitality.
      </div>
    </div>
    <div class="footer_third_layer ms-4">
      <h2 class="footer_heading">
        FOLLOW US
      </h2>
      <div class="footer_description">
        <li>Follow</li>
        <li>Share</li>
      </div>
    </div>
    <div class="footer_third_layer ms-4">
      <h2 class="footer_heading">
        STAY WITH US
      </h2>
      <div class="footer_description">
        <li class="social_media_links"><i class="fa-brands fa-square-facebook text-primary me-2"></i>facebook</li>
        <li class="social_media_links"><i class="fa-brands fa-twitter text-primary me-2"></i>Twitter</li>
        <li class="social_media_links"><i class="fa-brands fa-square-instagram text-danger me-2"></i>Instagram</li>
        <li class="social_media_links"><i class="fa-brands fa-pinterest text-danger me-2"></i>Pinterest</li>
      </div>
    </div>
  </div>
  <div class="footer_second_layer col-12 col-md-4">
    <div class="footer_third_layer ms-4">
      <h2 class="footer_heading">
        QUICK LINKS
      </h2>
      <div class="footer_description">
        <li class="quick_liks">Cookies Policy</li>
        <li class="quick_liks">Privacy Policy</li>
        <li class="quick_liks">FAQ'S</li>
        <li class="quick_liks">Terms and Conditions</li>
      </div>
    </div>
    <div class="footer_third_layer ms-4">
      <h2 class="footer_heading">
        LOCATE US
      </h2>
      <div class="footer_description">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.309840117659!2d78.38146091431425!3d17.44487820573747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb93e00f5c5ab7%3A0x64cd5411c783d6d!2sMelange%20Tower!5e0!3m2!1sen!2sin!4v1664336117198!5m2!1sen!2sin" width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
  <div class="footer_second_layer col-12 col-md-4">
    <div class="footer_third_layer ms-4">
      <h2 class="footer_heading">
        REACH US
      </h2>
      <div class="footer_description">
        IbniSprings Madikeri Coorg <br>
        Cottages & Resorts <br>
        Ibnivalvadi rural, Madikeri Coorg, karnataka 571201 <br>
        Connect with ibnisprings <br> 8877118861
        <br><br><br><br>
        No.1 1st Main Road, <br>
         1st Floor Rpc Layout <br>
          Vijayanagar Bengaluru <br>
           560040
      </div>
    </div>
    <!-- <div class="footer_third_layer ms-4">
      <h2 class="footer_heading">

      </h2>
      <div class="footer_description">

      </div>
    </div> -->
  </div>
</div>
