<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/issueBook" method="post">
        <label for="issueId">Issue ID : </label>
        <input type="number" name="issueId" min="0"/><br>
        <label for="bookId">Book ID : </label>
        <input type="number" name="bookId" min="0"/><br>
        <label for="memberId">Member ID : </label>
        <input type="number" name="memberId" min="0"/><br>
        <label for="statusrec">Status record : </label>
        <input type="text" name="statusrec"/>
        <input type="submit" value="submit">
    </form>
</body>
</html>