

<!-- ======= Header ======= -->
<header id="header" class="fixed-top header" style="background-color: rgb(165, 156, 156);">
  <div class="container d-flex align-items-center justify-content-between"  >


    <a href="index.html" class="logo"><img src="../../../assets/images/icon-removebg-preview.png" alt="" class="img-fluid"></a>

    <nav id="navbar" class="navbar" style="color :aqua">
      <ul>
        <li>
          <a class="nav-link scrollto" href="#hero"
            ><i class="fa-solid fa-house-user"></i>Home</a
          >
        </li>
        <li><a class="nav-link scrollto" href="#about">
          <i class="fa-solid fa-pen-to-square"></i>About</a></li>

        <li>
          <a class="nav-link scrollto" href="#contact"
            ><i class="fa-solid fa-address-card"></i>

            Contact</a
          >
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section
  id="hero"
  class="d-flex align-items-center justify-content-center"
  style="
    background-image: url('https://images.squarespace-cdn.com/content/v1/5fe4caeadae61a2f19719512/1612722109965-FHUZVT6LMKQZ7MOJUUQ3/topcar26.jpg');
  "
>
  <div class="container position-relative">
    <h1>Welcome to Vehicle Rentals</h1>
    <h2></h2>
    <a routerLink="/ownerlogin" class="btn-get-started scrollto">Owner</a>
    &nbsp;&nbsp;&nbsp;
    <a routerLink="/customerlogin" class="btn-get-started scrollto">Customer</a>
  </div>
</section>
<!-- End Hero -->

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="customer"></div>
    <div class="container">
      <div class="section-title">
        <h2>About</h2>
      </div>

      <div class="combine">
        <div class="owner">
          <div>
            <img src="../../../assets/images/share-removebg-preview.png" alt="" width="200" height="150">
          </div>
          <div>
            <h3>Share Your Vehicles</h3>
            <h4>
              2 Simple steps to share and <br />
              earn with your CAR & BIKE
            </h4>
            <ul>
              <li>Sign up for free</li>
              <li>Share your vehicle and earn</li>
            </ul>
          </div>
        </div>
        <div class="customer">

          <div class="rent">
          <h3>Rent Vehicles</h3>
          <h4>
            2 Simple steps to rent and <br />
            ride CAR & BIKE
          </h4>
          <ul>
            <li>Sign up for free</li>
            <li>Choose vehicle you wanted and enjoy</li>
          </ul>
        </div>
        <div style="margin-right:80px;">
          <img src="../../../assets/images/rent-removebg-preview.png" alt="" width="350" height="300">
        </div>
        </div>
      </div>
    </div>
  </section>


  <section id="contact" class="contact">
    <div class="container">
      <div class="section-title">
        <h2>Contact</h2>
      </div>

      <div class="details">
        <h3>
          <b><u> Our Address </u></b>
        </h3>
        <p>4th Floor, Melenge Tower</p>
        <p>Huda Techno Enclave road</p>
        <p>High-Tech city</p>
        <p>Hyderabad - 500081</p>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</main>
<!-- End #main -->
