<app-navbar></app-navbar>
<div class="for" *ngFor="let order of response ">

<div class="card" style="width: 30rem;">
  <div class="card-body">
    <h5 class="card-title">Order ID : {{ order.rent_id }}</h5>
    <h4 class="card-title">Vehicle : {{ order.vehicle_no }}</h4>

    <p class="card-text">Booking date : {{ order.booking_date.substring(0,10)  }}</p>

    <p>From : {{ order.stringPickDate}}</p>

    <p>To : {{ order.stringReturnDate }}</p>&nbsp;&nbsp;&nbsp;

    <p *ngIf="order.owner_review"> Owner's review :  {{order.owner_review}}</p>


    <p *ngIf="order.customer_review">Your review:  {{order.customer_review}}</p>



    <a (click)="getBill(order.rent_id); getTripDetails(order.rent_id)" class="btn btn-primary">View detail</a>

    &nbsp;&nbsp;&nbsp;

    <a  *ngIf="order.pickup_date> date" class="btn btn-primary" (click)="cancelOrder(order.rent_id)">Cancel order</a>&nbsp;&nbsp;&nbsp;

    <button *ngIf="order.customer_review"  class="btn btn-lg btn-outline-primary" style="width:100px; font-size: small;" (click)="addReview( content, order.rent_id, order.return_date)" >Edit review
    </button>

    <button *ngIf="order.return_date <=date && order.customer_review == null"  class="btn btn-lg btn-outline-primary" style="width:100px; font-size: small;" (click)="addReview( content, order.rent_id, order.return_date)" >Add review</button>


  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Review</h4>
    <button  type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="dateOfBirth">Add your review</label>
        <div class="input-group">
          <form [formGroup]="review" (submit)="modal.close(order.rent_id)">
            <input type="text" formControlName="customer_review" placeholder={{order.customer_review}}>
          </form>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close(order.rent_id)">Save</button>
  </div>
</ng-template>
</div>






