<app-o-navbar></app-o-navbar>
<div class="container">

  <div class="details">
    <div class="name">Name: {{ data.name }}
    </div>
    <div class="name">Email: {{ data.email }}
      <button (click)="update('email')"> update</button>
    </div>
    <div class="name">Contact Number: {{ data.contact_no}}
      <button (click)="update('number')">Update</button>
    </div>

    <div class="name">Address: {{ data.address }}
      <button (click)="update('address')">Update</button>
    </div>
  </div>

</div>
