<app-o-navbar></app-o-navbar>
<div class="container">

  <div class="details">
    <div class="name">Name: {{ data.name }}
    </div>
    <div class="name">Email: {{ data.email }}
      <button>Update</button>
    </div>
    <div class="name">Cuntact Number: {{ data.contact_no}}
      <button>Update</button>
    </div>
    <div class="name">DL Number:{{ data.dl_no}}
      <button>Update</button>
    </div>
    <div class="name">Address: {{ data.address }}
      <button>Update</button>
    </div>
  </div>
  <div class="name">
    <button> Edit your profile</button>
  </div>
</div>
