.card{
    border-radius: 10px;
    border: 2px solid lightblue;
}

.container1{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    
}
img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
}
.dropdown {

    display: inline-block;
    padding: 20px;
    margin-left:600px ;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
.sportbutton{
    border: 0px;
    width: 100%;
    background-color: transparent;
    color: black;
    /* padding: 6px 16px; */
    font-weight: 800;
  }
  .sport_labl {
    display: block;
    width: 100px;
  }
  .sport_labl > input {
    /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
  }
  .sport_labl > input + div {
    /* DIV STYLES */
    cursor: pointer;
    border: 2px solid transparent;
  }
  .sport_labl > input:checked + div {
    /* (RADIO CHECKED) DIV STYLES */
    background-color: transparent;
    border: 3px solid rgba(37, 156, 196, 0.863);
  }
  .sportcard {
    text-align: center;
    padding: 5px;
  }

  .border-input {
    border: 2px solid rgb(12, 165, 226);
  }