<app-header></app-header>
<div class="bg-img">

    <div class="content">
        <header>Login Page</header>

        <form [formGroup]="create_user_login_form" (ngSubmit)="submit()">

            <div class="field">
                <span class="fa fa-user"></span>
                <input formControlName="user_phone" type="text" required placeholder="Enter registered Phone number" />

            </div>

            <div class="field space">

                <span class="fa fa-lock"></span>
                <input formControlName="user_password" type="password" class="pass-key" required placeholder="Password">
                <span class="show">SHOW</span>
            </div>

            <div class="pass">

                <a href="user/signup">New User ? go to signup</a>
                
            </div>

            <div class="field">
                <input type="submit" value="LOGIN" />
                
            </div>
            <h3 *ngIf="errormsg" class="errormsg">{{errormsg}} </h3>



        </form>

    </div>

</div>
<app-footer></app-footer>