<app-header></app-header>
<div class="bg-img">

    <div class="content">
        <header>Login Page</header>

        <form action="#">

            <div class="field">
                <span class="fa fa-user"></span>
                <input type="text" required placeholder="Enter registered Phone number" />

            </div>

            <div class="field space">

                <span class="fa fa-lock"></span>
                <input type="password" class="pass-key" required placeholder="Password">
                <span class="show">SHOW</span>
            </div>

            <div class="pass">

                <a href="user/signup">New User ? go to signup</a>
                
            </div>

            <div class="field">
                <input type="submit" value="LOGIN" onclick="window.location='index.html'" />
                
            </div>



        </form>

    </div>

</div>
<app-footer></app-footer>