<div class="last">
    <div class="d-flex flex-row">
        <div class="first">
            <h1 style="color:white; font-size:20px;margin-bottom: 10px;font-family: Roboto;">Explore</h1>
            <p style="color:grey; font-size:15px;margin-bottom: 10px;font-family: Roboto;">Investor Relations</p>
            <p style="color:grey; font-size:15px;margin-bottom: 10px;font-family: Roboto;">Safe Banking</p>
            <p style="color:grey; font-size:15px;margin-bottom: 10px;font-family: Roboto;">RBI Kehta Hai</p>
            <p style="color:grey; font-size:15px;margin-bottom: 10px;font-family: Roboto;">Money Transfer to India</p>
            <p style="color:grey; font-size:15px;margin-bottom: 10px;font-family: Roboto;">Internet Banking</p>
            <p style="color:grey; font-size:15px;margin-bottom: 10px;font-family: Roboto;"> Mobile Banking</p>
        </div>
        <div class="first">
            <h1 style="color:white; font-size:20px;margin-bottom: 10px;font-family: Roboto;">POPULAR PRODUCTS</h1>
            <p style="color:grey; font-size:15px;margin-bottom: 10px;font-family: Roboto;">Savings Accounts</p>
            <p style="color:grey; font-size:15px;margin-bottom: 10px;font-family: Roboto;">Current Accounts</p>
            <p style="color:grey; font-size:15px;margin-bottom: 10px;font-family: Roboto;">Credit Cards</p>
            <p style="color:grey; font-size:15px;margin-bottom: 10px;font-family: Roboto">Home Loan</p>
            <p style="color:grey; font-size:15px;margin-bottom: 10px;font-family: Roboto;">Car Loan</p>
            <p style="color:grey; font-size:15px;margin-bottom: 10px;font-family: Roboto;">Personal Loan</p>
            <p style="color:grey; font-size:15px;margin-bottom: 10px;font-family: Roboto;">Gold Loan</p>
            <p style="color:grey; font-size:15px;margin-bottom: 10px;font-family: Roboto">Fixed Deposit</p>
        </div>
        <div class="first">
            <h1 style="color:white; font-size:20px;margin-bottom: 10px;font-family: Roboto;">CALCULATORS</h1>
            <p style="color:grey; font-size:15px;margin-bottom: 10px;font-family: Roboto;">Personal Loan EMI Calculator</p>
            <p style="color:grey; font-size:15px;margin-bottom: 10px;font-family: Roboto;">Car Loan EMI Calculator</p>
            <p style="color:grey; font-size:15px;margin-bottom: 10px;font-family: Roboto;">Two Wheeler EMI Calculator</p>
            <p style="color:grey; font-size:15px;margin-bottom: 10px;font-family: Roboto;">Home Loan EMI Calculator</p>
            <p style="color:grey; font-size:15px;margin-bottom: 10px;font-family: Roboto;">Fixed Deposit EMI Calculator</p>
            <p style="color:grey; font-size:15px;margin-bottom: 10px;font-family: Roboto;">Recurring Deposit EMI Calculator</p>
        </div>
        <div class="first">
            <h1 style="color:white; font-size:20px;margin-bottom: 10px;font-family: Roboto;">RATES AND CHARGES</h1>
            <p style="color:grey; font-size:15px;margin-bottom: 10px;font-family: Roboto;">Interest Rates</p>
            <p style="color:grey; font-size:15px;margin-bottom: 10px;font-family: Roboto;">Service Charges and Feee</p>
            
        </div>

        <div class="first">
            <h1 style="color:white; font-size:20px;margin-bottom: 10px;font-family: Roboto;">CUSTOMER CARE NUMBERS</h1>
            <p style="color:grey; font-size:15px;margin-bottom: 10px;font-family: Roboto;">Personal Banking</p>
            <p style="color:white; font-size:20px;margin-bottom: 10px;font-family: Roboto;">1800 1080</p>
            <p style="color:grey; font-size:15px;margin-bottom: 10px;font-family: Roboto;">Wealth / Private Banking</p>
            <p style="color:white; font-size:20px;margin-bottom: 10px;font-family: Roboto;">1800 103 8181</p>
            <p style="color:grey; font-size:15px;margin-bottom: 10px;font-family: Roboto;">orporate / Business/ Retail Institutional Banking</p>
            <p style="color:white; font-size:20px;margin-bottom: 10px;font-family: Roboto;">1860 120 6699</p>
        </div>

        
    </div>
    
    <h1 class="follow">Follow Us</h1>
    <div class="last-section">
        <i class="fa-brands fa-twitter icon-sty"></i>
        <i class="fa-brands fa-facebook icon-sty"></i>
        <i class="fa-brands fa-linkedin icon-sty"></i>
        <i class="fa-brands fa-youtube icon-sty"></i>
    
    </div>
     
</div>
