<app-navbar></app-navbar>
<div *ngIf="user">
    Hello {{user.emp_name}} <br>

    <img class="pic" src="http://127.0.0.1:8000{{user.emp_pic}}" alt=""/>
    </div>
    <button class="btn" (click)="displaycomplaint()"> Raise a complaint </button>
  <div id="complaintdiv" *ngIf="complaintform" >
    
    <form [formGroup]="complaintform" (ngSubmit)="submitcomplaint()">
        <label>facility_id : </label>
        <select name="" id="" formControlName="facility_id">
          <option   *ngFor="let facility of facilities"  [value]="facility.facility_id">{{facility.facility_dept}}</option>
        </select>
        <!-- <input type="text" formControlName="facility_id" > -->
        <!-- <div *ngIf="complaintform.touched">
            this field is requried 
        </div> -->
        <br>
        <label>device_id : </label>
        <input type="text" formControlName="device_id" ><br>
        <label>complaint_desc : </label>
        <input type="text" formControlName="comp_desc" ><br>
        <button>submit</button>
    </form>
  </div>