
.ticket{
  background-color:white;
  display: flex;
  height:340px;
  width:640px;
  border-style: double;
  /* padding:10px */
}
.left{
  height:280px;
  margin-top: 10px;
  width: 350px;
  border-style:dotted;
  border-color: burlywood;
  background-color: white;
  margin-left:1vw;
  margin-right:1vw;
}
.right{
  margin-left: 63px;
  border: 1px black;
  border-style: dotted;
  padding: 5px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    /* color: white; */
    text-align: center;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:crimson;
  }
