<!-- {{arr}} -->
<div class="dataTable">
    <p class="heading">Employees Data</p>
    <button class="save" (click)="addEmployee()">addEmployee</button>
<table *ngIf="employee_list" align="center">
    <tr class="row"><th>Employee Id</th><th>Employee Name</th><th>Working </th><th>Update Details </th><th>Delete Employee</th></tr>
    <tr class="row" *ngFor="let i of employee_list">
        <td>{{i.employee_id}}</td>
        <td>{{i.employee_name}}</td>
        <td [ngSwitch]="i.role_id">
            <p *ngFor="let role of roles"><span>
                    <p *ngSwitchCase="role.role_id">{{role.role_name}}</p>
                </span></p>
        </td>
    <td><button (click)="updateEmployee(i.employee_id)">Edit</button></td>
    <td><button (click)="deleteEmployee(i.employee_id)">Delete</button></td></tr>
</table>
</div>