<!-- <div>
    <a routerLink="/problems/discussions/{{id}}">discussions</a>
</div> -->

<div class="division">
    <div class="">
        <div class="menu">
            <div>
                <button class="btn btn-outline-danger"><a>Description</a></button>
            </div>
            <div>
                <button class="btn btn-outline-danger"><a routerLink="/problems/discussions/{{id}}">Discussions</a></button>
            </div>
            <div>
                <button class="btn btn-outline-danger"><a routerLink="/submissions/{{ id }}">Submissions</a></button>
            </div>
        </div>
        <div class="problem">
            <h3 class="heading heading-glow">{{ problem.problem_name }}</h3>
            <div *ngIf="votes.vote === 'L'">
                <button (click)="postVote('LA')" class="vote btn btn-secondary active">like {{ votes.like }}</button>
                <button class="vote btn btn-secondary" disabled>dislike {{ votes.dislike }}</button>
            </div>
            <div *ngIf="votes.vote === 'D'">
                <button class="vote btn btn-secondary" disabled>like {{ votes.like }}</button>
                <button (click)="postVote('DA')" class="vote btn btn-secondary active">dislike {{ votes.dislike }}</button>
            </div>
            <div *ngIf="votes.vote === ''">
                <button (click)="postVote('L')" class="vote btn btn-secondary neutral">like {{ votes.like }}</button>
                <button (click)="postVote('D')" class="vote btn btn-secondary neutral">dislike {{ votes.dislike }}</button>
            </div>
            <div [innerHTML]="problem.description">
                <p>{{ problem.description }}</p>
            </div>
            <div>
                <button class="btn btn-outline-danger problem-btn" (click)="loadRelatedTopics()">Ralated Topics</button>
                <div *ngIf="relatedTopicsFlag">
                    <div class="topictags" *ngFor="let topics of tags">
                        <p class="topictag">{{ topics }}</p>
                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-outline-danger problem-btn" (click)="loadHints()">Hints</button>
                <div class="hints" [innerHTML]="problem.hints" *ngIf="hintsFlag">    
                </div>
            </div>
        </div>
    </div>
    <div>
        <form [formGroup]="submissionForm" (ngSubmit)="onSubmit()">
            <div>
                <div>
                    <select formControlName="languages" name="languages" id="languages">
                        <option value="python3" class="language" name="python3">Python</option>
                        <option value="java" class="language" name="java">Java</option>
                        <option value="c++" class="language" name="c++">C++</option>
                    </select>
                    <a style="margin-left: 1rem;" target="_blank" href="https://onecompiler.com/">Edit in Compiler</a>
                </div>
                <div>
                    <textarea class="textarea" formControlName="code" name="code" id="code" cols="60" rows="10"></textarea>
                </div>
                <div>
                    <input type="text" formControlName="stdin" placeholder="inputs">
                </div>
            </div>
            <button type="submit">submit</button>
        </form>
    </div>
</div>