.login-box {
  width: 600px;
  margin: 100px auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(117, 5, 117);
  background-color: rgb(120, 15, 180);
  text-align: center;
}

/* .login-box h3 {
  font-size: 14px;
  margin-bottom: 2px;
  color: #300606;
} */

.login-box input {
  width: 70%;
  height: 30px;
  position: relative;
  top: 0px;
  left: 10PX;
  font-size: 5;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.login-box button {
  width: 50%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #0056b3;
}


.registration-border{
     width: 500px;
  margin: 10px auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(29, 27, 27, 0.1);
  background-color: #5d3774;
  text-align: left;

}
.inputs-gap{
    position: relative;
    left: 100px;
    margin: 8px auto;
    border-radius: 5px;
    text-align:left;
}
/* .form{
    background-color: #6f3292;
} */

.nav-link {
  color: #a6b8bd;
  display: flex;
}

     
.red-star {
  color: red;
  position: relative;
  margin-left: 5px;
 top: 0px;
  font-size: 10px;
  font-weight: bold;
  
}


.submit-button{

font-size: 24PX;
  position: relative;
  left: 200px;
  color: red;
   background-color: #675274;
}