<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attendence</title>
</head>
<body>
 <table >
     <tr style="border: 2px solid pink">
         <th><h1>IN TIME</h1></th>
         <th><h1> OUT TIME</h1></th>
         <th><h1> DATE</h1></th>
     </tr>

  {% for i in a %}
     <tr style="border: 2px solid pink">
   <td> <p>{{i.in_time}}</p></td>
   <td><p>{{i.out_time}}</p></td>
  <td><p>{{i.DATE}}</p></td>
     </tr>
  {% endfor %}
     </table>
 <a href="back">back</a>
</body>
</html>