<app-o-navbar></app-o-navbar>
<div class="main">
  <div class="container" *ngFor="let vehicle of resp">
    <div class="col-md-4">
      <img src="{{vehicle.image}}" width="250" height="200" alt="ldasjvb">
    </div>
    <h4>{{vehicle.brand}}</h4>
    <p class="card-text">
      {{vehicle.model}}
    </p>
    <p>
       Rs {{vehicle.price_day}} / day
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">

        <button type="button" class="btn btn-sm btn-outline-secondary" (click)="deleteVehicle(vehicle.vehicle_no)">Delete</button>
      </div>
    </div>
  </div>
