.container{
  background-color:  rgb(248, 238, 238);

  margin-top: 20px;
  margin-left: 30px;
  width: 350px;


}
.main{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background-color: rgb(248, 238, 238);
  min-height : 73vh;
}

.selection{
  padding: 5px;
  margin: 10px;
}
