body{
    background-color: white;
}
.ticket{
    background-color:white;
    display: flex;
    height:34vh;
    width:64vw;
    border-style: double;
    /* padding:10px */
}
.left{
    height:28vh;
    margin-top: 1vh;
    width: 15vw;
    border-style:dotted;
    border-color: burlywood;
    background-color: white;
    margin-left:1vw;
    margin-right:1vw;
}
.right{
    margin-left: 63px;
    border: 1px black;
    border-style: dotted;
    padding: 5px;
}

