.card{
    margin-top:5vh;
    height:88vh;
    box-shadow: 5px 5px 5px 3px rgb(142, 83, 83);
    background-color: blue;
}
.card-body{
    overflow-y:scroll;
    background-color: blueviolet;
}
.container{
    /* margin:50px 200px 300px; */
    /* text-align: center; */
    padding-top: 5%;
    padding-left: 3%;
    padding-bottom: 5%;
    margin:auto 300px;
    /* background-color: yellow; */


}
.mainform{
    /* background-color: red; */
}
button{

        padding: 10px;
        color:white;
        font-size: larger;
        border-radius: 10px;
        
        background-color:blue;

}