<!-- <p>take-exam works!</p> -->
<!-- <app-student-navbar></app-student-navbar> -->
<!-- <mat-card> -->
<div class="container">
  <div>
      <div>
          <h1>Course:{{course_name}}</h1>
      </div>
      <div>
          <form class="mainform">
              <div *ngFor="let question of h; let i = index">
                  <h3><strong>{{i+1}}.{{question.question_name}}</strong></h3>
                  
                  <div class="form-check" [id]="question.id">
                      <input type="radio" [name]="question.id" value="option1" (change)="onChange(i,$event)">
                      <label class="form-check-label" >{{question.option1}}</label>
                  </div>
                  <div class="form-check" [id]="question.id">
                      <input type="radio" [name]="question.id" value="option2" (change)="onChange(i,$event)" >
                      <label class="form-check-label" >{{question.option2}}</label>
                  </div>
                  <div class="form-check"  [id]="question.id">
                      <input type="radio" [name]="question.id" value="option3" (change)="onChange(i,$event)">
                      <label class="form-check-label">{{question.option3}}</label>
                  </div>
                  <div class="form-check" [id]="question.id">
                      <input type="radio" [name]="question.id" value="option4" (change)="onChange(i,$event)">
                      <label class="form-check-label">{{question.option4}}</label>
                  </div>
                  <br>
              </div>
              <br>
            <mat-card-actions> 
                
                <!-- <button type="submit"  (click)="onSubmit()">submit</button> -->
                <button type="button"   (click)="openDialog()">submit</button>
            </mat-card-actions>
             
              
          </form>
      </div>
  </div>
</div>
