.full-width {
    width: 95%;
    margin: 2%;
}

.top-padding {
    padding-top: 3px;
}

.form-container {
    margin: auto;
    width: 40%;
    color:white;
    height: 53.2rem;
 
}
.body{
    margin-top: 8rem;
    margin-bottom: 8rem;
}

