<div class="container div">
    <!-- <form [formGroup]="postDiscussionForm" (ngSubmit)="onSubmit()"> -->
        <!-- <div class="element">
            <label for="title">Title</label>
            <input formControlName="title" type="text" name="" id="">
        </div>

        <div class="element discussion">
            <label for="title">Discussion</label>
            <textarea formControlName="discussion" type="text" rows="30" name="" id=""></textarea>
        </div>
        <div>
            <button type="submit" [disabled]="!postDiscussionForm.valid" class="btn btn-success">POST</button>
        </div> -->
        
    <!-- </form> -->
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <form [formGroup]="postDiscussionForm" (ngSubmit)="onSubmit()" role="form">
              <div class="form-group">
                <input type="text" formControlName="title" class="form-control" name="title" placeholder="Title"/>
              </div>
              <!-- <div class="form-group">
                <label> Image </label>
                <div class="input-group">
                  
                  <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                      Browse <input type="file" name="bimgs" multiple>
                    </span>
                   </span>
                  <input type="text" class="form-control" readonly>
                 </div>
              </div> -->
              <div class="form-group">
                <textarea formControlName="discussion" class="form-control bcontent" name="content"></textarea>
              </div>
              <div class="form-group">
                 <button [disabled]="!postDiscussionForm.valid" class="btn btn-success" type="submit" name="Submit" value="Publish" class="btn btn-primary form-control">Publish</button>
              </div>
            </form>
          </div>
        </div>
      </div>
</div>