<div class="container">
  <div class="top">
      <div class="text">
      <h1 class="writtenName">{{message}}</h1>
      <h1 class="written">Easy Food</h1>
      <h2 class="written">Discover the best food & drinks near you!</h2>
      <div class="form-outline">
        <input type="search" id="form1" class="written1 form-control search" placeholder="search" aria-label="Search" [(ngModel)]="search" />
       
        <button mat-raised-button color="primary" class="searchB" type="submit" (click)="searchFood(search)" >Search</button>
      </div>
      
    
      </div>
  </div>

  <div class="second block">
  <h2 class="heading">Best Food</h2>
    <div class="cards">  
      <div class="card"  *ngFor="let f of food">
          <img class="image" src="{{f.food_photo}}" (click)="foodClicked(f)" class="card-img-top" alt="{{f.food_name}}"/>
          <div class="card-body">
            <p>{{f.food_name}}</p>
            <p class="card-text">{{f.food_desc}}</p>
          </div>
      </div>
    </div>
  </div>

  <div class="third block">
    <h2 class="heading">Best Restaurants</h2>
    <div class="cards">  
      <div class="card" *ngFor="let r of restaurant">
          <img class="image" src="{{r.restaurant_photo}}" (click)="resClicked(r)" class="card-img-top" alt="{{r.restaurant_name}}"/>
          <div class="card-body">
            <h2>{{r.restaurant_name}}</h2>
            
          </div>
      </div>
    </div>
  </div>

</div>


