<h1>Debit Credit Card</h1>

<form [formGroup]="DebitCardForm" (ngSubmit)="CreateDebitCard()">
    
    <input type="email" placeholder="email" formControlName = 'customer_email'>
    <br><br>
    <input type="text" placeholder="Card Number" formControlName = 'card_number'>
    <br><br>
    <input type="text" placeholder="CVV" formControlName = 'cvv'>
    <br><br>
    <input type="text" placeholder="Expiry Date" formControlName = 'expire_date'>
    <br><br>
    <p [ngStyle]="{'color': response === 'Created' ? 'green':'red'}">{{response}}</p><br>
    <button type = "submit">Submit</button>
    

</form>