<div class="footer-body">
    <div class="footer-cell-1">
        
    <p>About us <br> "Organization Name" was established by business person Kate Cynthia in 1976. Joined by her little girls, Larry and keeth, before long, the trio has developed the business to what it is today.
        The honor winning sisters have buckled down and keep on working unendingly on enhancing and keeping up benchmarks over the business and are now extremely energized with the presentation of the new Beauty and Skin Clinic on Grafton Street 
        “Our customers are vital to us, so we constantly train our specialists to guarantee that all medicines are of the most astounding standard and that every customer gets the best consideration”</p>
    </div>
    <div class="footer-cell-2">
        <div>
        <p>Contact us</p>
        </div>
        <br>
        <div>
        <a href="tel:+919381579640"><mat-icon> phone</mat-icon></a>
        </div>
        <img src="/assets/images/email.png" width="28px" height="28px">
        <div>
        <img  src="/assets/images/facebook.png" width="28px" height="28px">
        </div>
        <br>
        <div>
        <img  src="/assets/images/instagram.png" width="28px" height="28px">
        </div>
        <div>
        <img  src="/assets/images/twitter.png" width="28px" height="28px">
        </div>
        <br>
    </div>
</div>
