<div class="conatiner-fluid">
    <h2 class="heading">Add Food</h2>
    <div class="fields">
        <form [formGroup]="foodForm" class="usersiginform" (ngSubmit)="onSubmit()">

            <p><mat-form-field appearance="outline" class="tag">
            <mat-label>ID</mat-label>
            <input matInput placeholder="" formControlName="food_id">
            </mat-form-field>

           <mat-form-field appearance="outline" class="tag">
            <mat-label>Name</mat-label>
            <input matInput placeholder="" formControlName="food_name">
            </mat-form-field></p>

           <p> <mat-form-field appearance="outline" class="tag">
            <mat-label>Description</mat-label>
            <input matInput placeholder="" formControlName="food_desc">
            </mat-form-field> 

            <mat-form-field appearance="outline" class="tag">
            <mat-label>Photo Url</mat-label>
            <input matInput placeholder="" formControlName="food_photo">
            </mat-form-field> 

            <mat-form-field appearance="outline" class="tag">
            <mat-label>Price</mat-label>
            <input matInput placeholder="" available type="text" formControlName="food_price">
            </mat-form-field></p>
            <mat-form-field appearance="outline" class="tag">
                <mat-label>Restaurant Id</mat-label>
                <input matInput placeholder="" formControlName="restaurant_id">
                </mat-form-field> 
 
            <section class="example-section" class="tag check">
               <input type="checkbox" id="available" name="available" value="true" formControlName="is_available" > &nbsp;
               <label for="available">Food available</label><br>
              </section>
              
   
              
            <button mat-raised-button color="primary" class="tag" type="submit" [disabled]="!foodForm.valid" >Register</button>        
           <button mat-raised-button mat-dialog-close>Close</button>
        </form>
    </div>
</div>