body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: rgb(223, 222, 213);
}

.form-div {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #f9f9f9;
}

.input {
  margin-bottom: 15px;
}

.input label {
  display: block;
  margin-bottom: 5px;
}

.input input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 8px;
}

.slt {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}   

.slt div {
  width: 48%;
}
.slt #cities{
    display: flex;
    justify-content: end;
}
table {
  margin-top: 30px;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #333;
}

th, td {
  padding: 10px;
}
#state{
    max-width: 100px;
}
#city{
    max-width: 100px;
}
.table-container {
    max-height: 300px;
    width: 100%;
    overflow-y: auto;
    border: 1px solid #ccc;
}
#dataTable{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    background-color: white;
}
.btn{
    display: flex;
    justify-content: center;
}
#button{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(126, 201, 219);
}
#button:hover{
    padding: 11px;
    transition: ease-in-out;
    cursor: pointer;
}
.languages{
  margin-bottom: 10px;
}
.edit-btn, .delete-btn {
  padding: 6px 12px;
  margin: 2px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-btn {
  background-color: #3498db;
  color: white;
}

.edit-btn:hover {
  background-color: #2980b9;
}

.delete-btn {
  background-color: #e74c3c;
  color: white;
}

.delete-btn:hover {
  background-color: #c0392b;
}
.del{
  display: flex;
  justify-content: center;
}