
<div class="row">
  <div class="col-3 d-flex flex-column">
    <button routerLink="./home">Home</button>
    <button routerLink="./users">Users</button>
    <button routerLink="./tours">Tours</button>
    <button routerLink="./coupons">Coupons</button>
    <button routerLink="./vehicles">Vehicles</button>
    <button routerLink="./places">Places</button>
    <button routerLink="./enquiries">Enquiries</button>
    <button routerLink="./bookings">Bookings</button>
    <button routerLink="./cancellation">Cancellations</button>
    <button routerLink="./package">Packages</button>
    <button routerLink="./employees">Employees</button>
  </div>
  <div class="col-9">
    <router-outlet></router-outlet>
  </div>
</div>

