
<div class="row">
  <div class="col-3 d-flex flex-column">
    <!-- <button routerLink="./home">Home</button> -->
    <button class="pt-2 pb-2 border-0 mb-2" routerLink="./users">Users</button>
    <button class="pt-2 pb-2 border-0 mb-2" routerLink="./tours">Tours</button>
    <button class="pt-2 pb-2 border-0 mb-2" routerLink="./coupons">Coupons</button>
    <button class="pt-2 pb-2 border-0 mb-2" routerLink="./vehicles">Vehicles</button>
    <button class="pt-2 pb-2 border-0 mb-2" routerLink="./places">Places</button>
    <button class="pt-2 pb-2 border-0 mb-2" routerLink="./enquiries">Enquiries</button>
    <button class="pt-2 pb-2 border-0 mb-2" routerLink="./bookings">Bookings</button>
    <button class="pt-2 pb-2 border-0 mb-2" routerLink="./cancellation">Cancellations</button>
    <button class="pt-2 pb-2 border-0 mb-2" routerLink="./package">Packages</button>
    <button class="pt-2 pb-2 border-0 mb-2" routerLink="./employees">Employees</button>
  </div>
  <div class="col-9">
    <router-outlet></router-outlet>
  </div>
</div>

