<app-navbar>

</app-navbar>

<!-- <div class="body">
    <div class="part1">
        <h1>Hello</h1>
       
        <h1>Welcome to Online Examination System</h1>
        <h1>Attend your Online Exams here</h1>
    </div>
    <div class="part2">
        <h3>Select any of these to access the system</h3>
        <button routerLink="../registerstudent"  class="nabButton" mat-button> Signup as student</button>
        <button routerLink="../userlogin">Login</button>
    </div>
</div> -->
<div class="body">
<!-- <div class="main">
<mat-card class="example-card">
    
    <br>
    <mat-card-title>Hello</mat-card-title>
    <br><br>
    <mat-card-content>
        <h1>Welcome to Online Examination System</h1>
        <br>
        <h1>Attend your Online Exams here</h1>
        <br>
        <h3>Select any of these to access the system</h3>
      
      <p></p>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
        <br>
      <button routerLink="../registerstudent"  class="nabButton"  mat-button >Signup as Student</button>
      <button routerLink="../userlogin" class="nabButton" mat-button>Login</button>
      
      
    </mat-card-actions>
    <br>
    <mat-card-footer>
     
    </mat-card-footer>
  </mat-card> -->
<!-- </div> -->
<!-- <div class="content"><strong><h1  style="font-weight: 900;">Proposed by: Medplus Team</h1></strong></div> -->


</div>
