tr,td,th{
    border: 1px solid black;
    text-align: center;
}
table{
    width:100%
}
th{
    background-color: lavender;
}
.top{
    background-color: rgb(22, 22, 47);
    color: white;
}
.left{
    margin-left: 10px;
}
.btn:hover{
    background-color: white;
    color:crimson
}