
{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<title>Ecommerce</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static "signup_login.css"  %}">

</head>
<body>
<div class="signup-form">
    <form action="{% url 'signup'%}" method="post">
		{% csrf_token %}
	{% for i in messages %}
	<h3>{{i}}</h3>
	{% endfor %}
		<h2>Sign Up</h2>
		<p>Please fill in this form to create an account!</p>
		<hr>
		<div class="form-group">
        	<input type="text" class="form-control" name="uname" placeholder="Username" required="required">
        </div>
        <div class="form-group">
			<div class="row">
				<div class="col-xs-6"><input type="text" class="form-control" name="first_name" placeholder="First Name" required="required"></div>
				<div class="col-xs-6"><input type="text" class="form-control" name="last_name" placeholder="Last Name" required="required"></div>
			</div>
        </div>
        <div class="form-group">
        	<input type="email" class="form-control" name="email" placeholder="Email" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required">
        </div>
        <div class="form-group">
			<label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
		</div>
		<div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
        </div>
		<div class="form-group">
			<input type="radio" class="" name="person" value="buyer">Signup as Buyer<span>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</span>
			<input type="radio" name="person" value="seller">Signup as Seller
		</div>
    </form>
	<div class="hint-text">Already have an account? <a href="{% url 'login1' %}">Login here</a></div>

</div>
</body>
</html>