<!-- 
<form  (submit)="loginSubmit()" [formGroup] = "login">
    <section class="vh-100" style="background-color: #508bfc;">

      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
                <h1>Login   </h1> <br>
                <h5 id="invaild"> </h5>
                <div class="form-outline mb-4">
                  <input type="email" id="typeEmailX-2" name="login_id" class="form-control form-control-lg" required
                    />
                  <label class="form-label" for="typeEmailX-2">Email id</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="typePasswordX-2" name="password" class="form-control form-control-lg"
                    required  />
                  <label class="form-label" for="typePasswordX-2">Password</label>
                </div>
                <p>Login As</p>
                <select name="dropdown" class="form-select" aria-label="Default select example" required
                  >

                  <option value="1">Freelancer</option>
                  <option value="2">Client</option>
                </select> <br>

                <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>


              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form> -->


<!-- <form (submit)="submitFun()" [formGroup] = "userdata" >
    <label for="firstname">First Name : </label>
    <input type="text" formControlName="firstname" id="firstname"> <br>
    <small *ngIf="userdata.get('firstname').invalid && userdata.get('firstname').touched ">Enter a valid first name</small>
    <br>
    <label for="lastname">Last Name : </label>
    <input type="text" formControlName = 'lastname' > <br>
    <small *ngIf="userdata.get('lastname').invalid && userdata.get('lastname').touched ">Enter a valid last name</small> <br>
    <button   [disabled]="userdata.invalid" type="submit">submit</button>
</form>
<button routerLink= "../login" >register</button>
<br> <br>
<button (click)="submit()">sendData</button> -->
<!-- <ul  *ngFor="let i of response ">
    <li>{{ i.name }}  </li>
</ul> -->
<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg">Your Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cg">Password</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href=""
                    routerLink="../login" class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>