.example-large-box {
    /* display: flex;
    justify-content: center; */
  background-color: black;
 
  }
 
  
  .example-large-box {
    width: 100%;
    background-color: black;
  }

  .add{
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .add button{
    background-color: #eb008b;
    
  }
 
