.example-full-width {
    width: 40%;
    padding-right: 10px;

}

.card1{
  padding-top: 30px;
  width :45%;
  padding-left: 25%;
}
.card-2{
  width: 50%;

}
.error-message{
  font-size: 15px;
  color: red;
}
 