<mat-toolbar color="primary">
   
    <span routerLink="" class="title">Easy Food</span>
    <span class="example-spacer"></span>
    <div class="example-button-row">
        
        <button mat-raised-button color="primary" routerLink="../restaurants/login" *ngIf="!authenticated">Login</button>
        <button mat-raised-button color="primary" routerLink="../restaurants/signin" *ngIf="!authenticated">SignIn</button>
        <button mat-raised-button color="primary" (click)="logout()" *ngIf="authenticated">Logout</button>
        <button mat-raised-button color="primary" routerLink="../restaurants/profile" *ngIf="authenticated">profile</button>
        <button mat-button [matMenuTriggerFor]="belowMenu" *ngIf="!authenticated">Manage Restaurant</button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
            <button mat-menu-item routerLink="../restaurants/login">Login</button>
            <button mat-menu-item routerLink="../restaurants/signin">Signin</button>
        </mat-menu>
   

       
    </div>
 
  </mat-toolbar>
