<form class="global-form" [formGroup]="CancellationForm" (ngSubmit)="addCancellationObj()">
  <!-- <mat-form-field class="global-form-full-width" appearance="fill">
    <mat-label>bookingid</mat-label>
    <input type="text" name="bookingid" matInput formControlName="bookingid" placeholder="bookingid"
      class="">
  </mat-form-field> -->

  <mat-form-field appearance="fill">
    <mat-label>bookingid</mat-label>
    <select matNativeControl formControlName="bookingid">
      <option value="" selected>------</option>
      <option *ngFor="let booking of bookingList" value={{booking.id}}> booking_object{{booking.id}}</option>
    </select>
  </mat-form-field>
  <p>selected: {{CancellationForm.get('bookingid')?.value}}</p>

  <mat-form-field class="global-form-full-width" appearance="fill">
    <mat-label>refund_status</mat-label>
    <input type="text" name="refund_status" matInput formControlName="refund_status" placeholder="refund_status"
      class="">
  </mat-form-field>
  <mat-form-field class="global-form-full-width" appearance="fill">
    <mat-label>cancellation_charges</mat-label>
    <!-- <textarea rows="5" type="text" name="cancellation_charges" matInput formControlName="cancellation_charges" placeholder="cancellation_charges"
      class="">
    </textarea> -->
    <input type="number" name="cancellation_charges" matInput formControlName="cancellation_charges" placeholder="cancellation_charges"
      class="">
  </mat-form-field>

  <mat-form-field class="global-form-full-width" appearance="fill">
    <mat-label>reason_for_cancellation</mat-label>
    <input type="text" name="reason_for_cancellation" matInput formControlName="reason_for_cancellation" placeholder="reason_for_cancellation"
      class="">
  </mat-form-field>

  <button mat-raised-button [disabled]="CancellationForm.invalid" class="">Add</button>
</form>
